{% extends '::menu.html.twig' %}
{% block title %}Perfil{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'editarUsuario.html.twig' %}
        <div class="content-page">
            <div class="profile-banner"
                 style="background-image: url({{ asset('assets/img/1epgUO0.jpg') }});">
                <div class="col-sm-3 avatar-container">
                    <img src="{{ asset('assets/images/users/') ~ foto }}" class="img-circle profile-avatar"
                         alt="{{ username | capitalize }}" id="foto" style="cursor: pointer" data-toggle="tooltip"
                         data-placement="top" title="Clic para subir una foto">
                    <form action="{{ path('foto_perfil') }}" method="POST" enctype="multipart/form-data">
                        <input type="file" name='fotoperfil' id="fotoPerfil" class="form-control visibility: hidden"/>
                        <input type="submit" style="display: none" id="subirFoto">
                    </form>
                </div>
                <div class="col-sm-12 profile-actions text-right">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-placement="top"
                            title="Editar" data-target="#editarUsuario" onclick="editarPerfil({{ results.id }})">
                        <i class="fa fa-edit"></i> Editar Perfil
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="text-center user-profile-2">
                            <h4>Bienvenido, <b>{{ username | capitalize }}</b></h4>
                            <h5>{{ results.cargo }}</h5>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="widget widget-tabbed">
                            <!-- Nav tab -->
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-user"></i>
                                        Sobre mí</a></li>
                                {#<li><a href="#user-activities" data-toggle="tab"><i class="fa fa-laptop"></i>
                                        Actividades</a>
                                </li>#}
                            </ul>
                            <!-- End nav tab -->
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Tab about -->
                                <div class="tab-pane animated active fadeInRight" id="about">
                                    <div class="user-profile-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5><strong>Información de contacto:</strong></h5>
                                            </div>
                                            <div class="col-md-6">
                                                <strong>Teléfono:</strong><br>
                                                <p title="Telefono" id="telefonoPerfil"
                                                   data-telefono="{{ results.telefono }}"
                                                   data-nombre="{{ results.username }}"
                                                   data-tipo="{{ results.tipoUsuario }}">{{ results.telefono }}</p>
                                                <strong>Dirección:</strong><br>
                                                <p title="Direccion" id="direccionPerfil"
                                                   data-direccion="{{ results.direccion }}">{{ results.direccion }}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <strong>Correo:</strong><br>
                                                <p title="Correo" id="correoPerfil"
                                                   data-correo="{{ results.email }}">{{ results.email }}</p>
                                                <strong>Cargo:</strong><br>
                                                <p title="Cargo" id="cargoPerfil"
                                                   data-cargo="{{ results.cargo }}">{{ results.cargo }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tab about -->
                                <!-- Tab user activities -->
                                {#<div class="tab-pane animated fadeInRight" id="user-activities">#}
                                {#<div class="scroll-user-widget">
                                    <ul class="media-list">
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>John Doe</strong> Uploaded a photo <strong>&#34;DSC000254.jpg&#34;</strong>
                                                <p>Descripción</p>
                                                <br/><i>2 minutes ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>John Doe</strong> Created an photo album <strong>&#34;Indonesia
                                                        Tourism&#34;</strong>
                                                <p>Descripción</p>
                                                <br/><i>8 minutes ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>Annisa</strong> Posted an article <strong>&#34;Yogyakarta
                                                        never ending Asia&#34;</strong>
                                                <p>Descripción</p>
                                                <br/><i>an hour ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>Ari Rusmanto</strong> Added 3 products
                                                <p>Descripción</p>
                                                <br/><i>3 hours ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>Hana Sartika</strong> Send you a message <strong>&#34;Lorem
                                                        ipsum dolor...&#34;</strong>
                                                <p>Descripción</p>
                                                <br/><i>12 hours ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>Johnny Depp</strong> Updated his avatar
                                                <p>Descripción</p>
                                                <br/><i>Yesterday</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>John Doe</strong> Uploaded a photo <strong>&#34;DSC000254.jpg&#34;</strong>
                                                <p>Descripción</p>
                                                <br/><i>2 minutes ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>John Doe</strong> Created an photo album <strong>&#34;Indonesia
                                                        Tourism&#34;</strong>
                                                <p>Descripción</p>
                                                <br/><i>8 minutes ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>Annisa</strong> Posted an article <strong>&#34;Yogyakarta
                                                        never ending Asia&#34;</strong>
                                                <p>Descripción</p>
                                                <br/><i>an hour ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>Ari Rusmanto</strong> Added 3 products
                                                <p>Descripción</p>
                                                <br/><i>3 hours ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>Hana Sartika</strong> Send you a message <strong>&#34;Lorem
                                                        ipsum dolor...&#34;</strong>
                                                <p>Descripción</p>
                                                <br/><i>12 hours ago</i></p>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a href="#">
                                                <p><strong>Johnny Depp</strong> Updated his avatar
                                                <p>Descripción</p>
                                                <br/><i>Yesterday</i></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>#}
                                {#</div>#}
                                <!-- End Tab user activities -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}