{% extends '::menu.html.twig' %}
{% block title %}Usuarios{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevoUsuario.html.twig' %}
        {% include 'editarUsuario.html.twig' %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="fa fa-user"></i>
                        Gestión de usuarios
                    </h1>
                    <h3>Lista de usuarios de Asoquim</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2 class="text-left">Gestión de usuarios:</h2>
                                <div class="additional-btn">
                                    <button class="btn btn-xs btn-success" data-toggle="modal"
                                            data-target="#nuevoUsuario"><i
                                                class="fa fa-plus-circle"></i> Agregar
                                    </button>
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listausuarios" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Correo</th>
                                        <th>Cargo</th>
                                        <th>Dirección</th>
                                        <th>Estatus</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in results %}
                                        <tr role="row" class="odd" data-role="{{ result.roles[0] }}"
                                            id="rowUser{{ result.id }}">
                                            <td id="nombreUsuario{{ result.id }}"
                                                data-username="{{ result.username | capitalize }}">{{ result.username | capitalize }}</td>
                                            <td id="telefonoUsuario{{ result.id }}"
                                                data-telefono="{{ result.telefono }}"
                                                data-tipo="{{ result.tipoUsuario }}">{{ result.telefono }}</td>
                                            <td id="correoUsuario{{ result.id }}"
                                                data-email="{{ result.email }}">{{ result.email }}</td>
                                            <td id="cargoUsuario{{ result.id }}"
                                                data-cargo="{{ result.cargo }}">{{ result.cargo }}</td>
                                            <td id="direccionUsuario{{ result.id }}"
                                                data-address="{{ result.direccion }}">{{ result.direccion }}</td>
                                            {% if result.status == 1 %}
                                                <td class="text-center">
                                                    <label class="label label-success">Activo</label>
                                                </td>
                                            {% else %}
                                                <td class="text-center">
                                                    <label class="label label-danger">Inactivo</label>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <div class="text-center">
                                                    <div class="btn-group btn-group-xs">
                                                        {% if result.status == 0 %}
                                                            <a class="btn btn-xs btn-success btn-tooltip md-trigger"
                                                               data-toggle="tooltip" data-placement="top"
                                                               data-modal="md-activar-usuario"
                                                               onclick="activarUsuario({{ result.id }})"
                                                               data-usuario="{{ result.id }}"
                                                               title="Activar" role="button" id="activarUsuario">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        {% else %}
                                                            <a class="btn btn-xs btn-danger btn-tooltip md-trigger"
                                                               data-toggle="tooltip" data-placement="top"
                                                               data-modal="md-desactivar-usuario"
                                                               onclick="desactivarUsuario({{ result.id }})"
                                                               data-usuario="{{ result.id }}"
                                                               title="Desactivar" id="desactivarUsuario" role="button">
                                                                <i class="fa fa-minus"></i>
                                                            </a>
                                                        {% endif %}
                                                        <a class="btn btn-xs btn-default btn-tooltip"
                                                           data-toggle="modal" data-placement="top" title="Editar"
                                                           data-target="#editarUsuario"
                                                           onclick="editarUsuario({{ result.id }})">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para activar -->
            <div class="md-modal md-super-scaled md-hide" id="md-activar-usuario">
                <div class="md-content">
                    <h3>¿Está seguro de que desea <strong>activar</strong> este usuario?</h3>
                    <input type="hidden" id="activarU" value=""/>
                    <div>
                        <p class="text-center">
                            <button class="btn btn-danger md-close">Cerrar</button>
                            <button class="btn btn-success md-close" onclick="activarUser()">Sí, seguro</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Fin modal para activar -->
            <!-- Modal para desactivar -->
            <div class="md-modal md-super-scaled md-hide" id="md-desactivar-usuario">
                <div class="md-content">
                    <h3>¿Está seguro de que desea <strong>desactivar</strong> este usuario?</h3>
                    <input type="hidden" id="desactivarU" value=""/>
                    <div>
                        <p class="text-center">
                            <button class="btn btn-danger md-close">Cerrar</button>
                            <button class="btn btn-success md-close" onclick="desactivarUser()">Sí, seguro</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Fin modal para desactivar -->
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#listausuarios').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });
    </script>
{% endblock %}