<div class="modal fade" id="ActividadCaso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Actividades del Caso</h1>
            </div>
            <form action="{{ path('casos_editaractividadcaso') }}" name="fcontacto" method="POST"
                  enctype="multipart/form-data">
                <input type="hidden" name="actividadcodigo" id="actividadcodigo" value=""/>
                <input type="hidden" name="cantidad_edit" id="cantidad_edit" value="">
                <input type="hidden" name="cantidad_nuevo" id="cantidad_nuevo" value="">
                <input type="hidden" name="cantidad_actividades" id="cantidad_actividades" value="">
                <div style="padding-left: 16px;padding-right: 17px;margin-top: 10px;">
                    <div class="alert alert-success alert-dismissable" style="display:none;text-align: center">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span class="contenido_alert"></span>
                    </div>
                </div>
                <div class="modal-body panel-group" id="editaraccordion" role="tablist" aria-multiselectable="true"
                     style="display:none">
                    <div class="panel panel-primary" id="paso" style="display:none">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title text-center">
                                <a class="collapsed" role="button" id="titulos" data-toggle="collapse"
                                   data-parent="#editaraccordion"
                                   href="#editarcollapseThree" aria-expanded="true" aria-controls="editarcollapseThree">
                                    Nueva Actividad
                                </a>
                                <a class="pull-right">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                    <span class="btn btn-xs eliminar_edit"
                                          style="cursor: pointer;background-color: #9cc2cb;color: #ffffff;"
                                          title="Eliminar Nueva Actividad">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                </a>
                            </h4>
                        </div>
                        <div id="editarcollapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="nombreactividad">Organismo o Institución:</label>
                                        <input type="text" class="form-control" name="editnombreactividad[]"
                                               id='editnombreactividad'/>
                                        <input type="text" name="idactividad[]" id="idactividad" value=""
                                               style="display:none"/>
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="registroEmpresa">Fecha Inicio:</label>
                                        <input type="text" name="editfechainicioactividad[]"
                                               id='editfechainicioactividad'
                                               class="form-control editfechainicioactividad">

                                    </div>
                                    <div class="col-xs-3">
                                        <label for="registroEmpresa">Fecha Fin:</label>
                                        <input type="text" name="editfechafinactividad[]" id='editfechafinactividad'
                                               class="form-control editfechafinactividad">
                                    </div>
                                    <div class="col-xs-3">
                                        <label for="estatus">Estatus:</label>
                                        <select name="editstatusactividad[]" id="editstatusactividad"
                                                class="form-control">
                                            <option value="">- Seleccione -</option>
                                            <option value="1">Abierto</option>
                                            <option value="2">En progreso</option>
                                            <option value="3">Detenida</option>
                                            <option value="4">Completada</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label for="descripcion">Descripción:</label>
                                        <textarea name="editdescripcion[]" class="form-control" id="editdescripcion"
                                                  rows="2" style="width: 832px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" id="agregaredit" class="btn btn-success">Agregar Actividad</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>