<div class="modal fade" id="aprobarMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Aprobar comunicado</h1>
            </div>
            <div class="modal-body text-center">
                <h3>¿Desea aprobar este comunicado para su envío?</h3>
                <h4 class="text-info" id="msgApprove" style="display: none;"><strong>(Su aprobación enviará el comunicado)</strong></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="aprobarComunicado" data-loading-text="Cargando...">
                    Aprobar <i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
</div>