<div class="modal fade" id="aprobarPendiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Aprobar empresa</h1>
            </div>
            <form action="{{ path('aprobar_empresa') }}" method="POST" id="aprobandoEmpresa">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="empresaAprobada" id="empresaAprobada"/>
                                <label for="">Introduzca el código para el nuevo afiliado:</label>
                                <input type="text" class="form-control" name="codigoAfiliado" title=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Indique fecha de aprobación de la Junta Directiva:</label>
                                <input type="text" class="form-control fechaAprobacion" name="fechaAprobacion"
                                       title=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipoMiembro">Seleccione el tipo de miembro que sera el afiliado:</label>
                                <select name="tipoMiembro" class="form-control" title="">
                                    <option value="">-Seleccione-</option>
                                    <option value="0">Activo</option>
                                    <option value="1">Adherente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="grupoAfiliado">Indique el grupo al cual afiliar:</label>
                                <select name="grupoAfiliado" class="form-control" title="">
                                    <option value="">-Seleccione-</option>
                                    {% for grupo in grupos %}
                                        <option value="{{ grupo.idGrupo }}">{{ grupo.descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="segmentoAfiliado">Indique el segmento al cual afiliar:</label>
                                <select name="segmentoAfiliado" class="form-control" title="">
                                    <option value="">-Seleccione-</option>
                                    {% for segmento in segmentos %}
                                        <option value="{{ segmento.idSegmento }}">{{ segmento.descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sectorAfiliado">Indique el sector de la empresa:</label>
                                <select name="sectorAfiliado[]" class="form-control selectpicker" multiple
                                        data-live-search-placeholder="Buscar"
                                        data-actions-box="true" title="-Seleccione-">
                                    {% for sector in sectores %}
                                        <option value="{{ sector.idSector }}">{{ sector.descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>