<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Asoquim | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <!-- Base Css Files -->
    <link href="{{ asset('assets/libs/prettify/prettify.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/fontello/css/fontello.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/animate-css/animate.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/nifty-modal/css/component.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/magnific-popup/magnific-popup.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/ios7-switch/ios7-switch.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/pace/pace.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/sortable/sortable-theme-bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/jquery-icheck/skins/all.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css">
    <!-- Code Highlighter for Demo -->
    <link href="{{ asset('assets/libs/prettify/github.css') }}" rel="stylesheet"/>
    <!-- Extra CSS Libraries Start -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Extra CSS Libraries End -->
    <link href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/jquery-notifyjs/styles/metro/notify-metro.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('assets/libs/bootstrap-validator/css/bootstrapValidator.min.css') }}"
          rel="stylesheet" type="text/css"/>

    <link href="{{ asset('assets/libs/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/libs/sortable/sortable-theme-bootstrap.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('assets/libs/bootstrap-xeditable/css/bootstrap-editable.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('assets/libs/grapesjs/dist/css/grapes.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/libs/grapesjs/dist/css/grapesjs-plugin-filestack.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/libs/grapesjs/dist/css/grapesjs-preset-newsletter.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('assets/css/bootstrap-select.css') }}" rel="stylesheet" type="text/css"/>

    {#<link href="{{asset('assets/libs/bootstrap-select/bootstrap-select.min.css')}}" rel="stylesheet" type="text/css" />#}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/img/apple-touch-icon.png') }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/apple-touch-icon-152x152.png') }}"/>
    {% block stylesheets %}
    {% endblock %}
</head>

{% block body %}{% endblock %}
{% block javascript %}
    <script>var resizefunc = [];</script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {#<script src="{{ asset('assets/libs/jquery/jquery-1.11.1.min.js') }}"></script>#}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><!--para el datepicker -->
    <script src="{{ asset('assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap/js/bootstrap.min.js') }}"></script>
    {#<script src="{{ asset('assets/js/jquery-2.1.3.min.js') }}"></script>#}
    {# <script src="{{ asset('assets/js/bootstrap-3.3.2.min.js') }}"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" rel="stylesheet"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" rel="stylesheet"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js" rel="stylesheet"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js" rel="stylesheet"></script>
    <script src="{{ asset('assets/libs/jquery-detectmobile/detect.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-animate-numbers/jquery.animateNumbers.js') }}"></script>
    <script src="{{ asset('assets/libs/ios7-switch/ios7.switch.js') }}"></script>
    <script src="{{ asset('assets/libs/fastclick/fastclick.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-blockui/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-bootbox/bootbox.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-sparkline/jquery-sparkline.js') }}"></script>
    <script src="{{ asset('assets/libs/nifty-modal/js/classie.js') }}"></script>
    <script src="{{ asset('assets/libs/nifty-modal/js/modalEffects.js') }}"></script>
    <script src="{{ asset('assets/libs/sortable/sortable.min.js') }}"></script>
    {#<script src="{{ asset('assets/libs/bootstrap-fileinput/bootstrap.file-input.js') }}"></script>#}
    <script src="{{ asset('assets/libs/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/libs/pace/pace.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-icheck/icheck.min.js') }}"></script>
    <script src="{{ asset('assets/libs/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('assets/js/pages/form-validation.js') }}"></script>
    {# <script src="{{asset('assets/libs/bootstrap-select/bootstrap-select.min.js')}}"></script>
     <script src="{{asset('assets/libs/bootstrap-select2/select2.min.js')}}"></script>#}
    <script src="{{ asset('assets/js/bootstrap-select.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('assets/libs/spinjs/spin.min.js') }}"></script>
    <script src="{{ asset('assets/js/pages/form-wizard.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-wizard/jquery.easyWizard.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>
    <script src="{{ asset('assets/libs/grapesjs/dist/grapes.min.js') }}"></script>
    <script src="{{ asset('assets/libs/grapesjs/dist/grapesjs-plugin-filestack.min.js') }}"></script>
    <script src="{{ asset('assets/libs/grapesjs/dist/grapesjs-preset-newsletter.min.js') }}"></script>
    <!-- Demo Specific JS Libraries -->
    <script src="{{ asset('assets/libs/prettify/prettify.js') }}"></script>
    {#<script src="{{ asset('assets/libs/filterizr/jquery.filterizr.min.js') }}"></script>#}
    <script src="{{ asset('assets/libs/filterizr/jquery.filterizr.js') }}"></script>
    <script src="{{ asset('assets/js/pages/notifications.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-notifyjs/notify.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-notifyjs/styles/metro/notify-metro.js') }}"></script>
    <script src="{{ asset('assets/js/init.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
</html>