<div class="modal fade" id="editarFechaCobranza" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Editar día de cobranza</h1>
            </div>
            <form method="POST" action="{{ path('afiliados_editar_fecha_cobranza', {'id': app.request.get('id')}) }}"
                  id="afiliadosbundle_pagos_editar_fecha_cobranza">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Día de cobranza:</label>
                                <input type="text" class="form-control editfechaDeCobranza" name="fechaCobranza" placeholder="ej: Lunes"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>