<div class="modal fade" id="modalEditarPago" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Editar pago</h1>
            </div>
            <form id="veditar_pagos" method="POST" action="{{ path('editar_pago') }}">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="idPago" name="idPago" value=""/>
                                <input type="hidden" id="rif" name="rif" value="{{ app.request.get('id') }}">
                                <label for="fechaPago">Fecha de Pago:</label>
                                <input type="text" class="form-control datepicker fechaPago"
                                       name="fechaPago" title=""/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="monto">Monto:</label>
                                <div class="input-group">
                                    <input class="form-control monto" type="number" id="monto" name="monto" required>
                                    <span class="input-group-addon">BsF.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                                <textarea class="form-control descripcion" type="text" id="descripcion" name="descripcion"
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="editPago">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>