<div class="modal fade" id="editarCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Editar categoría</h1>
            </div>
            <form action="{{ path('comunicado_editar_categoria') }}" method="POST">
                <div class="modal-body">
                    <input type="hidden" id="idCategory" name="id"/>
                    <div class="form-group">
                        <label>Categoría:</label>
                        <input type="text" name="descripcion" class="form-control editCategoriaComunicado" title=""/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>