<div class="modal fade" id="editarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Editar usuario</h1>
            </div>
            {{ form_start(formEdit) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" id="idUsuario" value=""/>
                            {{ form_label(formEdit.username, 'Nombre del usuario:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(formEdit.username, {'attr': {'class': 'form-control nombreUsuario'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(formEdit.email, 'Correo:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(formEdit.email, {'attr': {'class': 'form-control correoUsuario'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(formEdit.telefono, 'Teléfono:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(formEdit.telefono, {'attr': {'class': 'form-control telefonoUsuario'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(formEdit.cargo, 'Cargo:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(formEdit.cargo, {'attr': {'class': 'form-control cargoUsuario'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(formEdit.direccion, 'Dirección:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(formEdit.direccion, {'attr': {'class': 'form-control direccionUsuario'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(formEdit.tipoUsuario, 'Tipo de usuario:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(formEdit.tipoUsuario, {'attr': {'class': 'form-control tipoUsuario'}}) }}
                            {{ form_label(formEdit.roles, 'Tipo de usuario:', {'label_attr': {'class': 'control-label visibility: hidden'}}) }}
                            {{ form_widget(formEdit.roles, {'attr': {'class': 'form-control visibility: hidden'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(formEdit.plainPassword.first, 'Contraseña:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(formEdit.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(formEdit.plainPassword.first) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(formEdit.plainPassword.second, 'Repita la contraseña:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(formEdit.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="editUser">Guardar</button>
            </div>
            {{ form_end(formEdit) }}
        </div>
    </div>
</div>