<div class="modal fade" id="editarCaso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Editar caso</h1>
            </div>
            <form action="{{ path('casos_guardaedicion') }}" name="fcontacto" method="POST"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <div id="foo"></div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="nombreEmpersa">Nombre:</label>
                                <input type="hidden" class="form-control" name="editarcodigo" id="editarcodigo"
                                       title=""/>
                                <input type="text" class="form-control" name="editarnombreCaso" id="editarnombreCaso"
                                       title="" required/>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="registroEmpresa">F. Inicio:</label>
                                <input type="text" name="editarfechainicio" id='editarfechainicio'
                                       class="form-control editarfechainicio"
                                       title="" disabled/>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="registroEmpresa">F. Final:</label>
                                <input type="text" name="editarfechafin" id='editarfechafin'
                                       class="form-control editarfechafin"
                                       title="" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input type="hidden" name="editarencargado" id="editarencargadooculto">
                                <label for="encargado">Encargado del caso:</label>
                                <select class="selectpicker" name="editarencargado" id="editarencargado"
                                        required title="">
                                    <option value="">Seleccione</option>
                                    {% for usuario in usuarios %}
                                        <option value="{{ usuario.id }}">{{ usuario.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="Afiliado">Asignar afiliados:</label>
                                <select class="selectpicker" id="editarafiliado" name="editarafiliado[]" multiple
                                        data-live-search="true" data-live-search-placeholder="Search"
                                        data-actions-box="true" title="" required>
                                    {% for datos in empresa %}
                                        <option value="{{ datos.rif }}">{{ datos.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <label for="Estatus">Estatus:</label>
                            <select name="editarstatus" onchange="fechacierre(this.value)" id="editarstatus"
                                    class="form-control" title="" required>
                                <option value="">Seleccione</option>
                                <option value="1"> Abierto</option>
                                <option value="2"> Cerrado</option>
                            </select>
                        </div>
                    </div>
                    <div class="row disappeared" id="cerrar_caso">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="fechacierre">Fecha Cierre:</label>
                                <input type="text" name="fechacerrar" id='fechacerrar'
                                       class="form-control" title=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 document-question">
                            <input type="hidden" name="idDocumento" id="idDocumento" value="NO" required/>
                            <div class="form-group">
                                <label for="EditarDocumento">¿Desea ingresar algún documento al caso?:</label>
                                <input type="radio" name="editardocumento" value="SI" id="agregarSi" title=""/>
                                Si
                                <input type="radio" name="editardocumento" value="NO" id="agregarNo" title=""/>
                                No
                            </div>
                        </div>
                        <div class="col-sm-4 disappeared document-field">
                            <div class="form-group">
                                <label for="documentocaso">Documento:</label>
                                <input type="file" name="documentocaso" class="form-control documentocaso">
                            </div>

                        </div>
                        <span id="documentover"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="descripcionCaso">Descripción:</label>
                                <textarea class="form-control" name="descripcionCaso" id="descripcionCasoEditar"
                                          rows="3" title=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>