<div class="modal fade" id="editarActividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Editar actividad</h1>
            </div>
            <form action="{{ path('editar_actividad') }}" method="POST">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="idactividad" name="id" value=""/>
                                <input type="hidden" name="codigo" value="{{ app.request.get('id') }}"/>
                                {#<label for="nombre">Nombre de la actividad:</label>
                                <input type="text" class="form-control nombreActividad" name="nombre" required title=""/>#}
                                <label for="usuario">Usuario asignado:</label>
                                <select name="usuario" id="usuarioAsignado" class="form-control usuarioAsignado" required title="">
                                    <option value="">-Seleccione-</option>
                                    {% for u in usuarios %}
                                        <option value="{{ u.id }}">{{ u.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="statusActividad">Status:</label>
                                <select class="form-control" id="statusActividad" name="statusActividad" required>
                                    <option values="">-Seleccione-</option>
                                    <option value="1">Abierta</option>
                                    <option value="2">En progreso</option>
                                    <option value="3">Detenida</option>
                                    <option value="4">Completada</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {#<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fechaInicio">Fecha de inicio:</label>
                                <input type="text" class="form-control editfechainicioa" name="fechaInicio" required title=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fechaCierre">Fecha de cierre:</label>
                                <input type="text" class="form-control editfechafina" name="fechaCierre" required title=""/>
                            </div>
                        </div>
                    </div>#}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                                <textarea name="descripcion" id="descripcion" rows="5" class="form-control descripcionActividad" required></textarea>
                            </div>
                        </div>
                        {#<div class="col-md-6">
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                                <textarea name="descripcion" id="descripcion" rows="5" class="form-control descripcionActividad" required></textarea>
                            </div>
                        </div>#}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>