<div class="modal fade" id="modalContacto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Editar contacto</h1>
            </div>
            <form action="{{ path('editar_contacto') }}" method="POST" id="editarContacto">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="idContacto" name="idContacto" value=""/>
                                <label for="nombre">Nombre del contacto:</label>
                                <input type="text" class="nombreContact form-control" name="nombre" title=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="correo">Correo:</label>
                                <input type="email" class="form-control correoContact" name="correo" title=""/>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefonoCelular">Teléfono celular:</label>
                                <input type="text" class="form-control telefonoCel" name="telefonoCelular" title=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefonoOficina">Teléfono de oficina:</label>
                                <input type="text" class="form-control telefonoOfice" name="telefonoOficina" title=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cargo">Cargo:</label>
                                <input type="text" class="form-control cargoContact" name="cargo" title=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rif">Empresa:</label>
                                <select name="rif" id="rif" class="rifContact form-control" title="">
                                    <option value="">-Seleccione-</option>
                                    {% for e in empresas %}
                                        <option value="{{ e.rif }}">{{ e.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="region">Región</label>
                                <select name="region" id="region" class="regionContact form-control" title="">
                                    <option value="">-Seleccione-</option>
                                    {% for r in regiones %}
                                        <option value="{{ r.id }}">{{ r.descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><input type="checkbox" id="esRepresentante" name="esRepresentante"/> Es un
                                    representante.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="edit" name="editarContacto">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>