<div class="modal fade" id="eliminarCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Eliminar categoría</h1>
            </div>
            <form action="{{ path('comunicado_eliminar_categoria') }}" method="POST">
                <div class="modal-body">
                    <input type="hidden" id="idDelCategory" name="id"/>
                    <h3 class="text-center">¿Está seguro que desea eliminar esta categoría?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Guardar"/>
                </div>
            </form>
        </div>
    </div>
</div>
</div>