<div class="modal fade" id="eliminarActividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Eliminar actividad</h1>
            </div>
            <form action="{{ path('eliminar_actividad') }}" method="POST">
                <div class="modal-body text-center">
                    <input type="hidden" name="idActividad" id="inputId">
                    <input type="hidden" name="id" value="{{ app.request.get('id') }}">
                    <h5>Está seguro de que desea eliminar esta actividad?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>