{% extends '::base.html.twig' %}
{% block body %}
    <body class="{% block class '' %}">

    <div class="md-modal md-3d-flip-vertical" id="task-progress">
        <div class="md-content">
            <h3><strong>Task Progress</strong> Information</h3>
            <div>
                <p>CLEANING BUGS</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80&#37; Complete</span>
                    </div>
                </div>
                <p>POSTING SOME STUFF</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 65%">
                        <span class="sr-only">65&#37; Complete</span>
                    </div>
                </div>
                <p>BACKUP DATA FROM SERVER</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100" style="width: 95%">
                        <span class="sr-only">95&#37; Complete</span>
                    </div>
                </div>
                <p>RE-DESIGNING WEB APPLICATION</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100&#37; Complete</span>
                    </div>
                </div>
                <p class="text-center">
                    <button class="btn btn-danger btn-sm md-close">Close</button>
                </p>
            </div>
        </div>
    </div>

    <!-- Modal Logout -->
    <div class="md-modal md-just-me" id="logout-modal" style="background: #fff">
        <div class="md-content">
            <h3><strong>Confirmar salida</strong></h3>
            <div>
                <p class="text-center">¿Estás seguro de que deseas salir del sistema?</p>
                <p class="text-center">
                    <button class="btn btn-danger md-close">Cancelar</button>
                    <a href="{{ path('logout') }}" class="btn btn-success md-close">Sí, estoy seguro</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Modal End -->

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <div class="topbar-left">
                <div class="logo text-center">
                    <h2><a href="{{ path('afiliados_homepage') }}"
                           style="color: #fff;font-size: 20px;font-weight: lighter; letter-spacing: 3px;"><b>ASOQUIM</b></a>
                    </h2>
                </div>
                {#<button class="button-menu-mobile open-left">
                    <i class="fa fa-bars"></i>
                </button>#}
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-collapse2">
                        <ul class="nav navbar-nav navbar-right top-navbar">
                            {#<li class="dropdown iconify hide-phone"><a href="#" onclick="toggle_fullscreen()"><i
                                            class="icon-resize-full-2"></i></a></li>#}
                            <li class="dropdown topbar-profile">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                            class="rounded-image topbar-profile-image"><img
                                                src="{{ asset('assets/images/users/') ~ foto }}"></span> {{ username | capitalize }}
                                    <i
                                            class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('perfil_usuario') }}">Mi perfil</a></li>
                                    {#<li><a href="#">Cambiar contraseña</a></li>#}
                                    {#<li><a href="#">Account Setting</a></li>#}
                                    <li class="divider"></li>
                                    {#<li><a href="#"><i class="icon-help-2"></i> Help</a></li>#}
                                    <li><a class="md-trigger" data-modal="logout-modal"><i class="icon-logout-1"></i>
                                            Salir</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <hr class="divider"/>
                <div class="clearfix"></div>
                <!--- Profile -->
                <div class="profile-info">
                    <div class="col-xs-4">
                        <a href="{{ path('perfil_usuario') }}" class="rounded-image profile-image"><img
                                    src="{{ asset('assets/images/users/') ~ foto }}"></a>
                    </div>
                    <div class="col-xs-8">
                        <div class="profile-text">
                            Bienvenido <a href="{{ path('perfil_usuario') }}"
                                          style="color: #fff;">{{ username | capitalize }}</a>
                        </div>
                    </div>
                </div>
                <!--- Divider -->
                <div class="clearfix"></div>
                <hr class="divider"/>
                <div class="clearfix"></div>
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <li class='has_sub'><a href='javascript:void(0);'><i
                                        class='fa fa-briefcase'></i><span>Empresas</span>
                                <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                {% if app.request.get('_route') starts with 'afiliados_dashboard' %}
                                    <li><a href="{{ path('afiliados_dashboard') }}"
                                           class="active"><span>Afiliados</span></a></li>
                                {% else %}
                                    <li><a href="{{ path('afiliados_dashboard') }}"><span>Afiliados</span></a></li>
                                {% endif %}
                                {% if app.request.get('_route') starts with 'afiliados_pendientes' %}
                                <li><a href='{{ path('afiliados_pendientes') }}' class="active"><span>Empresas pendientes por aprobación</span></a>
                                </li>
                            {% else %}
                                <li>
                                    <a href='{{ path('afiliados_pendientes') }}'><span>Empresas pendientes por aprobación</span></a>
                                    {% endif %}
                                    {% if app.request.get('_route') starts with 'afiliados_contactos' %}
                                <li><a href='{{ path('afiliados_contactos') }}'
                                       class="active"><span>Contactos</span></a></li>
                            {% else %}
                                <li><a href='{{ path('afiliados_contactos') }}'><span>Contactos</span></a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class='has_sub'><a href='javascript:void(0);'><i
                                        class='fa fa-book'></i><span>Casos</span> <span class="pull-right"><i
                                            class="fa fa-angle-down"></i></span></a>
                            <ul>
                                {% if app.request.get('_route') starts with 'casos_listadoCasos' %}
                                    <li><a href='{{ path('casos_listadoCasos') }}'
                                           class="active"><span>Lista de casos</span></a></li>
                                {% else %}
                                    <li><a href='{{ path('casos_listadoCasos') }}'><span>Lista de casos</span></a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class='has_sub'><a href='javascript:void(0);'><i
                                        class='glyphicon glyphicon-bullhorn'></i><span>Comunicados</span>
                                <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                <li><a href="{{ path('crear_comunicado') }}"
                                       class="{{ (app.request.get('_route') starts with 'crear_comunicado') ? 'active' : '' }}"><span>Crear comunicado</span></a>
                                </li>
                                {% if app.request.get('_route') starts with 'lista_comunicados' %}
                                    <li><a href='{{ path('lista_comunicados') }}'
                                           class="active"><span>Lista de comunicados</span></a></li>
                                {% else %}
                                    <li><a href='{{ path('lista_comunicados') }}'><span>Lista de comunicados</span></a>
                                    </li>
                                {% endif %}
                                {% if app.request.get('_route') starts with 'lista_correos' %}
                                    <li><a href='{{ path('lista_correos') }}'
                                           class="active"><span>Listas de contactos</span></a></li>
                                {% else %}
                                    <li><a href='{{ path('lista_correos') }}'><span>Listas de contactos</span></a></li>
                                {% endif %}
                                {% if app.request.get('_route') starts with 'comunicado_categorias' %}
                                    <li><a href='{{ path('comunicado_categorias') }}'
                                           class="active"><span>Categorías</span></a></li>
                                {% else %}
                                    <li><a href='{{ path('comunicado_categorias') }}'><span>Categorías</span></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class='has_sub'><a href='javascript:void(0);'><i class='fa fa-table'></i><span>Administrativo</span>
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                                <ul>
                                    {% if app.request.get('_route') starts with 'admin_usuarios' %}
                                        <li><a href='{{ path('admin_usuarios') }}'
                                               class="active"><span>Gestión de usuarios</span></a></li>
                                    {% else %}
                                        <li><a href='{{ path('admin_usuarios') }}'><span>Gestión de usuarios</span></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Left Sidebar End -->
    </div>
    <!-- End of the page. -->
    </body>
{% endblock %}
