<div class="modal fade" id="nuevoContacto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Agregar contacto</h1>
            </div>
            {{ form_start(form, {'attr': { 'action':  path('afiliados_contactos'), 'id': 'afiliadosbundle_contactos' }}) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.nombre, 'Nombre del contacto:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control nombreContacto'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.correo, 'Correo:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.correo, {'attr': {'class': 'form-control correoContacto'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.telefonoCelular, 'Teléfono celular:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.telefonoCelular, {'attr': {'class': 'form-control telefonoCContacto'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.telefonoOficina, 'Teléfono de oficina:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.telefonoOficina, {'attr': {'class': 'form-control telefonoOContacto'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.cargo, 'Cargo:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.cargo, {'attr': {'class': 'form-control cargoContacto'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.rif, 'Empresa:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.rif, {'attr': {'class': 'form-control rifEmpresaContacto'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.id, 'Región:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.id, {'attr': {'class': 'form-control regionContacto'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><input type="checkbox" id="representanteContacto" name="esRepresentante"/> Es un
                                representante.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-primary" name="insertarContacto" value="Guardar"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</div>