<div class="modal fade" id="nuevoPago" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Agregar pago</h1>
            </div>
            {{ form_start(form, {'attr': { 'action':  path('afiliados_pagos', {'id': app.request.get('id')}), 'id': 'afiliadosbundle_pagos' }}) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.fechaPago, 'Fecha del pago:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.fechaPago, {'attr': {'class': 'form-control datepicker fechaDelPago'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.monto, 'Monto:', {'label_attr': {'class': 'control-label'}}) }}
                            <div class="input-group">
                                {{ form_widget(form.monto, {'attr': {'class': 'form-control montoPago'}}) }}
                                <span class="input-group-addon">BsF.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.descripcion, 'Descripción:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.descripcion, {'attr': {'class': 'form-control descripcionPago'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>