<div class="modal fade" id="nuevaCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Agregar categoría</h1>
            </div>
            {{ form_start(form, {'attr': { 'action':  path('comunicado_categorias') }}) }}
            <div class="modal-body">
                {{ form_label(form.descripcion, 'Categoría:', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.descripcion, {'attr': {'class': 'form-control categoriaComunicado'}}) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</div>