<div class="modal fade" id="nuevoContactoEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h2 class="modal-title text-center" id="myModalLabel">Agregar contacto de <span id="empresaContacto"></span></h2>
            </div>
            <form action="{{ path('afiliados_contacto_empresa') }}"
                  method="POST" id="afiliadosbundle_contactosempresa">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="contactoId" name="id" value=""/>
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" class="form-control" title="Nombre"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Correo:</label>
                                <input type="email" id="email" class="form-control" name="correo" title="Correo"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefonoOficina">Teléfono de oficina:</label>
                                <input type="number" id="telefono" name="telefonoOficina" class="form-control"
                                       title="Teléfono"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefonoCelular">Teléfono celular:</label>
                                <input type="number" id="telefono" name="telefonoCelular" class="form-control"
                                       title="Teléfono"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cargo">Cargo:</label>
                                <input type="text" id="cargo" class="form-control" name="cargo" title="Cargo"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="region">Región:</label>
                                <select name="region" id="region" class="form-control" title="">
                                    <option value="">-Seleccione-</option>
                                    {% for r in regiones %}
                                        <option value="{{ r.id }}">{{ r.descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><input type="checkbox" id="representanteContacto" name="esRepresentante"/> Es un
                                    representante.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>