<div class="modal fade" id="nuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Agregar usuario</h1>
            </div>
            <form action="{{ path('admin_usuarios') }}" id="adminbundle_usuarios" method="POST">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombreUsuario" class="control-label">Nombre de usuario:</label>
                                <input type="text" class="form-control nombreUsuarioAdmin" id="nombreUsuario"
                                       name="nombre">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailUsuario" class="control-label">Correo:</label>
                                <input type="text" class="form-control emailUsuarioAdmin" id="emailUsuario"
                                       name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefonoUsuario" class="control-label">Telefono:</label>
                                <input type="text" class="form-control telefonoUsuarioAdmin" id="telefonoUsuario"
                                       name="telefono">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cargoUsuario" class="control-label">Cargo:</label>
                                <input type="text" class="form-control cargoUsuarioAdmin" id="cargoUsuario"
                                       name="cargo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="direccionUsuario" class="control-label">Dirección:</label>
                                <textarea name="direccion" id="direccionUsuario" rows="5"
                                          class="form-control direccionUsuarioAdmin"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipoUsuario" class="control-label">Tipo de usuario:</label>
                                <select name="tipo" id="tipoUsuario" class="form-control tipoUsuarioAdmin">
                                    <option value="">- Seleccione -</option>
                                    <option value="1">Dirección Ejecutiva</option>
                                    <option value="2">Gerente de comercio</option>
                                    <option value="3">Coord. de estadísticas y análisis económico</option>
                                    <option value="4">Gerente de Responsabilidad Integral</option>
                                    <option value="5">Coord. Técnicas de Responsabilidad Integral</option>
                                    <option value="6">Coord. De Normas Técnicas y Aseguramiento de la Calidad</option>
                                    <option value="7">Gerente de Administración</option>
                                    <option value="8">Asistente Administrativo I</option>
                                    <option value="9">Asistente Administrativo II</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password" class="control-label">Contraseña:</label>
                                        <input type="password" class="form-control" id="password" name="pass">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password2">Repita la contraseña:</label>
                                        <input type="password" class="form-control" id="password2" name="pass2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>