<div class="modal fade" id="nuevaListaCorreo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Lista de correo</h1>
            </div>
            <form id="formMailList">
                <div class="modal-body">
                    <span id="response-content"></span>
                    <div class="form-group">
                        <label>Nombre de la lista:</label>
                        <input class="form-control" name="nombre-lista" title="" required/>
                    </div>
                    <div class="form-group">
                        <label>Tipo de lista:</label>
                        <select name="tipo-lista" id="" class="form-control selectpicker" data-live-search-placeholder="Buscar"
                                data-actions-box="true" title="-Seleccione-" required>
                            <option value="0">-Seleccione-</option>
                            {% for l in lista %}
                                <option value="{{ l.idTipo }}">{{ l.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Contactos:</label>
                        <select name="contactos-lista" id="" class="form-control selectpicker" multiple
                                data-live-search-placeholder="Buscar"
                                data-actions-box="true" title="-Seleccione-" required>
                            {% for c in contactos %}
                                <option value="{{ c.idContacto }}">{{ c.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" data-loading-text="Guardando..." id="guardarLista">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>