<div class="modal fade" id="nuevoCaso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Agregar caso</h1>
            </div>
            <form action="{{ path('casos_nuevocaso') }}" id="form_nuevocaso" method="POST"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" class="form-control nombreCaso" name="nombreCaso" id="nombreCaso"
                                       maxlength="500" required title=""/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>F. Inicio:</label>
                                <input type="text" name="fechainicio" id='fechainicio' class="form-control fechainicio"
                                       required title="">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>F. Fin:</label>
                                <input type="text" name="fechafin" id='fechafin' class="form-control fechafin" required
                                       title="">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Código:</label>
                                <input type="text" class="form-control" id="codigo" name="codigo" readonly title=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Encargado del caso:</label>
                                <select class="selectpicker encargado" name="encargado" id="encargado" required
                                        title="">
                                    <option value="">Seleccione</option>
                                    {% for usuario in usuarios %}
                                        <option value="{{ usuario.id }}">{{ usuario.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Asignar afiliados: </label>
                                <select class="selectpicker afiliado asignarCodigoAfiliado" name="afiliado[]" id="afiliado" multiple
                                        data-live-search="true" data-live-search-placeholder="Search"
                                        data-actions-box="true" required title="">
                                    {% for datos in empresa %}
                                        <option value="{{ datos.rif }}">{{ datos.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="descripcion">Descripción:</label>
                                <textarea class="form-control" name="descripcionCaso" id="descripcionCaso" rows="3"
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">¿Desea ingresar algún documento al caso?:</label>
                                <br>
                                <div>
                                    <input class="form-control" type="radio" name="documento" id="agregarSi" value="SI"
                                           required/>
                                    Si
                                    <input class="form-control" type="radio" name="documento" id="agregarNo" value="NO"
                                           required/>
                                    No
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 disappeared document-field">
                            <div class="form-group">
                                <label>Documento del caso</label>
                                <input type="file" name='documentocaso' class="form-control documentocaso">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="cantidad_act" id="cantidad_act" value="">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>