<div class="modal fade" id="nuevaActividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Agregar actividad</h1>
            </div>
            {{ form_start(form, {'attr': { 'action':  path('actividades', {'id': app.request.get('id')})  }}) }}
            <div class="modal-body">
                {#<div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.nombre, 'Nombre de la actividad:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.fechaInicio, 'Fecha de inicio:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.fechaInicio, {'attr': {'class': 'form-control fechainicioactividad'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.fechaCierre, 'Fecha de cierre:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.fechaCierre, {'attr': {'class': 'form-control fechafinactividad'}}) }}
                        </div>
                    </div>
                </div>#}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.idUsuario, 'Usuario asignado:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.idUsuario, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.descripcion, 'Descripción:', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.descripcion, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</div>