<div class="modal fade" id="nuevaEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Agregar empresa</h1>
            </div>
            <form action="{{ path('afiliados_nuevos') }}" method="POST" enctype="multipart/form-data" id="formEmpresa">
                <div class="modal-body panel-group modal-scrollable" id="accordion" role="tablist"
                     aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title text-center">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Primer paso
                                </a>
                                <a class="pull-right">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="well">
                                    <h4 class="text-center">Datos básicos</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="nombreEmpresa">Nombre de la empresa:</label>
                                            <input type="hidden" name="currentUrl"
                                                   value="{{ app.request.attributes.get('_route') }}"/>
                                            <input type="text" class="form-control" name="nombreEmpresa"
                                                   id="nombreEmpresa"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="rifEmpresa">Rif:</label>
                                            <input type="text" class="form-control" name="rifEmpresa"
                                                   id="rifEmpresa"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="registroEmpresa">Registro:</label>
                                            <input type="text" class="form-control" name="registroEmpresa"
                                                   id="registroEmpresa"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="fundacionEmpresa">Fundación:</label>
                                            <input type="text" class="form-control"
                                                   name="fundacionEmpresa" id="fundacionAddEmpresa"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="actividadEmpresa">Principal actividad:</label>
                                            <select name="actividadEmpresa" id="actividadEmpresa" class="form-control">
                                                <option value="">-Seleccione-</option>
                                                <option value="1">Industrial</option>
                                                <option value="2">Comercios y servicios</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="direccionFiscalEmpresa">Dirección fiscal:</label>
                                            <input type="text" class="form-control" name="direccionFiscalEmpresa"
                                                   id="direccionFiscalEmpresa"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="faxOficina">Fax de oficina:</label>
                                            <input type="text" class="form-control" name="faxOficina"
                                                   id="faxOficina"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="telefonoOficina">Teléfono de oficina:</label>
                                            <input type="text" class="form-control" name="telefonoOficina"
                                                   id="telefonoOficina"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="ventasBrutas">Ventas brutas (MM) por año:</label>
                                            <select name="ventasBrutas" id="ventasBrutas" class="form-control">
                                                <option value="">-Seleccione-</option>
                                                <option value="1">Hasta 1 MM</option>
                                                <option value="2">De 1 MM a 6 MM</option>
                                                <option value="3">De 6 MM a 15 MM</option>
                                                <option value="4">De 15 MM a 30 MM</option>
                                                <option value="5">De 30 MM a 80 MM</option>
                                                <option value="6">Más de 80 MM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="webEmpresa">Sitio web:</label>
                                            <input type="text" class="form-control" name="webEmpresa"
                                                   id="webEmpresa" placeholder="http://www.ejemplo.com"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="telefonoPlanta">Teléfono de la planta:</label>
                                            <input type="text" class="form-control" name="telefonoPlanta"
                                                   id="telefonoPlanta"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="faxPlanta">Fax de la planta:</label>
                                            <input type="text" class="form-control" name="faxPlanta"
                                                   id="faxPlanta"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="correoEmpresa">Correo de la empresa:</label>
                                            <input type="email" class="form-control" name="correoEmpresa"
                                                   id="correoEmpresa"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="direccionOficina">Dirección de oficina:</label>
                                            <textarea name="direccionOficina" id="direccionOficina"
                                                      rows="2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="direccionPlanta">Dirección de la planta:</label>
                                            <textarea name="direccionPlanta" id="direccionPlanta"
                                                      rows="2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row nit disappeared">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="nit">Número de identificación tributaria (NIT):</label>
                                            <input type="text" class="form-control" name="nit" id="nit"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="well"><h4 class="text-center">Asistencia técnica</h4></div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="paisOrigenAsistencia">País de orígen de la tecnología:</label>
                                            <select name="paisOrigenAsistencia" id="paisOrigenAsistencia"
                                                    class="form-control">
                                                <option value="">-Seleccione-</option>
                                                {% for pais in paises %}
                                                    <option value="{{ pais.idPais }}">{{ pais.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="empresaOrigenAsistencia">Empresa orígen de la
                                                tecnología:</label>
                                            <input type="text" class="form-control" name="empresaOrigenAsistencia"
                                                   id="empresaOrigenAsistencia"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="serviciosAsistencia">Servicios que presta a la empresa:</label>
                                            <input type="text" class="form-control" name="serviciosAsistencia"
                                                   id="serviciosAsistencia"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="responsableAsistencia">Responsable de la información:</label>
                                            <input type="text" class="form-control" name="responsableAsistencia"
                                                   id="responsableAsistencia"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="materiaPrimaAsistencia">Principales materias primas usadas en la
                                                producción:</label>
                                            <textarea name="materiaPrimaAsistencia" id="materiaPrimaAsistencia"
                                                      rows="2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="productosAsistencia">Productos que comercializa:</label>
                                            <textarea name="productosAsistencia" id="productosAsistencia"
                                                      rows="2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title text-center">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Segundo paso
                                </a>
                                <a class="pull-right">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="well"><h4 class="text-center">Capital de la empresa</h4></div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="porcentajePrivadoCapital">Porcentaje (%) capital privado de la
                                                empresa:</label>
                                            <input type="number" class="form-control" name="porcentajePrivadoCapital"
                                                   id="porcentajePrivadoCapital"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="porcentajeExtranjeroCapital">Porcentaje (%) capital extranjero
                                                de la empresa:</label>
                                            <input type="number" class="form-control" name="porcentajeExtranjeroCapital"
                                                   id="porcentajeExtranjeroCapital"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="paisOrigenCapital">País de orígen del capital extranjero de la
                                                empresa:</label>
                                            <select name="paisOrigenCapital" id="paisOrigenCapital" class="form-control"
                                                    required>
                                                <option value="">-Seleccione-</option>
                                                {% for pais in paises %}
                                                    <option value="{{ pais.idPais }}">{{ pais.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="porcentajePublicoCapital">Porcentaje (%) capital público de la
                                                empresa:</label>
                                            <input type="number" class="form-control" name="porcentajePublicoCapital"
                                                   id="porcentajePublicoCapital"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="principalAccionistaCapital">Principal accionista (según registro
                                                mercantil):</label>
                                            <input type="text" class="form-control" name="principalAccionistaCapital"
                                                   id="principalAccionistaCapital"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="nombreCasaMatrizCapital">Nombre de la casa matriz:</label>
                                            <input type="text" class="form-control" name="nombreCasaMatrizCapital"
                                                   id="nombreCasaMatrizCapital"/>
                                        </div>
                                    </div>
                                </div>
                                <div class=" well">
                                    <h4 class="text-center">Productos de la empresa</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="porcentajeActividadProductos">Porcentaje de actividad de la
                                                empresa:</label>
                                            <input type="number" name="porcentajeActividadProductos"
                                                   class="form-control"
                                                   id="porcentajeActividadProductos"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="capacidadInstaladaProductos">Capacidad instalada (toneladas /
                                                año):</label>
                                            <input type="number" name="capacidadInstaladaProductos" class="form-control"
                                                   id="capacidadInstaladaProductos"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="productosFabricaProductos">Productos que fabrica:</label>
                                            <textarea name="productosFabricaProductos" id="productosFabricaProductos"
                                                      rows="2" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="well"><h4 class="text-center">Personal de la empresa</h4></div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="nombrePrincipalPersonal">Nombre del principal ejecutivo de la
                                                empresa:</label>
                                            <input type="text" class="form-control" name="nombrePrincipalPersonal"
                                                   id="nombrePrincipalPersonal"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="cargoPrincipalPersonal">Cargo del principal ejecutivo de la
                                                empresa:</label>
                                            <input type="text" class="form-control" name="cargoPrincipalPersonal"
                                                   id="cargoPrincipalPersonal"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="correoPrincipalPersonal">Correo del principal ejecutivo de la
                                                empresa:</label>
                                            <input type="text" class="form-control" name="correoPrincipalPersonal"
                                                   id="correoPrincipalPersonal"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title text-center">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Tercer paso
                                </a>
                                <a class="pull-right">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="well"><h4 class="text-center">Personal ocupado de la empresa</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="cantidadAdministrativo">Cantidad administrativo:</label>
                                            <input type="number" class="form-control" name="cantidadAdministrativo"
                                                   id="cantidadAdministrativo"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="cantidadAlmacen">Cantidad almacen:</label>
                                            <input type="number" class="form-control" name="cantidadAlmacen"
                                                   id="cantidadAlmacen"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="well"><h4 class="text-center">Representantes de la empresa ante Asoquim</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="nombreRepresentante">Nombre del representante:</label>
                                            <input type="text" class="form-control" name="nombreRepresentante"
                                                   id="nombreRepresentante"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="cargoRepresentante">Cargo del representante:</label>
                                            <input type="text" class="form-control" name="cargoRepresentante"
                                                   id="cargoRepresentante"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="direccionRepresentante">Dirección de oficina del
                                                representante:</label>
                                            <input type="text" class="form-control" name="direccionRepresentante"
                                                   id="direccionRepresentante"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="telefonoRepresentante">Teléfono del representante:</label>
                                            <input type="number" class="form-control" name="telefonoRepresentante"
                                                   id="telefonoRepresentante"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="faxRepresentante">Fax del representante:</label>
                                            <input type="number" class="form-control" name="faxRepresentante"
                                                   id="faxRepresentante"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="correoRepresentante">Correo electrónico del
                                                representante:</label>
                                            <input type="email" class="form-control" name="correoRepresentante"
                                                   title="Correo electrónico del representante" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="well"><h4 class="text-center">Referencia de dos (2) miembros de
                                        Asoquim</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="empresaReferencia1">Empresa de contacto:</label>
                                            <input type="text" class="form-control" name="empresaReferencia1"
                                                   id="empresaReferencia1"
                                                   title="Empresa que referencia miembro de Asoquim" required>
                                            {#<select name="empresaReferencia[]" id="empresaReferencia"
                                                    class="form-control"
                                                    title="">
                                                <option value="">- Seleccione -</option>
                                                {% for empresa in empresas %}
                                                    <option value="{{ empresa.rif }}">{{ empresa.nombre }}</option>
                                                {% endfor %}
                                            </select>#}
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="personaReferencia1">Persona de contacto:</label>
                                            <input type="text" class="form-control" name="personaReferencia1"
                                                   id="personaReferencia1"
                                                   title="Persona que referencia" required>
                                            {#<select name="personaReferencia[]" id="personaReferencia"
                                                    class="form-control"
                                                    title="" disabled>
                                                <option value=""></option>
                                            </select>#}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="empresaReferencia2">Empresa de contacto:</label>
                                            <input type="text" class="form-control" name="empresaReferencia2"
                                                   id="empresaReferencia2"
                                                   title="Empresa que referencia miembro de Asoquim" required>
                                            {#<select name="empresaReferencia[]" id="empresaReferencia2"
                                                    class="form-control"
                                                    title="">
                                                <option value="">- Seleccione -</option>
                                                {% for empresa in empresas %}
                                                    <option value="{{ empresa.rif }}">{{ empresa.nombre }}</option>
                                                {% endfor %}
                                            </select>#}
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="personaReferencia2">Persona de contacto:</label>
                                            <input type="text" class="form-control" name="personaReferencia2"
                                                   id="personaReferencia2"
                                                   title="Persona que referencia" required>
                                            {#<select name="personaReferencia[]" id="personaReferencia2"
                                                    class="form-control"
                                                    title="" disabled>
                                                <option value=""></option>
                                            </select>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="well"><h4 class="text-center">Exportaciones de la empresa</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label for="paisExportacion">Realiza exportaciones:</label>
                                        <div class="radio">
                                            <label><input type="radio" name="paisExportaSi" class="pais_si"> Sí</label>
                                            <label><input type="radio" name="paisExportaNo" class="pais_no"> No</label>
                                        </div>
                                        <select name="paisExportacion" id="paisExportacion"
                                                class="form-control paisExportacion disappeared">
                                            <option value="">-Seleccione-</option>
                                            {% for pais in paises %}
                                                <option value="{{ pais.idPais }}">{{ pais.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingLast">
                            <h4 class="panel-title text-center">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseLast" aria-expanded="false" aria-controls="collapseLast">
                                    Último paso
                                </a>
                                <a class="pull-right">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseLast" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingLast">
                            <div class="panel-body">
                                <div class="well"><h4 class="text-center">Archivos indispensables de la
                                        empresa</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="registroArchivo">Registro de la empresa:</label>
                                            <input type="file" class="form-control" id="registroArchivo"
                                                   name="registroArchivo">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="rifArchivo">RIF de la empresa:</label>
                                            <input type="file" class="form-control" id="rifArchivo" name="rifArchivo"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="impuestoArchivo">Impuesto sobre la renta: (ISLR)</label>
                                            <input type="file" class="form-control" id="impuestoArchivo"
                                                   name="impuestoArchivo[]" required/>
                                            <span id="islrContainer"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="ivaArchivo">IVA de la empresa:</label>
                                            <input type="file" class="form-control" id="ivaArchivo"
                                                   name="ivaArchivo[]"/>
                                            <span id="ivaContainer"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row nit disappeared">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="nitArchivo">Número de identificación tributaria:</label>
                                            <input type="file" class="form-control" id="nitArchivo" name="nitArchivo"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="well"><h4 class="text-center">Productos controlados (Indique si la empresa
                                        posee los siguientes registros y autorizaciones)</h4></div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="rasdaArchivo">Registro de Actividades Susceptibles de Degradar
                                                el
                                                Ambiente - RASDA (Ley 55 sobre sustancias, materiales y desechos
                                                peligrosos)</label>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio" class="rasda_si"> Sí</label>
                                                <label><input type="radio" name="optradio" class="rasda_no"> No</label>
                                            </div>
                                            <input type="file" class="form-control rasdaArchivo disappeared"
                                                   id="rasdaArchivo"
                                                   name="rasdaArchivo">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="autorizacionArchivo">Autorización vigente como manejadores de
                                                sustancias, materiales o desechos peligrosos y registro de generadores
                                                de desechos peligrosos (resolución N°000073, del ministerio del poder
                                                popular para el ambiente)</label>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio"
                                                              class="manejadorSP_si"> Sí</label>
                                                <label><input type="radio" name="optradio"
                                                              class="manejadorSP_no"> No</label>
                                            </div>
                                            <input type="file" class="form-control autorizacionArchivo disappeared"
                                                   id="autorizacionArchivo"
                                                   name="autorizacionArchivo">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="leyDrogasArchivo">Permisología vigente como operador químico de
                                                sustancias químicas precursoras de Drogas (Ley de Drogas)</label>
                                            <div class="radio" style="margin-top: 27px;">
                                                <label><input type="radio" name="optradio" class="leyDrogas_si">
                                                    Sí</label>
                                                <label><input type="radio" name="optradio" class="leyDrogas_no">
                                                    No</label>
                                            </div>
                                            <input type="file" class="form-control leyDrogasArchivo disappeared"
                                                   id="leyDrogasArchivo"
                                                   name="leyDrogasArchivo">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="operadorArchivo">Permisología vigente como operador de
                                                explosivos, químicos y sustancias afines, ante la direccíon general de
                                                armas y eplosivos - DAEX (Providencia administrativa N°
                                                MPPD-VS-DAEX-007-2009)</label>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio"
                                                              class="operadorExplosivos_si"> Sí</label>
                                                <label><input type="radio" name="optradio"
                                                              class="operadorExplosivos_no"> No</label>
                                            </div>
                                            <input type="file" class="form-control operadorArchivo disappeared"
                                                   id="operadorArchivo"
                                                   name="operadorArchivo">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="importanteArchivo">Desea ingresar otro dato que considere
                                                importante:</label>
                                            <div class="radio">
                                                <label><input type="radio" name="optradio"
                                                              class="datoImportante_si"> Sí</label>
                                                <label><input type="radio" name="optradio"
                                                              class="datoImportante_no"> No</label>
                                            </div>
                                            <input type="file" class="form-control importanteArchivo disappeared"
                                                   id="importanteArchivo"
                                                   name="importanteArchivo"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-primary" value="Guardar"/>
                </div>
            </form>
        </div>
    </div>
</div>