<div class="modal fade" id="modal-rechazar-empresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Rechazar empresa</h1>
            </div>
            <div class="modal-body">
                <input type="hidden" id="empresaRechazada" value=""/>
                <h4 class="text-center">¿Está seguro de que desea <strong>rechazar</strong> esta empresa?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-rechazar-empresa" onclick="empresaRechazada()"
                        data-loading-text="Cargando...">Guardar
                </button>
            </div>
        </div>
    </div>
</div>