<div class="modal fade" id="rechazarMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" id="myModalLabel">Cancelar comunicado</h1>
            </div>
            <div class="modal-body">
                <h3 class="text-center">¿Desea rechazar el envío este comunicado?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" data-loading-text="Cargando..." id="rechazarComunicado">Cancelar </button>
            </div>
        </div>
    </div>
</div>