<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Asoquim | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <script type="text/javascript" language="javascript"
            src="{{ asset('bundles/comunicade/libs/jquery/jquery-1.11.1.min.js') }}"></script>

    <link href="{{ asset('bundles/comunicade/css/estilo.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/comunicade/css/chequeo.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/comunicade/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/fontello/css/fontello.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/animate-css/animate.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/nifty-modal/css/component.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/magnific-popup/magnific-popup.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/ios7-switch/ios7-switch.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/pace/pace.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/libs/sortable/sortable-theme-bootstrap.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('assets/libs/jquery-icheck/skins/all.css') }}" rel="stylesheet"/>

    <link href="{{ asset('assets/libs/prettify/github.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/style-responsive.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('assets/libs/bootstrap-validator/css/bootstrapValidator.min.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/libs/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/libs/sortable/sortable-theme-bootstrap.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('assets/libs/bootstrap-xeditable/css/bootstrap-editable.css') }}" rel="stylesheet"
          type="text/css"/>
    {#<link href="{{ asset('assets/libs/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet"#}
    {#type="text/css"/>#}
    <link href="{{ asset('assets/css/bootstrap-select.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset('assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.css') }}"
          rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css') }}"
          rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/img/apple-touch-icon.png') }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/apple-touch-icon-152x152.png') }}"/>
    {% block stylesheets %}
    {% endblock %}
</head>
{% block body %}
    <body class="{% block class '' %}">

    <div class="md-modal md-3d-flip-vertical" id="task-progress">
        <div class="md-content">
            <h3><strong>Task Progress</strong> Information</h3>
            <div>
                <p>CLEANING BUGS</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80&#37; Complete</span>
                    </div>
                </div>
                <p>POSTING SOME STUFF</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 65%">
                        <span class="sr-only">65&#37; Complete</span>
                    </div>
                </div>
                <p>BACKUP DATA FROM SERVER</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100" style="width: 95%">
                        <span class="sr-only">95&#37; Complete</span>
                    </div>
                </div>
                <p>RE-DESIGNING WEB APPLICATION</p>
                <div class="progress progress-xs for-modal">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100&#37; Complete</span>
                    </div>
                </div>
                <p class="text-center">
                    <button class="btn btn-danger btn-sm md-close">Close</button>
                </p>
            </div>
        </div>
    </div>

    <!-- Modal Logout -->
    <div class="md-modal md-just-me" id="logout-modal" style="background: #fff">
        <div class="md-content">
            <h3><strong>Confirmar salida</strong></h3>
            <div>
                <p class="text-center">¿Estás seguro de que deseas salir del sistema?</p>
                <p class="text-center">
                    <button class="btn btn-danger md-close">Cancelar</button>
                    <a href="{{ path('logout') }}" class="btn btn-success md-close">Sí, estoy seguro</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Modal End -->

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <div class="topbar-left">
                <div class="logo text-center">
                    <h2><a href="{{ path('afiliados_homepage') }}"
                           style="color: #fff;font-size: 20px;font-weight: lighter; letter-spacing: 3px;"><b>ASOQUIM</b></a>
                    </h2>
                </div>
                {#<button class="button-menu-mobile open-left">
                    <i class="fa fa-bars"></i>
                </button>#}
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-collapse2">
                        <ul class="nav navbar-nav navbar-right top-navbar">
                            {#<li class="dropdown iconify hide-phone"><a href="#" onclick="toggle_fullscreen()"><i
                                            class="icon-resize-full-2"></i></a></li>#}
                            <li class="dropdown topbar-profile">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                            class="rounded-image topbar-profile-image"><img
                                                src="{{ asset('assets/images/users/') ~ foto }}"></span> {{ username | capitalize }}
                                    <i
                                            class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('perfil_usuario') }}">Mi perfil</a></li>
                                    {#<li><a href="#">Cambiar contraseña</a></li>#}
                                    {#<li><a href="#">Account Setting</a></li>#}
                                    <li class="divider"></li>
                                    {#<li><a href="#"><i class="icon-help-2"></i> Help</a></li>#}
                                    <li><a class="md-trigger" data-modal="logout-modal"><i class="icon-logout-1"></i>
                                            Salir</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <hr class="divider"/>
                <div class="clearfix"></div>
                <!--- Profile -->
                <div class="profile-info">
                    <div class="col-xs-4">
                        <a href="{{ path('perfil_usuario') }}" class="rounded-image profile-image"><img
                                    src="{{ asset('assets/images/users/') ~ foto }}"></a>
                    </div>
                    <div class="col-xs-8">
                        <div class="profile-text">
                            Bienvenido <a href="{{ path('perfil_usuario') }}"
                                          style="color: #fff;">{{ username | capitalize }}</a>
                        </div>
                    </div>
                </div>
                <!--- Divider -->
                <div class="clearfix"></div>
                <hr class="divider"/>
                <div class="clearfix"></div>
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <li class='has_sub'><a href='javascript:void(0);'><i
                                        class='fa fa-briefcase'></i><span>Empresas</span>
                                <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                {% if app.request.get('_route') starts with 'afiliados_dashboard' %}
                                    <li><a href="{{ path('afiliados_dashboard') }}"
                                           class="active"><span>Afiliados</span></a></li>
                                {% else %}
                                    <li><a href="{{ path('afiliados_dashboard') }}"><span>Afiliados</span></a></li>
                                {% endif %}
                                {% if app.request.get('_route') starts with 'afiliados_pendientes' %}
                                <li><a href='{{ path('afiliados_pendientes') }}' class="active"><span>Empresas pendientes por aprobación</span></a>
                                </li>
                            {% else %}
                                <li>
                                    <a href='{{ path('afiliados_pendientes') }}'><span>Empresas pendientes por aprobación</span></a>
                                    {% endif %}
                                    {% if app.request.get('_route') starts with 'afiliados_contactos' %}
                                <li><a href='{{ path('afiliados_contactos') }}'
                                       class="active"><span>Contactos</span></a></li>
                            {% else %}
                                <li><a href='{{ path('afiliados_contactos') }}'><span>Contactos</span></a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class='has_sub'><a href='javascript:void(0);'><i
                                        class='fa fa-book'></i><span>Casos</span> <span class="pull-right"><i
                                            class="fa fa-angle-down"></i></span></a>
                            <ul>
                                {% if app.request.get('_route') starts with 'casos_listadoCasos' %}
                                    <li><a href='{{ path('casos_listadoCasos') }}'
                                           class="active"><span>Lista de casos</span></a></li>
                                {% else %}
                                    <li><a href='{{ path('casos_listadoCasos') }}'><span>Lista de casos</span></a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class='has_sub'><a href='javascript:void(0);'><i
                                        class='glyphicon glyphicon-bullhorn'></i><span>Comunicados</span>
                                <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                            <ul>
                                {% if app.request.get('_route') starts with 'comunicade_comunicadow' %}
                                <li><a href='{{ path('comunicade_comunicadow') }}'
                                       class="active"><span>Crear comunicado</span></a>
                                </li>
                            {% else %}
                                <li><a href='{{ path('comunicade_comunicadow') }}'><span>Crear comunicado</span></a>
                                    {% endif %}
                                    {% if app.request.get('_route') starts with 'lista_comunicados' %}
                                <li><a href='{{ path('lista_comunicados') }}'
                                       class="active"><span>Lista de comunicados</span></a></li>
                            {% else %}
                                <li><a href='{{ path('lista_comunicados') }}'><span>Lista de comunicados</span></a></li>
                                {% endif %}
                                {% if app.request.get('_route') starts with 'lista_correos' %}
                                    <li><a href='{{ path('lista_correos') }}'
                                           class="active"><span>Listas de correo</span></a></li>
                                {% else %}
                                    <li><a href='{{ path('lista_correos') }}'><span>Listas de correo</span></a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class='has_sub'><a href='javascript:void(0);'><i class='fa fa-table'></i><span>Administrativo</span>
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                                <ul>
                                    {% if app.request.get('_route') starts with 'admin_usuarios' %}
                                        <li><a href='{{ path('admin_usuarios') }}'
                                               class="active"><span>Gestión de usuarios</span></a></li>
                                    {% else %}
                                        <li><a href='{{ path('admin_usuarios') }}'><span>Gestión de usuarios</span></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Left Sidebar End -->
    </div>
    <!-- End of the page. -->
    </body>
{% endblock %}
{% block javascripts %}

    <script>var resizefunc = [];</script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ asset('assets/libs/bootstrap/js/bootstrap.min.js') }}"></script>
    {#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>#}
    <script src="{{ asset('assets/libs/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/comunicade/js/comunicado.js') }}"></script>
    <script src="{{ asset('assets/js/editcheck.js') }}"></script>
    <script src="{{ asset('assets/js/dato.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-2.1.3.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" rel="stylesheet"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" rel="stylesheet"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js" rel="stylesheet"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css">
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js" rel="stylesheet"></script>
    <script src="{{ asset('assets/libs/jquery-animate-numbers/jquery.animateNumbers.js') }}"></script>
    <script src="{{ asset('assets/libs/fastclick/fastclick.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-sparkline/jquery-sparkline.js') }}"></script>
    <script src="{{ asset('assets/libs/sortable/sortable.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-fileinput/bootstrap.file-input.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-icheck/icheck.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-detectmobile/detect.js') }}"></script>
    <script src="{{ asset('assets/libs/ios7-switch/ios7.switch.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-blockui/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-bootbox/bootbox.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('assets/libs/nifty-modal/js/classie.js') }}"></script>
    <script src="{{ asset('assets/libs/nifty-modal/js/modalEffects.js') }}"></script>

    <script src="{{ asset('assets/libs/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/libs/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/libs/pace/pace.min.js') }}"></script>
    <script src="{{ asset('assets/libs/prettify/prettify.js') }}"></script>
    <script src="{{ asset('bundles/comunicade/libs/bootstrap-xeditable/js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('bundles/comunicade/libs/bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('assets/js/init.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
    {% if app.request.get('_request') starts with 'comunicade_comunicadow' %}
    <script>
        $("#listacorreoSi").on("ifChecked", function () {
            $("#listascorreos").removeClass("disappeared");
            $("#listacontactos").addClass("disappeared");
        });

        $("#contactosSi").on("ifChecked", function () {
            $("#listacontactos").removeClass("disappeared");
            $("#listascorreos").addClass("disappeared");
        });

        $("#send_now").on("ifClicked", function () {
            $("#grupofecha").addClass("disappeared");
        });

        $("#send_schedule").on("ifClicked", function () {
            $("#grupofecha").removeClass("disappeared");
        });
    </script>
    {% endif %}
{% endblock %}
</html>