{% extends '::base.html.twig' %}
{% block title %}Entrar{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {% block content %}
        <div class="container">
            <div class="full-content-center">
                <div class="login-wrap animated flipInX">
                    <div class="login-block">
                        <p class="text-center"><img src="{{ asset('assets/img/asoquim.png') }}"
                                                    class="img-responsive" width="100" height="100"
                                                    style="margin: auto;" alt="Logo">
                        </p>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div>
        {#<div class="md-modal md-3d-flip-vertical" id="task-progress">#}
        {#<div class="md-content">#}
        {#<h3><strong>Task Progress</strong> Information</h3>#}
        {#<div>#}
        {#<p>CLEANING BUGS</p>#}
        {#<div class="progress progress-xs for-modal">#}
        {#<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"#}
        {#aria-valuemin="0" aria-valuemax="100" style="width: 80%">#}
        {#<span class="sr-only">80&#37; Complete</span>#}
        {#</div>#}
        {#</div>#}
        {#<p>POSTING SOME STUFF</p>#}
        {#<div class="progress progress-xs for-modal">#}
        {#<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80"#}
        {#aria-valuemin="0" aria-valuemax="100" style="width: 65%">#}
        {#<span class="sr-only">65&#37; Complete</span>#}
        {#</div>#}
        {#</div>#}
        {#<p>BACKUP DATA FROM SERVER</p>#}
        {#<div class="progress progress-xs for-modal">#}
        {#<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"#}
        {#aria-valuemin="0" aria-valuemax="100" style="width: 95%">#}
        {#<span class="sr-only">95&#37; Complete</span>#}
        {#</div>#}
        {#</div>#}
        {#<p>RE-DESIGNING WEB APPLICATION</p>#}
        {#<div class="progress progress-xs for-modal">#}
        {#<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80"#}
        {#aria-valuemin="0" aria-valuemax="100" style="width: 100%">#}
        {#<span class="sr-only">100&#37; Complete</span>#}
        {#</div>#}
        {#</div>#}
        {#<p class="text-center">#}
        {#<button class="btn btn-danger btn-sm md-close">Close</button>#}
        {#</p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<!-- Begin page -->#}
        {#<!-- the overlay modal element -->#}
        {#<div class="md-overlay"></div>#}
    {% endblock %}
{% endblock %}