{% extends '::menu.html.twig' %}
{% block title %}Afiliados{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevaEmpresa.html.twig' %}
        {% include 'nuevoContactoEmpresa.html.twig' %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="fa fa-briefcase"></i> Afiliados
                    </h1>
                    <h3>Lista de empresas afiliadas</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2><strong>Empresas</strong> afiliadas</h2>
                                <div class="additional-btn">
                                    {% if nivel == 8 or nivel == 2 or nivel == 6 %}
                                        <button class="btn btn-xs btn-success" data-toggle="modal"
                                                data-target="#nuevaEmpresa"><i
                                                    class="fa fa-plus-circle"></i> Agregar
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listaafiliados" cellspacing="0" width="100%">
                                    <thead>
                                    <tr role="row">
                                        <th>Nombre</th>
                                        <th>Fundación</th>
                                        <th>Actividad</th>
                                        <th>Status</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in results %}
                                        <tr role="row" class="odd" data-empresa="{{ result.rif }}">
                                            <td>{{ result.nombre | length > 45 ? result.nombre | slice(0, 45) ~ '...' : result.nombre }}</td>
                                            {#<td>{{ result.fundacion | date | localizeddate('none', 'none', app.request.locale, "America/Caracas", "d MMMM Y") }}</td>#}
                                            <td>{{ result.fundacion | date("d-m-Y") }}</td>
                                            {% if result.actividad == 1 %}
                                                <td>Industrial</td>
                                            {% else %}
                                                <td>Comercio y Servicios</td>
                                            {% endif %}
                                            {% if result.status == 0 %}
                                                <td class="text-center">
                                                    <label class="label label-danger">Inactivo</label>
                                                </td>
                                            {% elseif result.status == 1 %}
                                                <td class="text-center">
                                                    <label class="label label-success">Activo</label>
                                                </td>
                                            {% endif %}
                                            <td class="text-center">
                                                <div class="btn-group btn-group-xs">
                                                    {% if nivel == 7 %}
                                                        {% if result.status == 0 %}
                                                            <a href="javascript:void(0)"
                                                               class="btn btn-xs btn-success btn-tooltip"
                                                               data-toggle="modal" data-placement="top"
                                                               data-target="#activarAfiliado"
                                                               title="Activar"
                                                               data-rif="{{ result.rif }}"
                                                               role="button" id="activarEmpresa">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        {% elseif result.status == 1 %}
                                                            <a href="#"
                                                               class="btn btn-xs btn-danger btn-tooltip"
                                                               data-toggle="modal" data-placement="top"
                                                               data-target="#desactivarAfiliado"
                                                               data-rif="{{ result.rif }}"
                                                               title="Desactivar" id="desactivarEmpresa">
                                                                <i class="fa fa-minus"></i>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if result.status == 0 or result.status == 1 %}
                                                        {% if nivel == 8 or nivel == 2 or nivel == 6 %}
                                                            <a class="btn btn-xs btn-default btn-tooltip"
                                                               data-toggle="modal" data-placement="top"
                                                               title="Agregar contacto"
                                                               data-target="#nuevoContactoEmpresa"
                                                               data-rif="{{ result.rif }}"
                                                               data-empresa="{{ result.nombre }}" id="contactoEmpresa">
                                                                <i class="glyphicon glyphicon-user"></i>
                                                            </a>
                                                        {% endif %}
                                                        {% if nivel == 7 or nivel == 9 %}
                                                            <a href="{{ path('afiliados_pagos', {'id': result.rif }) }}"
                                                               class="btn btn-xs btn-default btn-tooltip"
                                                               data-toggle="tooltip" data-placement="top"
                                                               title="Ver pagos">
                                                                <i class="fa fa-credit-card"></i>
                                                            </a>
                                                        {% endif %}
                                                        <a href="{{ path('afiliados_detalles', {'id': result.rif }) }}"
                                                           class="btn btn-xs btn-default btn-tooltip"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="Ver detalles">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    {% elseif result.status == 2 %}
                                                        Sin opciones
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="activarAfiliado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h1 class="text-center">Activar afiliado</h1>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="activarAfiliado" value=""/>
                            <h4 class="text-center">¿Está seguro de que desea <strong>activar</strong> esta empresa
                                afiliada?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="activarEmpresaAfiliada">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="desactivarAfiliado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h1 class="text-center">Desactivar afiliado</h1>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="desactivarAfiliado" value=""/>
                            <h4 class="text-center">¿Está seguro de que desea <strong>desactivar</strong> esta empresa
                                afiliada?</h4>
                            <div class="disappeared" id="razonDesactivacion">
                                <div class="form-group">
                                    <textarea rows="5" class="form-control" id="razon"
                                              placeholder="Razón de la desactivación"></textarea>
                                </div>
                                <button class="btn btn-danger btn-sm btn-block" id="desactivarEmpresaAfiliada"
                                        data-loading-text="Espere...">Desactivar
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="esconderRazon">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="mostrarRazon">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#listaafiliados').DataTable({
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ Registros por página",
                        "sZeroRecords": "No se han encontrado registros asociados",
                        "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                        "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                        "sInfoFiltered": "(buscado en _MAX_ Registros)",
                        "sSearch": "Buscar:",
                        "oPaginate": {
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "fnInfoCallback": null
                    }
                });
            });

            $("#esconderRazon").on("click", function () {
                $("#razonDesactivacion").removeClass('shown');
                $("#razon").val('');
            });

            $("#mostrarRazon").on("click", function () {
                $("#razonDesactivacion").toggleClass('shown');
            });

            $("*#activarEmpresa").on("click", function () {
                var rif = $(this).data('rif');
                $("#activarAfiliado").val(rif);
            });

            $("*#desactivarEmpresa").on("click", function () {
                var rif = $(this).data('rif');
                $("#desactivarAfiliado").val(rif);
            });

            $("#desactivarEmpresaAfiliada").on("click", function () {
                var rif = $("#desactivarAfiliado").val();
                var razon = $("#razon").val();
                var btn = $(this);
                $.ajax({
                    url: "desactivar_afiliado",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        rif: rif,
                        razon: razon
                    },
                    beforeSend: function () {
                        btn.button("loading");
                    },
                    success: function (resp) {
                        if (resp.success === true) {
                            location.reload();
                        }
                    },
                    complete: function () {
                        btn.button("reset");
                    },
                    error: function (resp) {
                        console.log(resp);
                    }
                });
            });

            $("#activarEmpresaAfiliada").on("click", function () {
                var rif = $("#activarAfiliado").val();
                var btn = $(this);
                $.ajax({
                    url: "activar_afiliado",
                    type: "POST",
                    dataType: "JSON",
                    data: {rif: rif},
                    beforeSend: function () {
                        btn.button("loading");
                    },
                    success: function (resp) {
                        if (resp.success === true) {
                            location.reload();
                        }
                    },
                    complete: function () {
                        btn.button("reset");
                    },
                    error: function (resp) {
                        console.log(resp);
                    }
                });
            });

            var count = 1;
            var num = 1;
            $("#impuestoArchivo").change(function () {
                var file = $(this);
                if (count <= 2) {
                    for (var i = 1; i <= 2; i++) {
                        var first = file.clone().val("");
                        first.appendTo("#islrContainer");
                        count++;
                    }
                }
            });

            $("#ivaArchivo").change(function () {
                var file = $(this);
                if (num <= 2) {
                    for (var i = 1; i <= 2; i++) {
                        var first = file.clone().val("");
                        first.appendTo("#ivaContainer");
                        num++;
                    }
                }
            });
        });
    </script>
{% endblock %}