{% extends '::menu.html.twig' %}
{% block title %}Contactos{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevoContacto.html.twig' %}
        {% include 'editarContacto.html.twig' %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="icon-group"></i>
                        Contactos
                    </h1>
                    <h3>Lista de contactos de Asoquim</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2>Lista de contactos de empresas:</h2>
                                <div class="additional-btn">
                                    {% if nivel == 8 or nivel == 2 or nivel == 6 %}
                                        <button class="btn btn-xs btn-success" data-toggle="modal"
                                                data-target="#nuevoContacto"><i
                                                    class="fa fa-plus-circle"></i> Agregar
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listacontactos" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tlf. Oficina</th>
                                        <th>Tlf. Celular</th>
                                        <th>Empresa</th>
                                        <th>Región</th>
                                        <th>Cargo</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in results %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_1" id="nombreContacto{{ result.idContacto }}"
                                                data-nombre="{{ result.nombre }}"
                                                data-representante="{{ result.representante }}">{{ result.nombre }}</td>
                                            <td id="telefonoOficina{{ result.idContacto }}"
                                                data-telefono-oficina="{{ result.telefonoOficina }}">{{ result.telefonoOficina }}</td>
                                            <td id="telefonoCelular{{ result.idContacto }}"
                                                data-telefono-celular="{{ result.telefonoCelular }}">{{ result.telefonoCelular }}</td>
                                            <td id="rifContacto{{ result.idContacto }}"
                                                data-rif="{{ result.rif }}">{{ result.rif | length > 45 ? result.rif | slice(0, 45) ~ '...' : result.rif }}</td>
                                            <td id="regionContacto{{ result.idContacto }}"
                                                data-region="{{ result.id }}">{{ result.id }}</td>
                                            <td id="cargoContacto{{ result.idContacto }}"
                                                data-cargo="{{ result.cargo }}">{{ result.cargo }}</td>
                                            <td id="correoContacto{{ result.idContacto }}"
                                                data-correo="{{ result.correo }}">{{ result.correo }}</td>
                                            {% if result.status == 1 %}
                                                <td class="text-center">
                                                    <label class="label label-success">Activo</label>
                                                </td>
                                            {% else %}
                                                <td class="text-center">
                                                    <label class="label label-danger">Inactivo</label>
                                                </td>
                                            {% endif %}
                                            <td class="text-center">
                                                <div class="btn-group btn-group-xs">
                                                    {% if nivel == 7 %}
                                                        {% if result.status == 0 %}
                                                            <a href="javascript:void(0)" id="activarContacto"
                                                               class="btn btn-xs btn-success btn-tooltip"
                                                               data-target="#activarEmpleado"
                                                               onclick="activarContacto({{ result.idContacto }})"
                                                               data-toggle="modal" data-placement="top"
                                                               title="Activar">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        {% elseif result.status == 1 %}
                                                            <a href="javascript:void(0)" id="desactivarContacto"
                                                               class="btn btn-xs btn-danger btn-tooltip"
                                                               data-toggle="modal" data-placement="top"
                                                               data-target="#desactivarEmpleado"
                                                               onclick="desactivarContacto({{ result.idContacto }})"
                                                               data-contacto="{{ result.idContacto }}"
                                                               title="Desactivar" role="button">
                                                                <i class="fa fa-minus"></i>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if nivel == 8 or nivel == 2 or nivel == 6 %}
                                                        <button class="btn btn-xs btn-default btn-tooltip"
                                                                id="editarContacto"
                                                                onclick="editarContacto({{ result.idContacto }})"
                                                                data-contacto="{{ result.idContacto }}"
                                                                data-toggle="modal" data-placement="top" title="Editar"
                                                                data-target="#modalContacto">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="activarEmpleado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title text-center" id="myModalLabel">Activar contacto</h3>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="activar" value=""/>
                            <h4 class="text-center">¿Está seguro de que desea <strong>activar</strong> este contacto?
                            </h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary btn-activar-contacto" onclick="activar()"
                                    data-loading-text="Cargando...">Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="desactivarEmpleado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title text-center" id="myModalLabel">Desactivar contacto</h3>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="desactivar" value=""/>
                            <h4 class="text-center">¿Está seguro de que desea <strong>desactivar</strong> este contacto?
                            </h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary btn-desactivar-contacto" onclick="desactivar()"
                                    data-loading-text="Cargando...">Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#listacontactos').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });
    </script>
{% endblock %}