{% extends '::menu.html.twig' %}
{% block title %}Editar {% if p.status == 3 %} pendiente por aprobación {% elseif p.status == 1 %} afiliado {% endif %}{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="fa fa-briefcase"></i>
                        Editar {{ p.nombre }}
                    </h1>
                    <h3>Datos de la
                        empresa {% if p.status == 3 %} pendiente por aprobación {% elseif p.status == 1 %} afiliada {% endif %}</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-sm-12 portlets ui-sortable">
                        <div class="widget">
                            <div class="widget-header">
                                <h2>
                                    <strong>Información de</strong> la empresa
                                </h2>
                            </div>
                            <div class="widget-content padding">
                                <form action="{{ path('editar_empresa') }}" method="POST" enctype="multipart/form-data"
                                      id="editarEmpresa">
                                    <div class="panel-group" id="accordion" role="tablist"
                                         aria-multiselectable="true">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title text-center">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion"
                                                       href="#collapseThree" aria-expanded="false"
                                                       aria-controls="collapseThree">
                                                        Primer paso
                                                    </a>
                                                    <a class="pull-right">
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel"
                                                 aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="well">
                                                        <h4 class="text-center">Datos básicos</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="nombreEmpersa">Nombre de la empresa:</label>
                                                                <input type="text" class="form-control"
                                                                       name="nombreEmpresa"
                                                                       title="Nombre de la empresa"
                                                                       value="{{ (p.nombre is not empty) ? p.nombre : '' }}"/>
                                                                <input type="hidden" name="status"
                                                                       value="{{ p.status }}"/>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="rifEmpresa"
                                                               value="{{ (p.rif is not empty) ? p.rif : '' }}">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="rifEmpresa">Rif:</label>
                                                                <input type="text" class="form-control"
                                                                       name="rifEmpresa"
                                                                       title="Rif de la empresa"
                                                                       value="{{ (p.rif is not empty) ? p.rif : '' }}"
                                                                       disabled/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="registroEmpresa">Registro:</label>
                                                                <input type="text" class="form-control"
                                                                       name="registroEmpresa"
                                                                       title="Registro de la empresa"
                                                                       value="{{ (p.registroEmpresa is not empty) ? p.registroEmpresa : '' }}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="fundacionEmpresa">Fundación:</label>
                                                                <input type="text" class="form-control datepicker"
                                                                       name="fundacionEmpresa"
                                                                       title="Fundacion de la empresa"
                                                                       value="{{ (p.fundacion is not empty) ? p.fundacion | date() : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="actividadEmpresa">Principal
                                                                    actividad:</label>
                                                                <select name="actividadEmpresa" id="actividadEmpresa"
                                                                        class="form-control"
                                                                        title="Actividad de la Empresa">
                                                                    <option value="">-Seleccione-</option>
                                                                    <option value="1" {{ (p.actividad is not empty and p.actividad == 1) ? 'selected' : '' }}>
                                                                        Industrial
                                                                    </option>
                                                                    <option value="2" {{ (p.actividad is not empty and p.actividad == 2) ? 'selected' : '' }}>
                                                                        Comercios y servicios
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="direccionFiscalEmpresa">Dirección
                                                                    fiscal:</label>
                                                                <input type="text" class="form-control"
                                                                       name="direccionFiscalEmpresa"
                                                                       title="Dirección fiscal de la empresa"
                                                                       value="{{ (p.direccionFiscal is not empty) ? p.direccionFiscal : '' }}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="faxOficina">Fax de oficina:</label>
                                                                <input type="text" class="form-control"
                                                                       name="faxOficina"
                                                                       title="Fax de oficina de la empresa"
                                                                       value="{{ (p.faxOficina is not empty) ? p.faxOficina : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="telefonoOficina">Teléfono de
                                                                    oficina:</label>
                                                                <input type="number" class="form-control"
                                                                       name="telefonoOficina"
                                                                       title="Teléfono de oficina de la empresa"
                                                                       value="{{ (p.telefonoOficina is not empty) ? p.telefonoOficina : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="ventasBrutas">Ventas brutas (MM) por
                                                                    año:</label>
                                                                <select name="ventasBrutas" id="ventasBrutas"
                                                                        class="form-control"
                                                                        title="Ventas brutas">
                                                                    <option value="1" {{ (p.ventasBrutas is not empty and p.ventasBrutas == 1) ? 'selected' : '' }}>
                                                                        Hasta 1 MM
                                                                    </option>
                                                                    <option value="2" {{ (p.ventasBrutas is not empty and p.ventasBrutas == 2) ? 'selected' : '' }}>
                                                                        De 1 MM a 6 MM
                                                                    </option>
                                                                    <option value="3" {{ (p.ventasBrutas is not empty and p.ventasBrutas == 3) ? 'selected' : '' }}>
                                                                        De 6 MM a 15 MM
                                                                    </option>
                                                                    <option value="4" {{ (p.ventasBrutas is not empty and p.ventasBrutas == 4) ? 'selected' : '' }}>
                                                                        De 15 MM a 30 MM
                                                                    </option>
                                                                    <option value="5" {{ (p.ventasBrutas is not empty and p.ventasBrutas == 5) ? 'selected' : '' }}>
                                                                        De 30 MM a 80 MM
                                                                    </option>
                                                                    <option value="6" {{ (p.ventasBrutas is not empty and p.ventasBrutas == 6) ? 'selected' : '' }}>
                                                                        Más de 80 MM
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="webEmpresa">Sitio web:</label>
                                                                <input type="text" class="form-control"
                                                                       name="webEmpresa"
                                                                       title="Web de la empresa"
                                                                       placeholder="http://www.ejemplo.com"
                                                                       value="{{ (p.sitioWeb is not empty) ? p.sitioWeb : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="telefonoPlanta">Teléfono de la
                                                                    planta:</label>
                                                                <input type="number" class="form-control"
                                                                       name="telefonoPlanta"
                                                                       title="Teléfono de planta de la empresa"
                                                                       value="{{ (p.telefonoPlanta is not empty) ? p.telefonoPlanta : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="faxPlanta">Fax de la planta:</label>
                                                                <input type="text" class="form-control" name="faxPlanta"
                                                                       title="Fax de planta de la empresa"
                                                                       value="{{ (p.faxPlanta is not empty) ? p.faxPlanta : '' }}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="correoEmpresa">Correo de la empresa:</label>
                                                                <input type="email" class="form-control"
                                                                       name="correoEmpresa"
                                                                       title="Correo de la empresa"
                                                                       value="{{ (p.correo is not empty) ? p.correo : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="direccionOficina">Dirección de
                                                                    oficina:</label>
                                                                <textarea name="direccionOficina" id="direccionOficina"
                                                                          rows="2"
                                                                          class="form-control">{{ (p.direccionOficina is not empty) ? p.direccionOficina : '' }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="direccionPlanta">Dirección de la
                                                                    planta:</label>
                                                                <textarea name="direccionPlanta" id="direccionPlanta"
                                                                          rows="2"
                                                                          class="form-control">{{ (p.direccionPlanta is not empty) ? p.direccionPlanta : '' }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if p.nit is not empty %}
                                                        <div class="row nit {{ (p.actividad is not empty and p.actividad == 2) ? 'disappeared' : '' }}">
                                                            <div class="col-xs-12">
                                                                <div class="form-group">
                                                                    <label for="">Número de identificación tributaria
                                                                        (NIT):</label>
                                                                    <input type="text" class="form-control" name="nit"
                                                                           title=""
                                                                           value="{{ (p.nit is not empty) ? p.nit : '' }}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if p.status == 1 %}
                                                        <div class="well"><h4 class="text-center">Datos de
                                                                aprobación</h4></div>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="codigoAfiliado">Código del
                                                                        afiliado:</label>
                                                                    <input type="text" class="form-control"
                                                                           name="codigoAfiliado"
                                                                           value="{{ p.codigoAfiliado }}" title=""/>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="fechaAprobacion">Fecha de
                                                                        aprobación:</label>
                                                                    <input type="text" class="form-control datepicker"
                                                                           name="fechaAprobacion"
                                                                           value="{{ p.fechaAprobacion | date('d-m-Y') }}"
                                                                           title=""/>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="tipoMiembro">Tipo de miembro:</label>
                                                                    <select name="tipoMiembro" class="form-control"
                                                                            title="">
                                                                        <option value="">-Seleccione-</option>
                                                                        <option value="Activo" {{ (p.tipoMiembro == 'Activo') ? 'selected' : '' }}>
                                                                            Activo
                                                                        </option>
                                                                        <option value="Adherente" {{ (p.tipoMiembro == 'Adherente') ? 'selected' : '' }}>
                                                                            Adherente
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="grupoAfiliado">Grupo del
                                                                        afiliado:</label>
                                                                    <select name="grupoAfiliado" class="form-control"
                                                                            title="">
                                                                        <option value="">-Seleccione-</option>
                                                                        {% for g in grupos %}
                                                                            <option value="{{ g.idGrupo }}" {{ (g.descripcion == p.idGrupo) ? 'selected' : '' }}>{{ g.descripcion }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="segmentoAfiliado">Segmento del
                                                                        afiliado:</label>
                                                                    <select name="segmentoAfiliado" class="form-control"
                                                                            title="">
                                                                        <option value="">-Seleccione-</option>
                                                                        {% for s in segmentos %}
                                                                            <option value="{{ s.idSegmento }}" {{ (s.descripcion == p.idSegmento) ? 'selected' : '' }}>{{ s.descripcion }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label for="sectorAfiliado[]">Sector del
                                                                        afiliado:</label>
                                                                    <select name="sectorAfiliado[]"
                                                                            class="form-control selectpicker"
                                                                            multiple
                                                                            data-live-search-placeholder="Buscar"
                                                                            data-actions-box="true"
                                                                            title="-Seleccione-">
                                                                        {% if sectorAfiliado is not empty %}
                                                                            {% for sector in sectores %}
                                                                                <option value="{{ sector.idSector }}" {% for s in sectorAfiliado %}{{ (s.descripcion == sector.descripcion) ? 'selected' : '' }}{% endfor %}>{{ sector.descripcion }}</option>
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            {% for sector in sectores %}
                                                                                <option value="{{ sector.idSector }}">{{ sector.descripcion }}</option>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <div class="well"><h4 class="text-center">Asistencia técnica</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <div class="form-group">
                                                                <label for="paisOrigenAsistencia">País de orígen de la
                                                                    tecnología:</label>
                                                                <select name="paisOrigenAsistencia"
                                                                        id="paisOrigenAsistencia"
                                                                        class="form-control"
                                                                        title="País de orígen de la tecnología">
                                                                    {% for pais in paises %}
                                                                        <option value="{{ pais.idPais }}" {% for a in asistencia %} {{ (a.idPais is not empty and a.idPais == pais.nombre) ? 'selected' : '' }} {% endfor %}>{{ pais.nombre }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <div class="form-group">
                                                                <label for="empresaOrigenAsistencia">Empresa orígen de
                                                                    la
                                                                    tecnología:</label>

                                                                <input type="text" class="form-control"
                                                                       name="empresaOrigenAsistencia"
                                                                       title="Empresa orígen de la tecnología"
                                                                       value="{% for a in asistencia %}{{ a.empresaOrigen }}{% endfor %}"/>

                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <div class="form-group">
                                                                <label for="serviciosAsistencia">Servicios que presta a
                                                                    la
                                                                    empresa:</label>
                                                                <input type="text" class="form-control"
                                                                       name="serviciosAsistencia"
                                                                       title="Servicios que presta a la empresa"
                                                                       value="{% for a in asistencia %}{{ (a.servicios is not empty) ? a.servicios : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <div class="form-group">
                                                                <label for="responsableAsistencia">Responsable de la
                                                                    información:</label>
                                                                <input type="text" class="form-control"
                                                                       name="responsableAsistencia"
                                                                       title="Responsable de la información"
                                                                       value="{% for a in asistencia %}{{ (a.responsable is not empty) ? a.responsable : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="materiaPrimaAsistencia">Principales materias
                                                                    primas usadas en la
                                                                    producción:</label>
                                                                <textarea name="materiaPrimaAsistencia"
                                                                          id="materiaPrimaAsistencia"
                                                                          rows="2"
                                                                          class="form-control">{% for a in asistencia %}{{ (a.materiaPrima is not empty) ? a.materiaPrima : '' }}{% endfor %}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="productosAsistencia">Productos que
                                                                    comercializa:</label>
                                                                <textarea name="productosAsistencia"
                                                                          id="productosAsistencia"
                                                                          rows="2"
                                                                          class="form-control">{% for a in asistencia %}{{ (a.productosComercializa is not empty) ? a.productosComercializa : '' }}{% endfor %}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title text-center">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion"
                                                       href="#collapseTwo" aria-expanded="false"
                                                       aria-controls="collapseTwo">
                                                        Segundo paso
                                                    </a>
                                                    <a class="pull-right">
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                                 aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <div class="well"><h4 class="text-center">Capital de la empresa</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="porcentajePrivadoCapital">Porcentaje (%)
                                                                    capital
                                                                    privado de la
                                                                    empresa:</label>
                                                                <input type="text" class="form-control"
                                                                       name="porcentajePrivadoCapital"
                                                                       title="Porcentaje (%) capital privado de la empresa"
                                                                       value="{% for c in capital %}{{ (c.porentajeCapitalPrivado is not empty) ? c.porentajeCapitalPrivado : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="porcentajeExtranjeroCapital">Porcentaje (%)
                                                                    capital extranjero
                                                                    de la empresa:</label>
                                                                <input type="text" class="form-control"
                                                                       name="porcentajeExtranjeroCapital"
                                                                       title="Porcentaje (%) capital extranjero de la empresa"
                                                                       value="{% for c in capital %}{{ (c.porcentajeCapitalExtranjero is not empty) ? c.porcentajeCapitalExtranjero : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="paisOrigenCapital">País de orígen del
                                                                    capital
                                                                    extranjero:</label>
                                                                <select name="paisOrigenCapital" id="paisOrigenCapital"
                                                                        class="form-control"
                                                                        title="País de orígen del capital extranjero de la empresa">
                                                                    {% for pais in paises %}
                                                                        <option value="{{ pais.idPais }}" {% for c in capital %}{{ (c.idPais is not empty and c.idPais == pais.nombre) ? 'selected' : '' }}{% endfor %}>{{ pais.nombre }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="porcentajePublicoCapital">Porcentaje (%)
                                                                    capital
                                                                    público de la
                                                                    empresa:</label>
                                                                <input type="text" class="form-control"
                                                                       name="porcentajePublicoCapital"
                                                                       title="Porcentaje (%) capital público de la empresa"
                                                                       value="{% for c in capital %}{{ (c.porcentajeCapitalPublic is not empty) ? c.porcentajeCapitalPublic : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="principalAccionistaCapital">Principal
                                                                    accionista
                                                                    (según registro
                                                                    mercantil):</label>
                                                                <input type="text" class="form-control"
                                                                       name="principalAccionistaCapital"
                                                                       title="Principal accionista (según registro mercantil)"
                                                                       value="{% for c in capital %}{{ (c.principalAccionista is not empty) ? c.principalAccionista : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="nombreCasaMatrizCapital">Nombre de la casa
                                                                    matriz:</label>
                                                                <input type="text" class="form-control"
                                                                       name="nombreCasaMatrizCapital"
                                                                       title="Nombre de la casa matriz"
                                                                       value="{% for c in capital %}{{ (c.nombreCasaMatriz is not empty) ? c.nombreCasaMatriz : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" well">
                                                        <h4 class="text-center">Productos de la empresa</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="porcentajeActividadProductos">Porcentaje de
                                                                    actividad de la
                                                                    empresa:</label>
                                                                <input type="text" name="porcentajeActividadProductos"
                                                                       class="form-control"
                                                                       title="Porcentaje de actividad de la empresa"
                                                                       value="{% for p in productosEmpresa %}{{ (p.porcentajeActividad is not empty) ? p.porcentajeActividad : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="capacidadInstaladaProductos">Capacidad
                                                                    instalada
                                                                    (toneladas /
                                                                    año):</label>
                                                                <input type="text" name="capacidadInstaladaProductos"
                                                                       class="form-control"
                                                                       title="Capacidad instalada (toneladas / año)"
                                                                       value="{% for p in productosEmpresa %}{{ (p.capacidadInstalada is not empty) ? p.capacidadInstalada : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="productosFabricaProductos">Productos que
                                                                    fabrica:</label>
                                                                <textarea name="productosFabricaProductos"
                                                                          id="productosFabricaProductos"
                                                                          rows="2"
                                                                          class="form-control">{% for p in productosEmpresa %}{{ (p.productos is not empty) ? p.productos : '' }}{% endfor %}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="well"><h4 class="text-center">Personal de la
                                                            empresa</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="nombrePrincipalPersonal">Nombre del
                                                                    principal
                                                                    ejecutivo de la
                                                                    empresa:</label>
                                                                <input type="text" class="form-control"
                                                                       name="nombrePrincipalPersonal"
                                                                       title="Nombre del principal ejecutivo de la empresa"
                                                                       value="{{ (p.nombreEjecutivo is not empty) ? p.nombreEjecutivo : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="cargoPrincipalPersonal">Cargo del principal
                                                                    ejecutivo de la
                                                                    empresa:</label>
                                                                <input type="text" class="form-control"
                                                                       name="cargoPrincipalPersonal"
                                                                       title="Cargo del principal ejecutivo de la empresa"
                                                                       value="{{ (p.cargoEjecutivo is not empty) ? p.cargoEjecutivo : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="correoPrincipalPersonal">Correo del
                                                                    principal
                                                                    ejecutivo de la
                                                                    empresa:</label>
                                                                <input type="text" class="form-control"
                                                                       name="correoPrincipalPersonal"
                                                                       title="Correo del principal ejecutivo de la empresa"
                                                                       value="{{ (p.correoEjecutivo is not empty) ? p.correoEjecutivo : '' }}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingFour">
                                                <h4 class="panel-title text-center">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion"
                                                       href="#collapseFour" aria-expanded="false"
                                                       aria-controls="collapseFour">
                                                        Tercer paso
                                                    </a>
                                                    <a class="pull-right">
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                                 aria-labelledby="headingFour">
                                                <div class="panel-body">
                                                    <div class="well"><h4 class="text-center">Personal ocupado de la
                                                            empresa</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="cantidadAdministrativo">Cantidad
                                                                    administrativo:</label>
                                                                <input type="text" class="form-control"
                                                                       name="cantidadAdministrativo"
                                                                       title="Cantidad administrativo"
                                                                       value="{{ (p.cantidadAdministrativo is not empty) ? p.cantidadAdministrativo : '' }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="cantidadAlmacen">Cantidad almacen:</label>
                                                                <input type="text" class="form-control"
                                                                       name="cantidadAlmacen"
                                                                       title="Cantidad almacen"
                                                                       value="{{ (p.cantidadAlmacen is not empty) ? p.cantidadAlmacen : '' }}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="well"><h4 class="text-center">Representantes de la
                                                            empresa
                                                            ante Asoquim</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="nombreRepresentante">Nombre del
                                                                    representante:</label>
                                                                <input type="text" class="form-control"
                                                                       name="nombreRepresentante"
                                                                       title="Nombre del representante ante Asoquim"
                                                                       value="{% for r in representantes %}{{ (r.nombre is not empty) ? r.nombre : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="cargoRepresentante">Cargo del
                                                                    representante:</label>
                                                                <input type="text" class="form-control"
                                                                       name="cargoRepresentante"
                                                                       title="Cargo del representante ante Asoquim"
                                                                       value="{% for r in representantes %}{{ (r.cargo is not empty) ? r.cargo : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="direccionRepresentante">Dirección de oficina
                                                                    del
                                                                    representante:</label>
                                                                <input type="text" class="form-control"
                                                                       name="direccionRepresentante"
                                                                       title="Dirección de oficina del representante"
                                                                       value="{% for r in representantes %}{{ (r.direccionOficina is not empty) ? r.direccionOficina : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="telefonoRepresentante">Teléfono del
                                                                    representante:</label>
                                                                <input type="text" class="form-control"
                                                                       name="telefonoRepresentante"
                                                                       title="Teléfono del representante ante Asoquim"
                                                                       value="{% for r in representantes %}{{ (r.telefono is not empty) ? r.telefono : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="faxRepresentante">Fax del
                                                                    representante:</label>
                                                                <input type="text" class="form-control"
                                                                       name="faxRepresentante"
                                                                       title="Fax del representante"
                                                                       value="{% for r in representantes %}{{ (r.fax is not empty) ? r.fax : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <label for="correoRepresentante">Correo electrónico del
                                                                    representante:</label>
                                                                <input type="text" class="form-control"
                                                                       name="correoRepresentante"
                                                                       title="Correo electrónico del representante"
                                                                       value="{% for r in representantes %}{{ (r.correo is not empty) ? r.correo : '' }}{% endfor %}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="well"><h4 class="text-center">Referencia de dos (2)
                                                            miembros
                                                            de
                                                            Asoquim</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="empresaReferencia1">Empresa de
                                                                    contacto:</label>
                                                                <input type="text" class="form-control"
                                                                       name="empresaReferencia1"
                                                                       id="empresaReferencia1"
                                                                       title="Empresa que referencia miembro de Asoquim"
                                                                       value="{{ p.empresaReferencia1 }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="personaReferencia1">Persona de
                                                                    contacto:</label>
                                                                <input type="text" class="form-control"
                                                                       name="personaReferencia1"
                                                                       id="personaReferencia1"
                                                                       title="Empresa que referencia miembro de Asoquim"
                                                                       value="{{ p.personaReferencia1 }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="empresaReferencia2">Empresa de
                                                                    contacto:</label>
                                                                <input type="text" class="form-control"
                                                                       name="empresaReferencia2"
                                                                       id="empresaReferencia2"
                                                                       title="Empresa que referencia miembro de Asoquim"
                                                                       value="{{ p.empresaReferencia2 }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="personaReferencia2">Persona de
                                                                    contacto:</label>
                                                                <input type="text" class="form-control"
                                                                       name="personaReferencia2"
                                                                       id="personaReferencia2"
                                                                       title="Empresa que referencia miembro de Asoquim"
                                                                       value="{{ p.personaReferencia2 }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="well"><h4 class="text-center">Exportaciones de la
                                                            empresa</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <label for="paisExportacion">Realiza
                                                                exportaciones: </label>
                                                            <div class="radio">
                                                                {% if exportaciones is not empty %}
                                                                    <label><input type="radio" name="paisExportaSi"
                                                                                  class="pais_si" checked/>
                                                                        Sí</label>
                                                                {% else %}
                                                                    <label><input type="radio" name="paisExportaSi"
                                                                                  class="pais_si"/>
                                                                        Sí</label>
                                                                    <label><input type="radio" name="paisExportaNo"
                                                                                  class="pais_no" checked/>
                                                                        No</label>
                                                                {% endif %}
                                                            </div>
                                                            <select name="paisExportacion" id="paisExportacion"
                                                                    class="form-control paisExportacion {{ (exportaciones is empty) ? 'disappeared' : '' }}"
                                                                    title="">
                                                                {% for pais in paises %}
                                                                    <option value="{{ pais.idPais }}" {% for e in exportaciones %}{{ (e is not empty and e.idPais == pais.nombre) ? 'selected' : '' }}{% endfor %}>{{ pais.nombre }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="headingLast">
                                                <h4 class="panel-title text-center">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion"
                                                       href="#collapseLast" aria-expanded="false"
                                                       aria-controls="collapseLast">
                                                        Último paso
                                                    </a>
                                                    <a class="pull-right">
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseLast" class="panel-collapse collapse" role="tabpanel"
                                                 aria-labelledby="headingLast">
                                                <div class="panel-body">
                                                    <div class="well"><h4 class="text-center">Archivos indispensables de
                                                            la
                                                            empresa</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="registroArchivo">Registro de la
                                                                    empresa:</label>
                                                                <input type="file" class="form-control"
                                                                       id="registroArchivo"
                                                                       name="registroArchivo">
                                                                {% for a in archivos %}
                                                                    {% if a.registroEmpresa is not empty %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ a.registroEmpresa }}"
                                                                           target="_blank">Ver documento</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="rifArchivo">RIF de la empresa:</label>
                                                                <input type="file" class="form-control" id="rifArchivo"
                                                                       name="rifArchivo">
                                                                {% for a in archivos %}
                                                                    {% if a.rifEmpresa is not empty %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ a.rifEmpresa }}"
                                                                           target="_blank">Ver documento</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="impuestoArchivo[]">Impuesto sobre la renta:
                                                                    (ISLR)</label>
                                                                <input type="file" class="form-control"
                                                                       id="impuestoArchivo"
                                                                       name="impuestoArchivo[]"/>
                                                                <span id="islrContainer"></span>
                                                                {% if islr is not empty %}
                                                                    {% for key, i in islr %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ i.islr }}"
                                                                           target="_blank">Ver
                                                                            documento {{ key + 1 }}</a>
                                                                        <br/>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="ivaArchivo[]">IVA de la empresa:</label>
                                                                <input type="file" class="form-control" id="ivaArchivo"
                                                                       name="ivaArchivo[]"/>
                                                                <span id="ivaContainer"></span>
                                                                {% if iva is not empty %}
                                                                    {% for key, i in iva %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ i.iva }}"
                                                                           target="_blank">Ver
                                                                            documento {{ key + 1 }}</a>
                                                                        <br/>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {#{% if p.nitArchivo is not empty %}#}
                                                    {#<div class="row nit {{ (p.actividad == 2) ? 'disappeared' : '' }}">#}
                                                    {#<div class="col-xs-12">#}
                                                    {#<div class="form-group">#}
                                                    {#<label for="nitArchivo">Número de identificación#}
                                                    {#tributaria:</label>#}
                                                    {#<input type="file" class="form-control"#}
                                                    {#id="nitArchivo"#}
                                                    {#name="nitArchivo"/>#}
                                                    {#<a href="{{ asset('assets/documentos_afiliados/') ~ p.nitArchivo }}"#}
                                                    {#target="_blank">Ver documento</a>#}
                                                    {#</div>#}
                                                    {#</div>#}
                                                    {#</div>#}
                                                    {#{% endif %}#}
                                                    <div class="well"><h4 class="text-center">Productos controlados
                                                            (Indique
                                                            si la empresa
                                                            posee los siguientes registros y autorizaciones)</h4>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="rasdaArchivo">Registro de Actividades
                                                                    Susceptibles de Degradar
                                                                    el
                                                                    Ambiente - RASDA (Ley 55 sobre sustancias,
                                                                    materiales y
                                                                    desechos
                                                                    peligrosos)</label>
                                                                <input type="file"
                                                                       class="form-control rasdaArchivo"
                                                                       id="rasdaArchivo"
                                                                       name="rasdaArchivo">
                                                                {% for p in productoControlado %}
                                                                    {% if p.registroActividadesSuceptibles is not empty %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ p.registroActividadesSuceptibles }}"
                                                                           target="_blank">Ver documento</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="autorizacionArchivo">Autorización vigente
                                                                    como manejadores de
                                                                    sustancias, materiales o desechos peligrosos y
                                                                    registro de generadores
                                                                    de desechos peligrosos (resolución N°000073, del
                                                                    ministerio del poder
                                                                    popular para el ambiente)</label>
                                                                <input type="file"
                                                                       class="form-control autorizacionArchivo"
                                                                       id="autorizacionArchivo"
                                                                       name="autorizacionArchivo">
                                                                {% for p in productoControlado %}
                                                                    {% if p.autorizacionManejoSustancias is not empty %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ p.autorizacionManejoSustancias }}"
                                                                           target="_blank">Ver documento</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="leyDrogasArchivo">Permisología vigente
                                                                    como
                                                                    operador químico de
                                                                    sustancias químicas precursoras de Drogas (Ley
                                                                    de
                                                                    Drogas)</label>
                                                                <input type="file"
                                                                       class="form-control leyDrogasArchivo"
                                                                       id="leyDrogasArchivo"
                                                                       name="leyDrogasArchivo">
                                                                {% for p in productoControlado %}
                                                                    {% if p.leyDrogas is not empty %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ p.leyDrogas }}"
                                                                           target="_blank">Ver documento</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="operadorArchivo">Permisología vigente
                                                                    como
                                                                    operador de
                                                                    explosivos, químicos y sustancias afines, ante
                                                                    la
                                                                    direccíon general de
                                                                    armas y eplosivos - DAEX (Providencia
                                                                    administrativa
                                                                    N°
                                                                    MPPD-VS-DAEX-007-2009)</label>
                                                                <input type="file"
                                                                       class="form-control operadorArchivo"
                                                                       id="operadorArchivo"
                                                                       name="operadorArchivo">
                                                                {% for p in productoControlado %}
                                                                    {% if p.permisoOperadorExplosivos is not empty %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ p.permisoOperadorExplosivos }}"
                                                                           target="_blank">Ver documento</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="importanteArchivo">Desea ingresar otro
                                                                    dato
                                                                    que
                                                                    considere
                                                                    importante:</label>
                                                                <input type="file"
                                                                       class="form-control importanteArchivo"
                                                                       id="importanteArchivo"
                                                                       name="importanteArchivo"/>
                                                                {% for p in productoControlado %}
                                                                    {% if p.archivoOpcional is not empty %}
                                                                        <a href="{{ asset('assets/documentos_afiliados/') ~ p.archivoOpcional }}"
                                                                           target="_blank">Ver documento</a>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if nivel == 8 or nivel == 2 or nivel == 6 %}
                                        <a href="{{ path('afiliados_dashboard') }}"
                                           class="btn btn-default btn-md"
                                           style="margin-bottom: 20px;">Volver
                                        </a>
                                        <button type="submit" class="btn btn-primary btn-md pull-right"
                                                style="margin-bottom: 20px;">Guardar
                                        </button>
                                    {% else %}
                                        <a href="{{ path('afiliados_dashboard') }}"
                                           class="btn btn-default btn-md pull-right"
                                           style="margin-bottom: 20px;">Volver
                                        </a>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
        {% block javascript %}
            {{ parent() }}
            <script>
                $(document).ready(function () {
                    var count = 1;
                    var num = 1;
                    $("#impuestoArchivo").change(function () {
                        var file = $(this);
                        if (count <= 2) {
                            for (var i = 1; i <= 2; i++) {
                                var first = file.clone().val("");
                                first.appendTo("#islrContainer");
                                count++;
                            }
                        }
                    });

                    $("#ivaArchivo").change(function () {
                        var file = $(this);
                        if (num <= 2) {
                            for (var i = 1; i <= 2; i++) {
                                var first = file.clone().val("");
                                first.appendTo("#ivaContainer");
                                num++;
                            }
                        }
                    });
                });
            </script>
        {% endblock %}