{% extends '::menu.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left"><b>Estadísticas generales:</b></h1>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-6 portlets">
                        <div class="widget">
                            <div class="widget-header">
                                <h2><b>Estadisticas de casos:</b></h2>
                            </div>
                            <div class="widget-content padding" id="recarga1">
                            <div class="col-sm-12" style="visibility: hidden">
                                <div class="row text-center">
                                    <form action="" class="form-inline">
                                        <div class="form-group">
                                            <label class="sr-only">Desde</label>
                                            <input type="text" id="desde2" name="desde2"
                                                   class="form-control datepicker hasDatepicker" value=""
                                                   placeholder="Desde"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only">Hasta</label>
                                            <input type="text" id="hasta2" name="hasta2"
                                                   class="form-control datepicker hasDatepicker" value=""
                                                   placeholder="Hasta"/>
                                        </div>
                                        <button class="btn btn-primary btn-sm md-trigger">Buscar
                                        </button>
                                    </form>
                                </div>
                                <p class="error"
                                   style="display:none;
                                       color: red;
                                       font-size: 12px;
                                       font-style: italic;
                                       margin-top: 5px;">
                                    Debe indicar la fecha para iniciar la busqueda</p>
                            </div>
                            <div class="col-sm-12">
                                <div class="widget-content padding">
                                    <div id="bar"
                                         style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 400px;">
                                    </div>
                                    <button class="btn btn-primary md-trigger" id="cerrar" style="display:none">
                                        Volver
                                    </button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 portlets">
                        <div class="widget">
                            <div class="widget-header">
                                <h2><b>Estadisticas de afiliados:</b></h2>
                            </div>
                            <div class="widget-content padding">
                                <div class="col-sm-12" style="text-align: left;">
                                    <div class="row text-center">
                                        <form action="" class="form-inline">
                                            <div class="form-group">
                                                <label class="sr-only">Desde</label>
                                                <input type="text" id="desde" name="desde"
                                                       class="form-control datepicker" value="" title=""
                                                       placeholder="Desde">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only">Hasta</label>
                                                <input type="text" id="hasta" name="hasta"
                                                       class="form-control datepicker"
                                                       value="" title="" placeholder="Hasta">
                                            </div>
                                            <button type="button" class="btn btn-primary btn-sm md-trigger"
                                                    style=""
                                                    onclick="cargaGrafica2()">Buscar
                                            </button>
                                        </form>
                                    </div>
                                    <p class="error1"
                                       style="display:none;color: red;font-size: 12px;font-style: italic;margin-top: 5px;">
                                        Debe indicar la fecha para iniciar la busqueda</p>
                                </div>
                                <div class="col-sm-11">
                                    <!-- Div Grafica Donuts -->
                                    <div class="widget-content padding" style="text-align: center;">
                                        <div id="donut" style="height: 400px;"></div>
                                    </div>
                                    <button class="btn btn-primary md-trigger" id='cerrar1' style="display:none">
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Your awesome content ends here -->
        </div>
        <!-- ============================================================== -->
        <!-- End content here -->
        <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>

        new Morris.Bar({
            element: 'bar',
            resize: true,
            data: [
                {y: 'Casos totales', a: {{ casosabiertos }}, b: {{ casoscerrados }} },
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Abiertos', 'Cerrados']
        });

        new Morris.Donut({
            element: 'donut',
            data: [
                {label: "Activos:", value: {{ activos }} },
                {label: "Inactivos:", value: {{ inactivos }} },
                {label: "Pendientes:", value: {{ pendientes }} }
            ]
        });

        function cargaGrafica2() {
            var desde = $('#desde').val();
            var hasta = $('#hasta').val();
            if (desde && hasta) {
                $.ajax({
                    type: "POST",
                    url: 'afiliados_grafica2',
                    data: {
                        desde: $.date(desde),
                        hasta: $.date(hasta)
                    }
                }).done(function (res) {
                    console.log(res);
                    $('#donut').html(res).show();
                    $('#cerrar1').show();
                    $('.error1').hide();
                });
            } else {
                $('.error1').show();
            }
        }

    </script>
{% endblock %}