{% extends '::menu.html.twig' %}
{% block title %}Pagos{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevoPago.html.twig' %}
        {% include 'editarPago.html.twig' %}
        {% include 'fechaCobranza.html.twig' %}
        {% include 'editarfechaCobranza.html.twig' %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="fa fa-briefcase"></i> Pagos de {{ afiliado.nombre }}
                    </h1>
                    <h3>Lista de pagos de afiliados</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                {% if (afiliado.fechaCobranza is not empty) %}
                                    <h2>Día de cobranza: <strong>{{ afiliado.fechaCobranza }}</strong></h2>
                                {% endif %}
                                <div class="additional-btn">
                                    <button class="btn btn-xs btn-success" data-toggle="modal"
                                            data-target="#nuevoPago"><i class="fa fa-plus-circle"></i> Agregar pago
                                    </button>
                                    {% if afiliado.fechaCobranza is empty %}
                                        <button class="btn btn-xs btn-default" data-toggle="modal"
                                                data-target="#nuevaFechaCobranza"><i class="fa fa-plus-circle"></i>
                                            Agregar fecha de cobranza
                                        </button>
                                    {% else %}
                                        <button class="btn btn-xs btn-default" data-toggle="modal"
                                                data-target="#editarFechaCobranza" id="editarCobranza"
                                                data-fecha="{{ afiliado.fechaCobranza }}"><i class="fa fa-edit"></i>
                                            Editar fecha de cobranza
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listapagos" cellspacing="0" width="100%">
                                    <thead>
                                    <tr role="row">
                                        <th>F. de pago</th>
                                        <th>Monto</th>
                                        <th>Descripción</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in results %}
                                        <tr role="row" class="odd">
                                            <td id="fechaPago{{ result.idPago }}"
                                                data-fecha-pago="{{ result.fechaPago | date("d-m-Y") }}">{{ result.fechaPago | date("d-m-Y") }}</td>
                                            <td id="montoPago{{ result.idPago }}"
                                                data-monto="{{ result.monto }}">{{ result.monto | number_format(2) }}
                                                BsF.
                                            </td>
                                            <td id="descripcionPago{{ result.idPago }}"
                                                data-descripcion="{{ result.descripcion }}">{{ result.descripcion }}</td>
                                            <td class="text-center">
                                                <div class="btn-group btn-group-xs">
                                                    <a href="#"
                                                       class="btn btn-xs btn-danger btn-tooltip md-trigger"
                                                       data-modal="md-super-scaled"
                                                       data-toggle="tooltip" data-placement="top"
                                                       onclick="eliminarPago({{ result.idPago }})" title="Eliminar">
                                                        <i class="fa fa-minus"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-xs btn-default btn-tooltip"
                                                       onclick="editarPago({{ result.idPago }})"
                                                       data-toggle="modal" data-placement="top" title="Editar"
                                                       data-target="#modalEditarPago">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a class="btn btn-default" href="{{ path('afiliados_dashboard') }}">Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md-modal md-super-scaled md-hide" id="md-super-scaled">
                <div class="md-content">
                    <h3>¿Está seguro de que desea <strong>eliminar</strong> este pago?</h3>
                    <input type="hidden" id="eliminarPago" value=""/>
                    <div>
                        <p class="text-center">
                            <button class="btn btn-danger md-close">Cerrar</button>
                            <button class="btn btn-success md-close" onclick="eliminar()">Sí, seguro</button>
                        </p>
                    </div>
                </div><!-- End div .md-content -->
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#listapagos').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No se han encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });
    </script>
{% endblock %}
