{% extends '::menu.html.twig' %}
{% block title %}Pendientes{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            {% include 'nuevaEmpresa.html.twig' %}
            {% include 'aprobarPendiente.html.twig' %}
            {% include 'rechazarPendiente.html.twig' %}
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="fa fa-briefcase"></i>
                        Empresas pendientes
                    </h1>
                    <h3>Lista de empresas pendientes por aprobación</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2><strong>Empresas pendientes</strong> por aprobación:</h2>
                                <div class="additional-btn">
                                    {% if nivel == 8 %}
                                        <button class="btn btn-xs btn-success" data-toggle="modal"
                                                data-target="#nuevaEmpresa"><i class="fa fa-plus-circle"></i> Agregar
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listaempresas" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Nombre de la empresa</th>
                                        <th>Actividad</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for p in pendientes %}
                                        <tr class="odd" role="row">
                                            <td>{{ p.nombre | length > 45 ? p.nombre | slice(0, 45) ~ '...' : p.nombre }}</td>
                                            {% if p.actividad == 1 %}
                                                <td>Industrial</td>
                                            {% else %}
                                                <td>Comercios y servicios</td>
                                            {% endif %}
                                            <td>
                                                <div class="text-center">
                                                    <div class="btn-group btn-group-xs">
                                                        <a href="javascript:void(0)"
                                                           class="btn btn-xs btn-success btn-tooltip"
                                                           data-toggle="modal" data-target="#aprobarPendiente"
                                                           data-placement="top" title="Aprobar"
                                                           data-rif="{{ p.rif }}"
                                                           id="aprobarEmpresa">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a href="#"
                                                           class="btn btn-xs btn-danger btn-tooltip"
                                                           data-toggle="modal" data-target="#modal-rechazar-empresa"
                                                           data-rif="{{ p.rif }}"
                                                           id="rechazarEmpresa"
                                                           title="Rechazar">
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                        <a class="btn btn-xs btn-default btn-tooltip"
                                                           data-toggle="tooltip" data-placement="top" title="Ver detalles"
                                                           href="{{ path('afiliados_detalles', {'id': p.rif }) }}">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#listaempresas').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                },
                "responsive": true
            });
        });


        $("*#rechazarEmpresa").on("click", function () {
            var empresa = $(this).data("rif");
            $("#empresaRechazada").val(empresa);
        });

        $("*#aprobarEmpresa").on("click", function () {
            var empresa = $(this).data("rif");
            $("#empresaAprobada").val(empresa);
        });
    </script>
{% endblock %}