{% extends '::template.html.twig' %}
{% block body %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<h1>Cuestionario Industrial - Inscripcion de la Empresa</h1>
{{form_start(form)}}
 
 <p> DATOS ADICIONALES (para completar con anexos)</p>
 <p class="form_error">{{ form_errors(form.pathregistro) }}</p>
 <p class="form_input">Registro Mercantil de la Empresa (Anexar copia):
 {{form_widget(form.registroEmpresa)}}</p>
 
 <p class="form_error">{{ form_errors(form.pathiva) }}</p>
 <p class="form_input"> Impuesto al valor agregado (IVA) (De los 3 últimos meses,Anexar copias de las Declaraciones de mes): {{form_widget(form.pathiva)}}</p>

 <p class="form_error">{{ form_errors (form.pathislr)}}</p>
 <p class="form_input">Impuesto sobre la renta (ISLR) (De los 3 últimos Ejercicios Fiscales, si aplica,Anexar copias de las Declaraciones de  cada año): {{form_widget(form.pathislr)}}

 <p class="form_error">{{ form_errors (form.pathnit)}}</p>
 <p class="form_input">NIT de la Empresa{{form_widget(form.pathnit)}}

 <p class="form_error">{{ form_errors (form .pathrif)}}</p>
 <p class="form_input">RIF de la Empresa{{form_widget(form.pathrif)}}

<p>PRODUCTOS CONTROLADOS
POR FAVOR INDIQUE CON UNA “X” SI LA EMPRESA POSEE LOS SIGUIENTES REGISTROS Y AUTORIZACIONES
</p>
<p class="form_error">{{ form_errors (form.pathproducto)}}</p>
 <p class="form_input">{{form_widget(form.pathproducto)}}

<p>NOTA: Puede agregar cualquier otra información que considere necesaria:</p>
<p class="form_error">{{ form_errors (form.pathdato)}}</p>
 <p class="form_input">{{form_widget(form.pathdato)}}

<p> {{ form_widget(form.Guardar) }}</p>
{{ form_end(form) }}
{% endblock %}