{% extends '::menu.html.twig' %}
{% block title %}Categorías{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevaCategoria.html.twig' %}
        {% include 'editarCategoria.html.twig' %}
        {% include 'eliminarCategoria.html.twig' %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <span class="fa fa-envelope"></span>
                        Categorías de comunicados
                    </h1>
                    <h3>Lista de categorías de comunicados:</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2>Lista de categorías:</h2>
                                <div class="additional-btn">
                                    <button class="btn btn-xs btn-success" data-toggle="modal"
                                            data-target="#nuevaCategoria"><i
                                                class="fa fa-plus-circle"></i> Agregar
                                    </button>
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listacorreos" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in results %}
                                        <tr role="row" class="odd">
                                            <td>{{ result.descripcion }}</td>
                                            <td class="text-center">
                                                <div class="btn-group btn-group-xs">
                                                    <a href="" class="btn btn-xs btn-default editCategory"
                                                       data-toggle="modal"
                                                       data-target="#editarCategoria"
                                                       data-descripcion="{{ result.descripcion }}"
                                                       data-id="{{ result.idCategoria }}"><i
                                                                class="fa fa-edit"></i></a>
                                                    <a href="" class="btn btn-xs btn-danger deleteCategory"
                                                       data-toggle="modal"
                                                       data-id="{{ result.idCategoria }}"
                                                       data-target="#eliminarCategoria"><i
                                                                class="fa fa-remove"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#listacorreos').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });

        var $editCategory = $(".editCategory"),
            $deleteCategory = $(".deleteCategory"),
            $modal = $(".modal");
        $deleteCategory.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this),
                $id = $btn.data("id"),
                $idCategory = $("#idDelCategory");
            $modal.on("shown.bs.modal", function () {
                $idCategory.val($id);
            });
        });
        $editCategory.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this),
                $descripcion = $btn.data("descripcion"),
                $id = $btn.data("id"),
                $idCategory = $("#idCategory"),
                $input = $(".editCategoriaComunicado");
            $modal.on("shown.bs.modal", function () {
                $idCategory.val($id);
                $input.val($descripcion);
            });
        });
    </script>
{% endblock %}