{% extends '::template.html.twig' %}

{% block body %}
    <div class="content-page">
        <div class="content">
            <div class="col-sm-12">
                <div class="page-heading">
                    <h1>Cerrar Caso</h1>
                </div>
                <div class="row">
                    <div class="widget">
                        <div class="widget-header transparent">

                            <div class="additional-btn">
                                <a href="{{ asset('crear') }}" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                            </div>
                        </div>
                        <div class="widget-content padding">
                            {{ form_start(form) }}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Observaciones acerca del Caso: </label>
                                        <p class="form_input">{{ form_widget(form.observaciones,{'attr':{'style':"width:250px;"}}) }}</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Resultados Obtenidos:</label>
                                        <p class="form_error">{{ form_errors(form.resultados) }}</p>
                                        <p class="form_input"> {{ form_widget(form.resultados,{'attr':{'style':"width:250px;"}}) }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="form_input"
                                           style="display: none;">{{ form_widget(form.estatus,{'attr':{'value':"Cerrado"}}) }}</p>
                                    </div>
                                </div>
                            </div>
                            <div><p> {{ form_widget(form.Guardar,{'attr': {'class':"btn btn-success"}}) }}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
