{% extends '::template.html.twig' %}
{% block body %}
    <div class="content-page">
        <div class="content">
            <div class="col-sm-12">
                <div class="page-heading">
                    <h1>Plantillas</h1>
                </div>
                <div class="row">
                    <div class="widget">
                        <div class="widget-header transparent">
                            <div class="additional-btn">
                                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                            </div>
                        </div>
                        <div class="widget-content padding">

                            <table id="search-table" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td colspan="3">
                                        <div id="message-builder-wrapper">
                                            <div>
                                                <div>

                                                    <div>

                                                        <div>
                                                            <p>
                                                                <label>Categorías:</label>
                                                                <select id="combito">
                                                                    <option value="1">Ventas(Soldes)</option>
                                                                    <option value="2">Encuesta</option>
                                                                    <option value="3">Viajes</option>
                                                                    <option value="4">Asociaciones</option>
                                                                    <option value="5">Vacaciones</option>
                                                                    <option value="6">Estandar</option>
                                                                    <option value="7">Belleza</option>
                                                                    <option value="8">Dentista</option>
                                                                    <option value="9">Ciencias</option>
                                                                    <option value="10">Hotel</option>
                                                                </select>
                                                            </p>
                                                        </div>


                                                        <div id="div_1" class="mostrar">
                                                            <p>Selecione un plantilla</p>

                                                            <span class="template-btn" id="boton_cargar">
                                 <a href="{{ path('comunicade_comunicado1') }}"> <img width="120" height="120"
                                                                                      src="{{ asset('bundles/prueba/comunicado/83.01.2.jpg') }}"></a>
                                
                                </span>
                                                            <span class="template-btn" data-templateid="1323"
                                                                  data-categoryid="72">
                                   <a href="{{ path('comunicade_comunicado1') }}"> <img width="120" height="120"
                                                                                        src="{{ asset('bundles/prueba/comunicado/83.02.2.jpg') }}"></a>
                                </span>

                                                            <span class="template-btn" data-templateid="1324"
                                                                  data-categoryid="72">
                                   <a href="{{ path('comunicade_comunicado1') }}"> <img width="120" height="120"
                                                                                        src="{{ asset('bundles/prueba/comunicado/83.03.2.jpg') }}"></a>
                                </span>

                                                            <span class="template-btn" data-templateid="1325"
                                                                  data-categoryid="72">
                                     <a href="javascript:Enviar('{{ asset('bundles/prueba/enviaplantilla.js') }}','{{ asset('bundles/prueba/mailer.html') }}#hola')"
                                        title="Mi Biografía"> <img width="120" height="120"
                                                                   src="{{ asset('bundles/prueba/comunicado/83.04.2.jpg') }}"></a>
                                </span>

                                                            <span class="template-btn" data-templateid="1326"
                                                                  data-categoryid="72">
                                <a href="{{ asset('../otromas') }}"><img width="120" height="120"
                                                                         src="{{ asset('bundles/prueba/comunicado/83.05.2.jpg') }}"></a>
                                </span>

                                                            <span class="template-btn" data-templateid="1327"
                                                                  data-categoryid="72" id="hola">
                                   <a> <img width="120" height="120"
                                            src="{{ asset('bundles/prueba/comunicado/83.06.2.jpg') }}"></a>
                                </span>

                                                            <span class="template-btn" data-templateid="1328"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/83.07.2.jpg') }}">
                                </span>

                                                            <span class="template-btn" data-templateid="1329"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/83.08.2.jpg') }}">
                                </span>

                                                            <span class="template-btn" data-templateid="1330"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/83.09.2.jpg') }}">
                                </span>

                                                            <span class="template-btn" data-templateid="1331"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/83.10.2.jpg') }}">
                                </span>


                                                        </div>
                                                        <div id="div_2" class="contenido">
                                                            <p>Selecione un plantilla</p>
                                                            <span class="template-btn" data-templateid="1267"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.01.1.jpg') }}">
                                </span>

                                                            <span class="template-btn" data-templateid="1268"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.02.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1269"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.03.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1270"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.04.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1271"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.05.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1272"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.06.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1273"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.07.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1274"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.08.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1275"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.09.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1276"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/85.10.1.jpg') }}">
                                </span>

                                                        </div>
                                                        <div id="div_3" class="contenido">
                                                            <p>Selecione un plantilla</p>
                                                            <span class="template-btn" data-templateid="1267"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.1.1.jpg') }}">
                                </span>

                                                            <span class="template-btn" data-templateid="1268"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.2.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1269"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.3.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1270"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.4.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1271"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.5.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1272"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.6.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1273"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.7.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1274"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.8.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1275"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.9.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1276"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.59.10.1.jpg') }}">
                                </span>

                                                        </div>

                                                        <div id="div_4" class="contenido">
                                                            <p>Selecione un plantilla</p>

                                                            <span class="template-btn" data-templateid="1267"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.1.1.jpg') }}">
                                </span>

                                                            <span class="template-btn" data-templateid="1268"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.2.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1269"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.3.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1270"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.4.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1271"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.5.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1272"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.6.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1273"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.7.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1274"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.8.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1275"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.9.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1276"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.56.10.1.jpg') }}">
                                </span>

                                                        </div>


                                                        <div id="div_5" class="contenido">
                                                            <p>Selecione un plantilla</p>
                                                            <span class="template-btn" data-templateid="1267"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.01.2.jpg') }}">
                                </span>

                                                            <span class="template-btn" data-templateid="1268"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.02.2.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1269"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.03.2.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1270"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.04.2.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1271"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.05.2.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1272"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.06.2.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1273"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.07.2.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1274"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.08.2.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1275"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.09.2.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1276"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/84.10.2.jpg') }}">
                                </span>

                                                        </div>
                                                        <div id="div_6" class="contenido">
                                                            <p>Selecione un plantilla</p>
                                                            <span class="template-btn" data-templateid="1267"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.1.1.jpg') }}">
                                </span>

                                                            <span class="template-btn" data-templateid="1268"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.2.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1269"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.3.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1270"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.4.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1271"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.5.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1272"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.6.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1273"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.7.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1274"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.8.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1275"
                                                                  data-categoryid="72">
                                    <img width="120" height="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.9.1.jpg') }}">
                                </span>
                                                            <span class="template-btn" data-templateid="1276"
                                                                  data-categoryid="72">
                                    <img width="120" hight="120"
                                         src="{{ asset('bundles/prueba/comunicado/mini.36.10.1.jpg') }}">
                                </span>

                                                        </div>
                                                        <div>


                                                        </div>
                                                    </div>
                                                </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="contenido"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}