{% extends '::menu.html.twig' %}
{% block title %}Comunicados{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevaListaCorreo.html.twig' %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="glyphicon glyphicon-bullhorn"></i> Crear comunicado
                    </h1>
                    <h3>Lista de pagos de afiliados</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-content padding">
                                <div id="myWizard">
                                    <div class="navbar">
                                        <div class="navbar-inner">
                                            <div class="container">
                                                <ul>
                                                    <li><a href="#tab1" data-toggle="tab">Selección de plantilla</a>
                                                    </li>
                                                    <li><a href="#tab2" data-toggle="tab">Edición de plantilla</a></li>
                                                    <li><a href="#tab3" data-toggle="tab">Envío de comunicado</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="bar" class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-success active"
                                             role="progressbar"
                                             aria-valuenow="0" aria-valuemin="0"
                                             aria-valuemax="100" style="width: 0%;"></div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane" id="tab1">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Categorías:</label>
                                                            <select id="filter" class="form-control" title="">
                                                                {% for c in categorias %}
                                                                    <option value="{{ c.descripcion }}" {{ (c.descripcion == 'Ventas') ? 'selected' : '' }}>{{ c.descripcion }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="filter-row">
                                                    <div id="filter-container">
                                                        {% for t in templates %}
                                                            <div class="filter-col">
                                                                <img src="{{ asset('assets/templates/') ~ t.thumbnail }}"
                                                                     class="img-responsive template"
                                                                     data-content="{{ t.content }}"
                                                                     id="template{{ t.idTemplate }}"
                                                                     data-id="{{ t.idTemplate }}"
                                                                     data-category="{{ t.idCategoria }}"
                                                                     alt="Comunicado de Asoquim"/>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <span id="newsletter"></span>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <div class="container">
                                                <div id="foo"></div>
                                                <div class="row">
                                                    <div class="col-md-4 col-md-push-8">
                                                        <div class="form-group">
                                                            <a href="" class="btn btn-success btn-xs pull-right"
                                                               data-toggle="modal" data-target="#nuevaListaCorreo">Nueva
                                                                lista de correos</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <hr/>
                                                <div class="row" style="margin: auto">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Asunto:</label>
                                                            <input type="text" class="form-control" id="subject"
                                                                   title=""/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">Elija los destinatarios:</label>
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio"
                                                                           id="toggleListaCorreos"/>
                                                                    Agregar correos
                                                                </label>
                                                                <label>
                                                                    <input type="radio" id="toggleListaContactos">
                                                                    Listas
                                                                    de contactos
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Destinatario:</label>
                                                            <select class="form-control selectpicker"
                                                                    id="listaCorreos"
                                                                    multiple
                                                                    data-live-search-placeholder="Buscar"
                                                                    data-actions-box="true" title="-Seleccione-">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>¿Cuándo se realizará el envío?</label>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" class="sendNow" id="sendNow">
                                                                    Enviar ahora
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" class="scheduleMsg"
                                                                           id="scheduleMsg">
                                                                    Programar envío
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group sendDateContainer">
                                                            <label>Fecha de envío:</label>
                                                            <input type="text" class="form-control fechaEnvio"
                                                                   id="fechaEnvio"
                                                                   placeholder="Ej: 1992-12-28 14:00:00" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="pager wizard">
                                            <li class="previous first" style="display:none;"><a href="#">First</a></li>
                                            <li class="previous" id="previous"><a href="#">Volver</a></li>
                                            <li class="next last" style="display:none;"><a href="#">Last</a></li>
                                            <li class="next next-btn"><a href="#">Continuar</a></li>
                                            <li class="finish" style="display: none;"><a
                                                        href="" id="enviar"
                                                        data-loading-text="Enviando, por favor espere...">Enviar <i
                                                            class="fa fa-send"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        var $ = jQuery.noConflict(),
            $inputDate = $(".sendDateContainer"),
            $schdl = $(".scheduleMsg"),
            $send = $(".sendNow"),
            wizard = $("#myWizard"),
            template = $(".template"),
            date = new Date(),
            dd = date.getDate(),
            mm = date.getMonth() + 1,
            yyyy = date.getFullYear(),
            html,
            css,
            editor,
            bool = 0;
        mm > 9 ? '' : mm = '0' + mm;
        var today = yyyy + '-' + mm + '-' + dd + ' 00:00:00';
        $(document).ready(function () {
            $("#sendNow").iCheck("check");
            $schdl.on("ifChecked", function () {
                $send.iCheck("uncheck");
                if ($inputDate.find("input").hasAttr("disabled")) {
                    $inputDate.find("input").removeAttr("disabled");
                }
            });
            $send.on("ifChecked", function () {
                $inputDate.find("input").val("");
                $schdl.iCheck("uncheck");
                if (!$inputDate.find("input").hasAttr("disabled")) {
                    $inputDate.find("input").attr("disabled", true);
                }
            });
            template.on("click", function () {
                var id = $(this).data("id");
                $(".next-btn").data("template", id);
                if (!$(this).hasClass('activeHover')) {
                    template.removeClass('activeHover').addClass('unactiveHover');
                    $(this).removeClass('unactiveHover').addClass('activeHover');
                } else {
                    template.removeClass('activeHover unactiveHover');
                }
            });
            wizard.bootstrapWizard({
                tabClass: 'nav nav-tabs nav-justified',
                onTabShow: function (tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;
                    var $percent = ($current / $total) * 100;
                    wizard.find(".progress-bar").css({width: $percent + '%'});
                },
                onTabClick: function (tab, navigation, index) {
                    return false;
                },
                onNext: function (tab, navigation, index) {
                    if (index === 1) {
                        if (!$("img.template").hasClass("activeHover")) {
                            alert("Debe elegir una plantilla");
                            return false;
                        } else {
                            var templateId = $(".next-btn").data("template");
                            var content = $("#template" + templateId).data("content");
                            $("#newsletter").append("<div id='gjs'></div>");
                            editor = grapesjs.init({
                                container: '#gjs',
                                plugins: ['gjs-preset-newsletter']
                            });
                            editor.setComponents(content);
                        }
                    }
                    if (index === 2) {
                        html = editor.runCommand("gjs-get-inlined-html");
                        $(".finish").show();
                    }
                },
                onPrevious: function (tab, navigation, index) {
                    if (index !== 2) {
                        $(".finish").hide();
                    }
                }
            });
        });
        $(".finish a").on("click", function (event) {
            event.preventDefault();
            var contact = $("select#listaCorreos :selected"),
                arr = [],
                btn = $("#enviar"),
                subject = $("#subject").val();
            if (contact.length > 1) {
                contact.map(function (i, o) {
                    arr[i] = $(o).val();
                });
            }
            if (!subject) {
                alert("Ingresa un asunto");
                return false;
            }
            if (!$("#listaCorreos").val()) {
                alert("Selecciona un destinatario");
                return false;
            }
            $.ajax({
                url: "guardar_comunicado",
                type: "POST",
                data: {
                    contacts: (contact.length > 1 ) ? arr : contact.val(),
                    subject: subject,
                    html: html,
                    sendDate: ($inputDate.find("input").val() === "") ? today : $inputDate.find("input").val(),
                    bool: ($("select#listaCorreos").hasClass("isMailList")) ? bool = 1 : bool = 0
                },
                dataType: "JSON",
                beforeSend: function () {
                    btn.button("loading");
                },
                success: function (data) {
                    console.log(data);
                    if (data.success) {
                        $.notify({
                            title: 'Comunicado enviado',
                            text: 'Su comunicado ha sido enviado con éxito a la lista de pruebas.',
                            image: "<i class='fa fa-check'></i>"
                        }, {
                            style: 'metro',
                            className: "success",
                            showAnimation: "show",
                            clickToHide: true,
                            autoHide: false
                        });
                        window.location.href = "lista_comunicados";
                    } else {
                        $.notify({
                            title: 'Ha ocurrido un error',
                            text: 'Lamentablemente ha fallado el envío. Vuelva a intentar',
                            image: "<i class='fa fa-remove'></i>"
                        }, {
                            style: 'metro',
                            className: "error",
                            showAnimation: "show",
                            clickToHide: true,
                            autoHide: false
                        });
                    }
                },
                complete: function () {
                    btn.button("reset");
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}
