<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Prueba de CKEditor</title>
<script type="text/javascript" src="//cdn.ckeditor.com/4.5.1/full/ckeditor.js"></script>
<script type="text/javascript">
window.onload = function()
{
	CKEDITOR.replace('editor');
}
</script>
</head>
<body>
<h1>Prueba de CKEditor</h1>
<textarea name="editor">Esto es <b>Una prueba de </b><i>CKEditor</i></textarea>
</body>
</html>