{% extends '::menu.html.twig' %}
{% block title %}Correos{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <div class="modal fade" id="editarLista" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h1 class="modal-title text-center" id="myModalLabel">Editar lista de correos</h1>
                        </div>
                        <form action="{{ path('group_rename') }}" method="POST">
                            <div class="modal-body">
                                <input type="hidden" id="idLista" name="id"/>
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" name="nombre" class="form-control editarNombreLista" title=""/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default cerrar" data-dismiss="modal">Cerrar
                                </button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="removeContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h1 class="modal-title text-center" id="myModalLabel">Editar lista de correos</h1>
                        </div>
                        <form action="{{ path('contact_remove') }}" method="POST">
                            <div class="modal-body">
                                <input type="hidden" name="grupo" id="grupo" name="id"/>
                                <input type="hidden" name="email" id="email" name="id"/>
                                <h3 class="text-center deletecontent">¿Esta seguro que desea remover este contacto de la
                                    lista?</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default cerrar" data-dismiss="modal">Cerrar
                                </button>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="agregarContacto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h1 class="modal-title text-center" id="myModalLabel">Agregar Contactos</h1>
                        </div>
                        <form method="POST" id="add_contacts" action="{{ path("add_contacts") }}">
                            <div class="modal-body" style="min-height: 180px">
                                <span id="response-content"></span>
                                <div class="form-group">
                                    <label>Contactos a agregar:</label>
                                    <select name="contactos-lista" id="contactosLista" class="form-control selectpicker" multiple
                                            data-live-search-placeholder="Buscar"
                                            data-actions-box="true" title="-Seleccione-">
                                        {% for c in agregarcontacto %}
                                            <option value="{{ c.idContacto }}">{{ c.nombre~" - "~c.rif }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="button" id="btnContacts" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <span class="fa fa-envelope"></span>
                        Lista "{{ lista.nombre | capitalize }}"
                    </h1>
                    <h3>Detalles de la lista</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2>Listas de <strong>correo</strong>:</h2>
                                <div class="additional-btn">
                                    <button class="btn btn-xs btn-success" data-toggle="modal"
                                            data-target="#agregarContacto"><i
                                                class="fa fa-plus-circle"></i> Agregar contacto
                                    </button>
                                    <button data-toggle="modal"
                                            data-target="#editarLista"
                                            data-descripcion="{{ lista.nombre }}"
                                            data-id="{{ lista.idLista }}"
                                            class="btn btn-xs btn-info editarLista" data-toggle="modal"><i
                                                class="fa fa-pencil-square"></i> Editar Nombre de Lista
                                    </button>
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="detallesLista" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contacto in contactos %}
                                        <tr role="row" class="odd">
                                            <td>{{ contacto.idContacto.nombre }}</td>
                                            <td>
                                                <div class="editable{{ contacto.idContacto.idContacto }} hidden">
                                                    <form id="editar{{ contacto.idContacto.idContacto }}"
                                                          action="{{ path('contact_edit') }}" method="POST">
                                                        <input type="hidden"
                                                               id="idContacto{{ contacto.idContacto.idContacto }}"
                                                               name="id"/>
                                                        <input type="email" name="email"
                                                               id="emailContacto{{ contacto.idContacto.idContacto }}"
                                                               placeholder="Email"
                                                               class="form-control" title=""/>
                                                    </form>
                                                </div>
                                                <div class="editable{{ contacto.idContacto.idContacto }}"> {{ contacto.idContacto.correo }}</div>
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group btn-group-xs editable{{ contacto.idContacto.idContacto }}">
                                                    <a href="javascript:void(0)" data-toggle="modal"
                                                       data-target="#editarContacto"
                                                       data-id="{{ contacto.idContacto.idContacto }}"
                                                       data-correo="{{ contacto.idContacto.correo }}"
                                                       class="btn btn-default btn-xs  btneditar{{ contacto.idContacto.idContacto }} editarContacto"><i
                                                                class="fa fa-edit"></i></a>
                                                    <a href="javascript:void(0)"
                                                       data-grupo="{{ contacto.idLista.idLista }}"
                                                       data-email="{{ contacto.idContacto.idContacto }}"
                                                       data-toggle="modal"
                                                       data-target="#removeContact"
                                                       class="btn btn-danger btn-xs btneliminar">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                </div>
                                                <a href="javascript:void(0)"
                                                   data-id="{{ contacto.idContacto.idContacto }}"
                                                   class="btn btn-success btn-sm hidden guardarContacto editable{{ contacto.idContacto.idContacto }}">Guardar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#detallesLista').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });
        var $editarLista = $(".editarLista"),
            $deleteLista = $(".deleteCategory"),
            $modal = $(".modal"),
            $editarContacto = $(".editarContacto"),
            $guardarContacto = $(".guardarContacto"),
            $borrarContacto = $(".btneliminar"),
            $formContacts = $("#add_contacts"),
            $btnContacts = $("#btnContacts");
        $btnContacts.on("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: '{{ path('add_contacts') }}',
                type: "POST",
                dataType: "JSON",
                data: {
                    contactos: $formContacts.serialize(),
                    lista:{{ lista.idLista }}
                },
                beforeSend: function () {
                    preLoader();
                },
                success: function (data) {
                    window.location.reload();
                }
            });
        });
        $deleteLista.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this),
                $id = $btn.data("id"),
                $idCategory = $("#idDelCategory");
            $modal.on("shown.bs.modal", function () {
                $idCategory.val($id);
            });
        });
        $editarLista.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this),
                $descripcion = $btn.data("descripcion"),
                $id = $btn.data("id"),
                $idLista = $("#idContacto"),
                $input = $(".editarNombreLista");
            $modal.on("shown.bs.modal", function () {
                $idLista.val($id);
                $input.val($descripcion);
            });
        });
        $editarContacto.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this),
                $correo = $btn.data("correo"),
                $id = $btn.data("id"),
                $idContacto = $("#idContacto" + $id),
                $input = $("#emailContacto" + $id);
            $idContacto.val($id);
            $input.val($correo);
            $(".editable" + $id).toggleClass("hidden");
        });
        $guardarContacto.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this), $id = $btn.data("id"),
                ant = $('.btneditar' + $id).data("correo"),
                nuev = $("#emailContacto" + $id).val();
            if (ant != nuev) {
                $("#editar" + $id).submit();
            }
            else {
                $(".editable" + $id).toggleClass("hidden");
            }
        });
        $borrarContacto.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this),
                $idGrupo = $btn.data("grupo"),
                $idCorreo = $btn.data("email"),
                $inputGrupo = $('#grupo'),
                $inputCorreo = $('#email');
            $modal.on("shown.bs.modal", function () {
                $inputGrupo.val($idGrupo);
                $inputCorreo.val($idCorreo);
            });
        });
    </script>
{% endblock %}