{% extends '::base.html.twig' %}
{% block body %}
<div class="widget-content padding">
    <div class="page-heading">
        <h1>Detalle de Comunicado.</h1>
    </div>
    <table class="table table-striped table-bordered dt-responsive nowrap" id="listadoasignar" cellspacing="0" width="100%">
        <thead>
          <th style="text-align: center">Correo Destinatario</th>
          <th style="text-align: center">Mensaje del correo</th>
          <th style="text-align: center">Detalle</th>
        </thead>
        <tbody>
           <tr>
                <td>{{correo}}</td>
                <td>{{mensaje|raw}}</td>
                <td>
                    {% if 'Web Service' in error %}
                        <p style="text-align: justify;">La Dirección de correo electrónico está en la lista de rebote de la cuenta. Esto quiere decir que haya rebotado al menos una vez en el pasado o es probable que no sea una dirección válida</p>
                        {% elseif 'Maximum' in error %}
                            <p style="text-align: justify;">El correo no pudo ser enviado debido a que ha demorado mucho tiempo en ejecutarse la petición</p>
                        {% else %}
                         <p>Correo enviado exitosamente</p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table><br>
    <a class="btn btn-success" href="{{path('prueba_listadocomunicado')}}" title="volver">Cerrar</a>
</div>
{% endblock %}