{% extends '::menu.html.twig' %}
{% block body %}
<div class="widget-content padding">
    <div class="page-heading">
        <h1>Detalle de Comunicado.</h1>
    </div>
    <table class="table table-striped table-bordered dt-responsive nowrap" id="listadoasignar" cellspacing="0" width="100%">
        <thead>
          <th style="text-align: center">Detalle</th>
        </thead>
        <tbody>
           <tr>
                <td>{{cuerpo|raw}}</td>
            </tr>
        </tbody>

    </table><br>
    <a class="btn btn-success" href="{{path('comunicade_listadoprogramados')}}" title="volver">Cerrar</a>
</div>
{% endblock %}