{% extends '::template.html.twig' %}

{% block body %}

	<div class="content-page">
		<div class="content">
			<div class="col-sm-12">
				<div class="page-heading">
					<h1>Editar Datos de la Empresa</h1>
				</div>
				<div class="row">
					<div class="widget">
						<div class="widget-header transparent">
							<div class="additional-btn">
								<a href="{{asset('crear')}}" class="hidden reload"><i class="icon-ccw-1"></i></a>
								<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
								<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
							</div>
						</div>
						<div class="widget-content padding">
							{{form_start(form,{'attr':{'id':'editarempresa','method':'POST','onsubmit':"return valforms(this)",'class':"add_form"}})}}
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Nombre de la Empresa: </label>
											<p class="form_input">{{form_widget(form.nombreEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label> Fundación de la Empresa:</label>
											<p class="form_error">{{form_widget(form.fundacionEmpresa)}}</p>
											<p class="form_input"> {{form_widget(form.fundacionEmpresa,{'attr': {'style':'width:50%;','class':'form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Principal Actividad de la empresa: </label>
											<p class="form_input">{{form_widget(form.actividadEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label> Direccion Fiscal de la Empresa:</label>
											<p class="form_error">{{form_widget(form.direccionFiscalEmpresa)}}</p>
											<p class="form_input"> {{form_widget(form.direccionFiscalEmpresa,{'attr': {'style':'width:50%;','class':'form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Rif de la Empresa: </label>
											<p class="form_input">{{form_widget(form.rifEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label> Registro de la Empresa:</label>
											<p class="form_error">{{form_widget(form.registroEmpresa)}}</p>
											<p class="form_input"> {{form_widget(form.registroEmpresa,{'attr': {'style':'width:50%;','class':'date-picker form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Dirección de oficina de la Empresa: </label>
											<p class="form_input">{{form_widget(form.direccionOficinaEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label>Telefono de oficina de la Empresa:</label>
											<p class="form_error">{{form_widget(form.telefonoOficina)}}</p>
											<p class="form_input"> {{form_widget(form.telefonoOficina,{'attr': {'style':'width:50%;','class':'date-picker form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Fax de Oficina de la Empresa: </label>
											<p class="form_input">{{form_widget(form.faxOficinaEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label>Dirección de Planta de la Empresa:</label>
											<p class="form_error">{{form_widget(form.direccionPlantaEmpresa)}}</p>
											<p class="form_input"> {{form_widget(form.direccionPlantaEmpresa,{'attr': {'style':'width:50%;','class':'date-picker form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Telefono de Planta de la Empresa: </label>
											<p class="form_input">{{form_widget(form.telefonoPlantaEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label>Fax de la Planta de la Empresa:</label>
											<p class="form_error">{{form_widget(form.faxPlantaEmpresa)}}</p>
											<p class="form_input"> {{form_widget(form.faxPlantaEmpresa,{'attr': {'style':'width:50%;','class':'date-picker form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Email de la Empresa: </label>
											<p class="form_input">{{form_widget(form.emailEmpresa,{'attr':{'class':'form-control','style':'width:50%','onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label>Página de la Empresa:</label>
											<p class="form_error">{{form_widget(form.paginaEmpresa)}}</p>
											<p class="form_input"> {{form_widget(form.paginaEmpresa,{'attr': {'style':'width:50%;','class':'date-picker form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Marca comercial de los Productos: </label>
											<p class="form_input">{{form_widget(form.marcasProductoEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label>Ventas Brutas(MILLONES (MM) DE DÓLARES POR AÑO):</label>
											<p class="form_error">{{form_widget(form.ventasBrutasEmpresa)}}</p>
											<p class="form_input"> {{form_widget(form.ventasBrutasEmpresa,{'attr': {'style':'width:50%;','class':'date-picker form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Pais de origen de la Tecnología: </label>
											<p class="form_input">{{form_widget(form.paisOrigenAsistencia,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label>Empresa de origen de la Tecnología:</label>
											<p class="form_error">{{form_widget(form.empresaOrigenAsistencia)}}</p>
											<p class="form_input"> {{form_widget(form.empresaOrigenAsistencia,{'attr': {'style':'width:50%;','class':'date-picker form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Principales materias primas utilizadas en la producción: </label>
											<p class="form_input">{{form_widget(form.materiaPrimaEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label>Productos que comercializa:</label>
											<p class="form_error">{{form_widget(form.productoComercializa)}}</p>
											<p class="form_input"> {{form_widget(form.productoComercializa,{'attr': {'style':'margin:0px !important; width:313px !important; height:171px !important','class':'form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Servicio que presta la Empresa: </label>
											<p class="form_input">{{form_widget(form.servicioEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
										<div class="col-sm-6">
											<label>Responsable de a información:</label>
											<p class="form_error">{{form_widget(form.responsableInformacionEmpresa)}}</p>
											<p class="form_input"> {{form_widget(form.responsableInformacionEmpresa,{'attr': {'style':'width:50%;','class':'form-control'}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<label>Nit de la empresaa: </label>
											<p class="form_input">{{form_widget(form.nitEmpresa,{'attr':{'class':'form-control','style':'width:50%','editcheck':"req=Y=Indique el nombre de la actividad;cvt=UTC",'onChange':"return valforms(this.form,this)"}})}}</p>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row" style="padding-left: 10%;">
										<div class="col-sm-6">
											<p class="form_input"> {{form_widget(form.fechaSolicitud,{'attr': {'style':'display:none'}})}}</p>
										</div>
									</div>
								</div>
								<div>
									<p style="padding-left: 10%;"> {{form_widget(form.Guardar,{'attr':{'class':'btn btn-success'}}) }}</p>
									<p style="margin-left: 19%;margin-top: -44px;"><a href="{{path('prueba_listadosolicitud')}}" title="Volver" class="btn btn-primary">Volver</a></p>
								</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
	<script>
		$(function(){
			$(".datepicker").datepicker({ maxDate: 0,
				changeMonth: true,
				changeYear: true,
				dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ],
				dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],
				monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
				monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dec" ]});
		});
	</script>
{% endblock %}
