{% extends '::template.html.twig' %}
{% block body %}

<div class="content-page">
    <div class="content">   
            <div class="col-sm-12">
                  <div class="page-heading">
                      <h1>Envio de Plantilla</h1>
                  </div>    

                    <div class="row">               
                     <div class="widget">
                        <div class="widget-header transparent">
                            <div class="additional-btn">
                                <a href="{{asset('crear')}}" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                            </div>
                        </div>

                        <div class="widget-content padding">                     

                     <form id="formulario" name="formulario" onsubmit="return valforms(this)" action="{{path('prueba_enviado') }}" method="POST">
                
                          <div class="form-group">
                            <label for="input-text" class="col-sm-2 control-label" >Asunto del Correo</label>
                            <div class="col-sm-10">
                            
                            <input type="text" class="form-control" id="titul" name="titul" required="required" value="{{titulo}}">  
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="input-text-help" class="col-sm-2 control-label">Fecha de envio</label>
                            <div class="col-sm-10">
                                  <input type="date" class="form-control" id="fecha" name="fecha" required="required">        
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Correo a enviar</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="correo" name="correo" placeholder="Correo" required="required">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="input-text-disabled" class="col-sm-2 control-label">Cuerpo del Correo</label>
                            <div class="col-sm-10">
                            <p class="form-control-static">"Plantilla Anterior"</p>
                              <input type="text" class="form-control" id="cuerp" name="cuerp"  value="{{cuerpo}}" style="visibility:hidden">  
                              
                            </div>
                          </div>                           
                          <button type="submit" class="btn btn-default">Enviar</button>                         
                        </form>                                              
                        </div>

                      </div>  
                    </div>
            </div>
    </div>
</div>
{% endblock %}
