{% extends '::template.html.twig' %}
{% block body %}

<div class="content-page">
    <div class="content">   
            <div class="col-sm-12">
                  <div class="page-heading">
                      <h1>Envio de Plantilla</h1>
                  </div>    

                    <div class="row">               
                     <div class="widget">
                        <div class="widget-header transparent">
                            <div class="additional-btn">
                                <a href="{{asset('crear')}}" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                            </div>
                        </div>

                        <div class="widget-content padding">
                          {{form(form)}}


                                                    
                        </div>

                      </div>  
                    </div>
            </div>
    </div>
</div>
{% endblock %}
