<table cellpadding="0" cellspacing="0"  id="capital" width="100%" class="table table-striped table-bordered dataTable">
    <thead>
    <tr>
        <th>Nombre del afiliado</th>
        <th>Codigo del afiliado</th>
        <th>Seleccion del afiliado</th>
    </tr>
    </thead>
    <tbody>
        {% if datos==null %}
            <tr>
                <td colspan="3" style="text-align: center;"> No existen Afiliados Asociados</td>
            </tr>
            {% elseif datos!=null%}
                {%for dato in datos%}
                    <tr>
                        <td>{{dato.p_nombreEmpresa}}</td>
                        <td>{{dato.p_codigoafiliacion}}</td>
                        <td><input type="checkbox" name="checkbox[]" id="checkbox" value="{{dato.p_id}}" onclick ='check(this)'></td>
                    </tr>
                {%endfor%}
            {%else%}
        {% endif %}
    </tbody>
</table>
<script>
function check(valor){
    var id=$(valor).val();
    var valores=$('#oculto').val();
    var sele = ($(valor).is(':checked')) ? '1' : '0'; //verifica si es chequeado
    if(valores==''){
    $('#oculto').val(id+'|'+sele);
    }else{
        var agrego=false;
        var array=valores.split(',');
        var tamaño=array.length;
            for(i=0;i<tamaño;i++){
            var nuvo=array[i].split('|');
                if(nuvo[0]==id){
                array[i]=id+'|'+sele;
                agrego=true;
                }
            }
        if(agrego===false){
            valores = valores+','+id+'|'+sele;
        }else{
            valores = array.join();
        }
        $('#oculto').val(valores);
    }
}
</script>

