{% extends '::frontend.html.twig' %}
{% block body %}
<div class="content-page">
    <div class="content">   
        <div class="col-sm-12">
	        <div class="page-heading">
	            <h1>Finalización de Inscripción</h1>
	        </div>

			<div class="row">				
				<div class="widget">
					<div class="widget-header transparent">
						<div class="additional-btn">
							<a href="{{asset('crear')}}" class="hidden reload"><i class="icon-ccw-1"></i></a>
							<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
							<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
						</div>
					</div>

					<div class="widget-content padding">
			            <form id="finalizar" name="finalizar">
			            	<h3 style="text-align:center;">El registro se ha realizado con exito!.  Si su solicitud es aceptada lo contactaremos</h3>
			            	<div style="text-align:center;padding: 28px;"><a aling="center" class="btn btn-success" href="http://www.asoquim.com">Finalizar</a>
			            	</div>
			            </form>
					</div>	
				</div>
            </div>
        </div>
    </div>
</div>
		 
{% endblock %}
