{% extends '::base.html.twig' %}

{% block title %}AJAX{% endblock %}

{% block body %}

<div id="articulos"></div>
<a id="link_articulos" href="#">Cargar articulos</a>

{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/libs/jquery/jquery-1.11.1.min.js')}}"></script>
<script>
$(document).ready(function(){
        $('#link_articulos').click(function(){
            $('#articulos').load('{{path('prueba_listadoactividad')}}');
        });
});

</script>
{% endblock %}

 $(document).ready(function () {
          $("#btn_enviar").click(function() {
            alert("El valor del campo es: "+$("#texto").val());
          });
      });