{% extends '::menu.html.twig' %}
{% block title %}Correos{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevaListaCorreo.html.twig' %}
        <div class="modal fade" id="editarLista" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title text-center" id="myModalLabel">Editar lista de correos</h1>
                    </div>
                    <form action="{{ path('group_rename') }}" method="POST">
                        <div class="modal-body">
                            <input type="hidden" id="idLista" name="id"/>
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" name="nombre" class="form-control editarNombreLista" title="" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default cerrar" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="eliminarLista" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title text-center" id="myModalLabel">Eliminar lista de correos</h1>
                    </div>
                    <form action="{{ path('group_delete') }}" method="POST">
                        <div class="modal-body">
                            <input type="hidden" id="idDelLista" name="id"/>
                            <h3 class="text-center deletecontent"></h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <span class="fa fa-envelope"></span>
                        Listas de contacto
                    </h1>
                    <h3>Lista de correos para comunicados</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2>Lista de correos:</h2>
                                <div class="additional-btn">
                                    <button class="btn btn-xs btn-success" data-toggle="modal"
                                            data-target="#nuevaListaCorreo"><i
                                                class="fa fa-plus-circle"></i> Agregar lista
                                    </button>
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listacorreos" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in result %}
                                        <tr role="row" class="odd">
                                            <td>{{ r.nombre }}</td>
                                            <td class="text-center">
                                                <div class="btn-group btn-group-xs">
                                                    <a href="#" data-toggle="modal"
                                                       data-target="#editarLista"
                                                       data-descripcion="{{ r.nombre }}"
                                                       data-id="{{ r.idLista }}"
                                                       class="btn btn-default btn-xs editarLista"><i
                                                                class="fa fa-edit"></i></a>
                                                    <a href="{{ path('detalles_lista', {'id': r.idLista}) }}"
                                                       target="_blank"
                                                       class="btn btn-default btn-xs">
                                                        <i class="fa fa-eye"></i></a>
                                                        <a href="" class="btn btn-xs btn-danger deleteLista"
                                                           data-toggle="modal"
                                                           data-id="{{ r.idLista }}"
                                                           data-nombre="{{ r.nombre }}"
                                                           data-target="#eliminarLista"><i
                                                                    class="fa fa-remove"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#listacorreos').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });
        var $editarLista = $(".editarLista"),
                $deleteLista = $(".deleteLista"),
                $modal = $(".modal");
        $deleteLista.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this),
                    $id = $btn.data("id"),
                    $nombre = $btn.data("nombre"),
                    $idLista = $("#idDelLista");
            $('.deletecontent').html('¿Está seguro que desea eliminar la lista \"'+$nombre+'\"?');
            $modal.on("shown.bs.modal", function () {
                $idLista.val($id);
            });
        });
        $editarLista.on("click", function (e) {
            e.preventDefault();
            var $btn = $(this),
                    $descripcion = $btn.data("descripcion"),
                    $id = $btn.data("id"),
                    $idLista = $("#idLista"),
                    $input = $(".editarNombreLista");
            $modal.on("shown.bs.modal", function () {
                $idLista.val($id);
                $input.val($descripcion);
            });
        });
    </script>
{% endblock %}