{% extends '::template.html.twig' %}
{% block javascripts %}
  {{ parent() }}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" rel="stylesheet"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" rel="stylesheet"></script>
  <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js" rel="stylesheet"></script>
  <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js" rel="stylesheet"></script>
  <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/libs/jquery-datatables/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}

<div class="content-page">
  <div class="content">
    <div class="col-sm-12">
      <div class="page-heading">
        <h1>Crear Nueva lista de Contacto</h1>
      </div>    
      <div class="row">
        <div class="widget">
          <div id="muestra" class="widget-content padding">
            <form id="formlist" name="formlist" action="{{path('prueba_guardalista')}}" onSubmit="return validar();" method="post" class="add_form">
              <label><strong>Nombre de la nueva Lista de Contacto:&nbsp</strong> </label>
              <input type="text" name="nombrelista" id="nombrelista" required>
              <p class="vacio" style="display:none;color: red;font-size: 12px;font-style: italic;margin-left: 24%;">Debe ingresar el nombre</p><br><br>
              <div class="alert alert-success">
                Seleccione los Contactos que desea incluir a la lista.
              </div>
              <table class="table table-striped table-bordered dt-responsive nowrap dataTable" id="capital" cellspacing="0" width="100%">
                <thead>
                  <th>Nombre de contacto</th>
                  <th>Correo del Contacto</th>
                  <th>Seleccion de Contacto</th>
                </thead>
                <tbody>
                  {%for dato in contacto%}
                    {% if(dato.nombrecontacto!='N/A') %}
                      <tr>
                        <td>{{dato.nombrecontacto}}</td>
                        <td>{{dato.emailcontacto}}</td>
                        <td><input type="checkbox" name="checkbox[]" id="checkbox" value="{{dato.id}}" onclick ='check(this)'></td>
                      </tr>
                    {% endif %}
                  {%endfor%}
                </tbody>
              </table>
              <input type="hidden" name="oculto" id="oculto" value="">
              <br><p class="vaciocheck" style="display:none;color: red;font-size: 12px;font-style: italic;">Debe seleccionar al menos un miembro para este grupo</p>
              <input class="btn btn-success" type="submit" name="enviar" onClick="validar();" value="Guardar Lista">
            </form>              
          </div> 
        </div> 
      </div>
    </div>
  </div>
</div>
  <script>
    function validar(){
      var nombre = $('#nombrelista').val();
      var check = $('#oculto').val();
      var nuvo=check.split('|');
      if(nombre == ""){
        $('.vacio').show();
        return false;
      } else if(nuvo[1]== 0 || check==''){
        $('.vaciocheck').show();
        return false;
      }else {
        $('.vacio').hide();
        $('.vaciocheck').hide();
        return true;
      }

    }
    function check(valor){
      var id=$(valor).val();
      var valores=$('#oculto').val();
      var sele = ($(valor).is(':checked')) ? '1' : '0'; //verifica si es chequeado
      if(valores==''){
        $('#oculto').val(id+'|'+sele);
      }else{
        var agrego=false;
        var array=valores.split(',');
        var tamaño=array.length;
        for(i=0;i<tamaño;i++){
          var nuvo=array[i].split('|');
          if(nuvo[0]==id){
            array[i]=id+'|'+sele;
            agrego=true;
          }
        }
        if(agrego===false){
          valores = valores+','+id+'|'+sele;
        }else{
          valores = array.join();
        }
        $('#oculto').val(valores);
      }
    }
    $(function() {
      $('#capital').DataTable({
        "oLanguage": {
          "sLengthMenu": "_MENU_ Registros por página",
          "sZeroRecords": "No he encontrado registros asociados",
          "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
          "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
          "sInfoFiltered": "(buscado en _MAX_ Registros)",
          "sSearch":         "Buscar:",
          "oPaginate": {
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
          },
          "fnInfoCallback": null
        }
      });
    });
  </script>
{% endblock %}

    

