{% extends '::menu.html.twig' %}
{% block title %}Comunicados{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {% include 'aprobarMensaje.html.twig' %}
    {% include 'rechazarMensaje.html.twig' %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        Comunicados
                    </h1>
                    <h3>Lista de comunicados</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2>Lista de comunicados:</h2>
                                <div class="additional-btn">
                                    <a href="{{ path('crear_comunicado') }}" style="color: #fff;"
                                       class="btn btn-xs btn-success"><i
                                                class="fa fa-plus-circle"></i> Agregar
                                    </a>
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listacomunicados" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Asunto</th>
                                        <th>Mensaje</th>
                                        <th>F. de envío</th>
                                        <th>Status</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in results %}
                                        <tr>
                                            <td>{{ r.nombre }}</td>
                                            <td><a href="{{ path('ver_comunicado', {'id': r.idComunicado}) }}" target="_blank">Ver comunicado</a></td>
                                            <td>{{ r.fechaEnvio | date("Y-m-d h:i:s") }}</td>
                                            <td class="text-center">
                                                <label class="label label-{{ (r.status == 1) ? 'success' : (r.status == 2) ? 'warning' : 'danger' }}">{{ (r.status == 1) ? 'Enviado' : (r.status == 2) ? 'Pendiente' : 'Cancelado' }}</label>
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group btn-group-xs">
                                                    {% if app.user.mailerContact == 1 %}
                                                        {% if r.status > 0 %}
                                                            {% if r.status != 1 %}
                                                                <a href=""
                                                                   class="btn btn-xs btn-success" {% for i in r.getId %}{{ (i == app.user.username) ? 'disabled' : '' }}{% endfor %}
                                                                   data-toggle="modal"
                                                                   data-target="#aprobarMensaje" id="btn-approve"
                                                                   data-id="{{ r.idComunicado }}"
                                                                   data-casiaprobado="{{ (r.countId == mailerContacts - 1) ? 1 : 0 }}"
                                                                   data-lista="{% if r.listas | length > 1 %}{% for item in r.listas %}{% if loop.last %}{{ item.idLista }}{% else %}{{ item.idLista ~ "," }}{% endif %}{% endfor %}{% else %}{% for item in r.listas %}{{ item.idLista }}{% endfor %}{% endif %}">
                                                                <span class="badge" data-toggle="tooltip"
                                                                      data-placement="top"
                                                                      title="Sumar aprobacion">{{ r.countId }}</span>
                                                                </a>
                                                                <a href="" class="btn btn-xs btn-default"
                                                                   id="btn-reject"
                                                                   data-toggle="modal"
                                                                   data-target="#rechazarMensaje"
                                                                   data-id="{{ r.idComunicado }}">
                                                                    <i class="fa fa-remove" data-toggle="tooltip"
                                                                       data-placement="top" title="Cancelar"></i>
                                                                </a>
                                                            {% endif %}
                                                        {% else %}
                                                            <a href="{{ path('aprobacion', {'id': r.idComunicado}) }}"
                                                               class="btn btn-xs btn-default" id="btn-accept"
                                                               data-toggle="tooltip" data-placement="top"
                                                               title="Aprobar">
                                                                <i class="fa fa-check"></i>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if r.status == 1 %}
                                                        <a href="{{ path('ver_aprobaciones', {'id': r.idComunicado}) }}"
                                                           data-toggle="tooltip" data-placement="top"
                                                           title="Ver detalles"
                                                           target="_blank" class="btn btn-xs btn-default">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {
            $('#listacomunicados').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });
    </script>
{% endblock %}