{% extends '::template.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" rel="stylesheet"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" rel="stylesheet"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js" rel="stylesheet"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js" rel="stylesheet"></script>
    <link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('assets/libs/jquery-datatables/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}

<div class="content-page">
    <div class="content">
        <div class="col-sm-12">
            <div class="page-heading">
                <h1>Listado de Comunicado</h1>
            </div>
            <div class="widget">
                <div class="widget-header transparent">
                    <div class="additional-btn">
                      <a href="{{asset('crear')}}" class="hidden reload"><i class="icon-ccw-1"></i></a>
                      <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                      <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div data-keyboard="false" data-backdrop="static" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
                    <div class="modal-dialog modal-lg" style="margin: 3em 24%;">
                        <div class="modal-content" style="width: 125%;">
                            <img src="{{asset('assets/images/loader.gif')}}" width="40px" height="40px" style="margin: 1em 39em;" />
                        </div>
                    </div>
                </div>
                <div class="widget-content padding">
                    {% if datos==null %}
                        <div class="alert alert-success">
                            No se han registrado comunicados  <a href="#" class="alert-link"></a>.
                        </div>
                        {% elseif datos!=null%}
                            <table class="table table-striped table-bordered dt-responsive nowrap dataTable" id="listadoestado" cellspacing="0" width="100%">
                                <thead>
                                    <th>Nombre del comunicado</th>
                                    <th>Fecha envio</th>
                                    <th>Estatus</th>
                                    <th>Detalles</th>
                                </thead>
                                <tbody>
                                    {% for dato in datos%}
                                        <tr>
                                            <td>{{dato.nombreComunicado}}</td>
                                            <td><a href="">Ver comunicado</a></td>
                                            <td>{{dato.fechaenvio|date('Y-m-d')}}</td>
                                            <td>
                                                {% if dato.estatus == 'SUCCESS' %}
                                                    <p>Enviado Correctamente</p>
                                                    {% elseif dato.estatus== 'ERROR' %}
                                                        <p>Error al enviar</p>
                                                    {% else %}
                                                {% endif %}
                                            </td>
                                            <td> 
                                                <a data-toggle="modal" data-target=".bs-example-modal-lg"  title="Detalle Comunicado" href="{{path('prueba_detallecomunicado',{'id':dato.id})}}" >
                                                    <img src="{{asset('assets/images/edit.png')}}">
                                                </a>
                                                </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
 </div>
    <script>
        $(function() {
            $('#listadoestado').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch":         "Buscar:",
                    "oPaginate": {
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });
    </script>
{%endblock%}