{% extends '::menu.html.twig' %}
{% block title %}Comunicados{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <div class="content">
                <div class="page-heading">
                    <h1>Comunicados</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div id="contenido">
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                      <p>......</p>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="widget-header transparent">
                              <a class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" href="{{path('comunicade_comunicadow')}}" data-backdrop="static" data-keyboard="false" style="margin: 5px 10px">Nuevo Comunicado</a>
                              <h2>Lista de Comunicados</h2>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable" id="listadoprogramados" cellspacing="0" width="100%">
                                    <thead>
                                    <tr role="row">
                                    <th>Nombre del comunicado</th>
                                    <th>Fecha envio</th>
                                    <th>Fecha Actual</th>
                                    <th>Estatus</th>
                                    <th>Detalles</th>
                                    <th>Activar Envio</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      {%for dato in datos%}
                                        <tr>
                                            <td>{{dato.Nombre}}</td>
                                            <td>{{dato.FechaEnvio|date('Y-m-d')}}</td>
                                            <td>{{"now"|date('Y-m-d')}}</td>
                                            <td>{{dato.Status}}</td>
                                             <td> 
                                                <a class="btn btn-sm btn-success pull-right" data-toggle="modal"  data-target=".bs-example-modal-lg"  href="{{path('comunicade_detallecomunicado3',{'id':dato.IdComunicado})}}"  data-backdrop="static" data-keyboard="false" style="margin: 5px 10px">
                                                    <img src="{{asset('assets/images/edit.png')}}">
                                                </a>
                                                </td>
                                            <td>
                                                {% if dato.Status == 'SUCCESS' %}
                                                    <p>Enviado Correctamente</p>
                                                    {% elseif dato.Status== 'ERROR' %}
                                                        <p>Error al enviar</p>
                                                    {% elseif dato.Status== '1' %}
                                                        <p id="espera" value="1">En Espera</p>
                                                    {% else %}    
                                                {% endif %}
                                            </td>
                                        </tr>

                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
  <script>
    $(function () {
        $('#listacaso').DataTable({
            "oLanguage": {
                "sLengthMenu": "_MENU_ Registros por página",
                "sZeroRecords": "No he encontrado registros asociados",
                "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                "sInfoFiltered": "(buscado en _MAX_ Registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "fnInfoCallback": null
            }
        });
    });
     
  </script>
{% endblock %}