<html>
  <head>
    <title>ckeditor test</title>
    <script src="{{asset('assets/ckeditor/ckeditor.js')}}"></script>
    <script src="{{asset('assets/ckeditor/editor.js')}}"></script>
  </head>
  <body>
    <textarea id="editor"></textarea>
  </body>
</html>