<html lang="es">
<head>
    <link type="text/css" href="{{ asset('bundles/comunicade/css/comunicado/message-builder.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/comunicade/css/comunicado/styles.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/comunicade/css/comunicado/jquery.fancybox.css') }}" rel="stylesheet"/>
    <style type="text/css">
        td {
            padding: 10px;
        }
    </style>
    <script src="{{ asset('bundles/comunicade/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/comunicade/ckeditor/ckfinder/ckfinder.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/comunicade/js/comunicado/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/comunicade/js/comunicado/Code52.i18n.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/comunicade/js/comunicado/Code52.i18n.language.js') }}"></script>
    <script src="{{ asset('bundles/comunicade/css/comunicado/message-builder-v1.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Subject").keyup(function () {
                var value = $(this).val();
                $("#asunto").val(value);
            });
        });
    </script>
</head>
<body>
<input data-val="true" data-val-required="El asunto es requerido." id="Redirect" name="Redirect" type="hidden"/>
<input id="BuilderProperties" name="BuilderProperties" type="hidden"
       value="BackgroundColorStyle=%23ffffff&amp;OuterBackgroundColorStyle=%23ff0505&amp;FontFamilyStyle=arial&amp;FontSizeStyle=12px&amp;TextColorStyle=%23000000&amp;LinkColorStyle=%23ff0000&amp;BorderColorStyle=%23ffffff&amp;HrBorderColorStyle=%23ff0000&amp;CellPaddingStyle=5px&amp;CellSpacingStyle=2px">
<input data-val="true" data-val-required="The Body H T M L campo es requerido." id="BodyHTML" name="BodyHTML"
       type="hidden">
<input id="BuilderHTML" name="BuilderHTML" type="hidden" contenteditable="true"
       value="[{&quot;elements&quot;:[{&quot;html&quot;:&quot;<p><img alt=\&quot;\&quot; height=\&quot;296\&quot; src=\&quot;{{ asset('bundles/comunicade/comunicado/' ~ template) }}\&quot; style=\&quot;width: 564px; height: 296px;\&quot; width=\&quot;564\&quot;></p>\n&quot;}],&quot;type&quot;:&quot;image&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<p style=\&quot;text-align: left;\&quot;><span style=\&quot;color:#ff0505;\&quot;><span style=\&quot;font-size: 36px; font-weight: bold; line-height: 39.6px;\&quot;>Newsletter title</span></span></p>\n&quot;}],&quot;type&quot;:&quot;text&quot;},{&quot;elements&quot;:[{&quot;background&quot;:&quot;#ffffff&quot;,&quot;html&quot;:&quot;<hr style=\&quot;border-color: rgb(39, 84, 207);\&quot;>&quot;}],&quot;type&quot;:&quot;separator&quot;},{&quot;elements&quot;:[{&quot;width&quot;:232,&quot;html&quot;:&quot;<p><img alt=\&quot;\&quot; src=\&quot;{{ asset('bundles/comunicade/comunicado/image200px_placeholder.jpg') }}\&quot; style=\&quot;width: 200px; height: 145px;\&quot; height=\&quot;145\&quot; width=\&quot;200\&quot;></p>\n&quot;},{&quot;width&quot;:280,&quot;html&quot;:&quot;<table style=\&quot; font-size: medium; line-height: normal;\&quot; border=\&quot;0\&quot; cellpadding=\&quot;0\&quot; cellspacing=\&quot;0\&quot; width=\&quot;300\&quot;>\n\t<tbody>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; padding:20px; font-family: arial; font-size: 12px; color: rgb(0, 0, 0);\&quot;>\n\t\t\t<div style=\&quot;font-size: 12px;  line-height: 1.4;\&quot;>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; font-size: 12px; text-align: left; font-family: arial; color: rgb(0, 0, 0);\&quot;><a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Learn more »</a></td>\n\t\t</tr>\n\t</tbody>\n</table>\n&quot;}],&quot;type&quot;:&quot;imageText&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<hr style=\&quot;border-color: rgb(39, 84, 207);\&quot;>&quot;}],&quot;type&quot;:&quot;separator&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<p style=\&quot;text-align: left;\&quot;><span style=\&quot;color:#ff0505;\&quot;><span style=\&quot;font-size: 18px;\&quot;><strong>&amp;nbsp;Lorem ipsum</strong></span></span></p>\n&quot;},{&quot;html&quot;:&quot;<p style=\&quot;text-align: left;\&quot;><span style=\&quot;color:#ff0505;\&quot;><span style=\&quot;font-size: 18px;\&quot;><strong>&amp;nbsp;Lorem ipsum</strong></span></span></p>\n&quot;}],&quot;type&quot;:&quot;text&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<p><img alt=\&quot;\&quot; src=\&quot;{{ asset('bundles/comunicade/comunicado/image280px_placeholder.jpg') }}\&quot; style=\&quot;width: 264px; height: 107px;\&quot; height=\&quot;107\&quot; width=\&quot;264\&quot;></p>\n&quot;},{&quot;html&quot;:&quot;<p><img alt=\&quot;\&quot; src=\&quot;{{ asset('bundles/comunicade/comunicado/image280px_placeholder.jpg') }}\&quot; style=\&quot;width: 264px; height: 107px;\&quot; height=\&quot;107\&quot; width=\&quot;264\&quot;></p>\n&quot;}],&quot;type&quot;:&quot;image&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<table style=\&quot;font-size: medium; line-height: normal; \&quot; border=\&quot;0\&quot; cellpadding=\&quot;0\&quot; cellspacing=\&quot;0\&quot; width=\&quot;280\&quot;>\n\t<tbody>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; padding-bottom: 10px; font-family: arial; font-size: 12px; color: rgb(0, 0, 0);\&quot;>\n\t\t\t<div style=\&quot;font-size: 12px; line-height: 1.4; \&quot;>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; font-size: 12px; text-align: left; font-family: arial; color: rgb(0, 0, 0);\&quot;><a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Learn more »</a></td>\n\t\t</tr>\n\t</tbody>\n</table>\n&quot;},{&quot;html&quot;:&quot;<table style=\&quot; font-size: medium; line-height: normal; \&quot; border=\&quot;0\&quot; cellpadding=\&quot;0\&quot; cellspacing=\&quot;0\&quot; width=\&quot;280\&quot;>\n\t<tbody>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; padding-bottom: 10px; font-family: arial; font-size: 12px; color: rgb(0, 0, 0);\&quot;>\n\t\t\t<div style=\&quot;font-size: 12px; line-height: 1.4; \&quot;>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; font-size: 12px; text-align: left; font-family: arial; color: rgb(0, 0, 0);\&quot;><a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Learn more »</a></td>\n\t\t</tr>\n\t</tbody>\n</table>\n&quot;}],&quot;type&quot;:&quot;text&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<hr style=\&quot;border-color: rgb(39, 84, 207);\&quot;>&quot;}],&quot;type&quot;:&quot;separator&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<div style=\&quot;text-align: center;\&quot;><img src=\&quot;{{ asset('bundles/comunicade/comunicado/facebook.jpg') }}\&quot; style=\&quot;width: 16px; height: 16px;\&quot;>&amp;nbsp;<a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Fan Us</a>&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;<img src=\&quot;{{ asset('bundles/comunicade/comunicado/twitter.jpg') }}\&quot; style=\&quot;width: 16px; height: 16px;\&quot;>&amp;nbsp;<a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Follow Us</a>&amp;nbsp; &amp;nbsp;&amp;nbsp;&amp;nbsp; &amp;nbsp; &amp;nbsp;<img src=\&quot;{{ asset('bundles/comunicade/comunicado/rss.jpg') }}\&quot; style=\&quot;width: 16px; height: 16px;\&quot;>&amp;nbsp;<a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Read About Us</a><img src=\&quot;https://www.google-analytics.com/collect?v=1&amp;tid=UA-82224360-1&amp;cid=82224360&amp;t=event&amp;ec=email&amp;ea=open&amp;el=RECEPTOR&amp;cs=newsletter&amp;cm=email&amp;cn=CAMPANA\&quot;style=\&quot;visibility: hidden;\&quot;></div>\n\n<div style=\&quot;text-align: center;\&quot;>&amp;nbsp;</div>\n&quot;}],&quot;type&quot;:&quot;text&quot;}]">
{#<input id="BuilderHTML" name="BuilderHTML" type="hidden" contenteditable="true"#}
       {#value="[{&quot;elements&quot;:[{&quot;html&quot;:&quot;<p><img alt=\&quot;\&quot; height=\&quot;296\&quot; src=\&quot;{{ asset('bundles/comunicade/comunicado/discountv02fr_296564.jpg') }}\&quot; style=\&quot;width: 564px; height: 296px;\&quot; width=\&quot;564\&quot;></p>\n&quot;}],&quot;type&quot;:&quot;image&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<p style=\&quot;text-align: left;\&quot;><span style=\&quot;color:#ff0505;\&quot;><span style=\&quot;font-size: 36px; font-weight: bold; line-height: 39.6px;\&quot;>Newsletter title</span></span></p>\n&quot;}],&quot;type&quot;:&quot;text&quot;},{&quot;elements&quot;:[{&quot;background&quot;:&quot;#ffffff&quot;,&quot;html&quot;:&quot;<hr style=\&quot;border-color: rgb(39, 84, 207);\&quot;>&quot;}],&quot;type&quot;:&quot;separator&quot;},{&quot;elements&quot;:[{&quot;width&quot;:232,&quot;html&quot;:&quot;<p><img alt=\&quot;\&quot; src=\&quot;{{ asset('bundles/comunicade/comunicado/image200px_placeholder.jpg') }}\&quot; style=\&quot;width: 200px; height: 145px;\&quot; height=\&quot;145\&quot; width=\&quot;200\&quot;></p>\n&quot;},{&quot;width&quot;:280,&quot;html&quot;:&quot;<table style=\&quot; font-size: medium; line-height: normal;\&quot; border=\&quot;0\&quot; cellpadding=\&quot;0\&quot; cellspacing=\&quot;0\&quot; width=\&quot;300\&quot;>\n\t<tbody>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; padding:20px; font-family: arial; font-size: 12px; color: rgb(0, 0, 0);\&quot;>\n\t\t\t<div style=\&quot;font-size: 12px;  line-height: 1.4;\&quot;>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; font-size: 12px; text-align: left; font-family: arial; color: rgb(0, 0, 0);\&quot;><a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Learn more »</a></td>\n\t\t</tr>\n\t</tbody>\n</table>\n&quot;}],&quot;type&quot;:&quot;imageText&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<hr style=\&quot;border-color: rgb(39, 84, 207);\&quot;>&quot;}],&quot;type&quot;:&quot;separator&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<p style=\&quot;text-align: left;\&quot;><span style=\&quot;color:#ff0505;\&quot;><span style=\&quot;font-size: 18px;\&quot;><strong>&amp;nbsp;Lorem ipsum</strong></span></span></p>\n&quot;},{&quot;html&quot;:&quot;<p style=\&quot;text-align: left;\&quot;><span style=\&quot;color:#ff0505;\&quot;><span style=\&quot;font-size: 18px;\&quot;><strong>&amp;nbsp;Lorem ipsum</strong></span></span></p>\n&quot;}],&quot;type&quot;:&quot;text&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<p><img alt=\&quot;\&quot; src=\&quot;{{ asset('bundles/comunicade/comunicado/image280px_placeholder.jpg') }}\&quot; style=\&quot;width: 264px; height: 107px;\&quot; height=\&quot;107\&quot; width=\&quot;264\&quot;></p>\n&quot;},{&quot;html&quot;:&quot;<p><img alt=\&quot;\&quot; src=\&quot;{{ asset('bundles/comunicade/comunicado/image280px_placeholder.jpg') }}\&quot; style=\&quot;width: 264px; height: 107px;\&quot; height=\&quot;107\&quot; width=\&quot;264\&quot;></p>\n&quot;}],&quot;type&quot;:&quot;image&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<table style=\&quot;font-size: medium; line-height: normal; \&quot; border=\&quot;0\&quot; cellpadding=\&quot;0\&quot; cellspacing=\&quot;0\&quot; width=\&quot;280\&quot;>\n\t<tbody>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; padding-bottom: 10px; font-family: arial; font-size: 12px; color: rgb(0, 0, 0);\&quot;>\n\t\t\t<div style=\&quot;font-size: 12px; line-height: 1.4; \&quot;>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; font-size: 12px; text-align: left; font-family: arial; color: rgb(0, 0, 0);\&quot;><a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Learn more »</a></td>\n\t\t</tr>\n\t</tbody>\n</table>\n&quot;},{&quot;html&quot;:&quot;<table style=\&quot; font-size: medium; line-height: normal; \&quot; border=\&quot;0\&quot; cellpadding=\&quot;0\&quot; cellspacing=\&quot;0\&quot; width=\&quot;280\&quot;>\n\t<tbody>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; padding-bottom: 10px; font-family: arial; font-size: 12px; color: rgb(0, 0, 0);\&quot;>\n\t\t\t<div style=\&quot;font-size: 12px; line-height: 1.4; \&quot;>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>\n\t\t\t</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td style=\&quot;border-collapse: collapse; font-size: 12px; text-align: left; font-family: arial; color: rgb(0, 0, 0);\&quot;><a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Learn more »</a></td>\n\t\t</tr>\n\t</tbody>\n</table>\n&quot;}],&quot;type&quot;:&quot;text&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<hr style=\&quot;border-color: rgb(39, 84, 207);\&quot;>&quot;}],&quot;type&quot;:&quot;separator&quot;},{&quot;elements&quot;:[{&quot;html&quot;:&quot;<div style=\&quot;text-align: center;\&quot;><img src=\&quot;{{ asset('bundles/comunicade/comunicado/facebook.jpg') }}\&quot; style=\&quot;width: 16px; height: 16px;\&quot;>&amp;nbsp;<a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Fan Us</a>&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;&amp;nbsp;<img src=\&quot;{{ asset('bundles/comunicade/comunicado/twitter.jpg') }}\&quot; style=\&quot;width: 16px; height: 16px;\&quot;>&amp;nbsp;<a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Follow Us</a>&amp;nbsp; &amp;nbsp;&amp;nbsp;&amp;nbsp; &amp;nbsp; &amp;nbsp;<img src=\&quot;{{ asset('bundles/comunicade/comunicado/rss.jpg') }}\&quot; style=\&quot;width: 16px; height: 16px;\&quot;>&amp;nbsp;<a href=\&quot;#\&quot; style=\&quot;color: rgb(39, 84, 207); text-decoration: none;\&quot;>Read About Us</a><img src=\&quot;https://www.google-analytics.com/collect?v=1&amp;tid=UA-82224360-1&amp;cid=82224360&amp;t=event&amp;ec=email&amp;ea=open&amp;el=RECEPTOR&amp;cs=newsletter&amp;cm=email&amp;cn=CAMPANA\&quot;style=\&quot;visibility: hidden;\&quot;></div>\n\n<div style=\&quot;text-align: center;\&quot;>&amp;nbsp;</div>\n&quot;}],&quot;type&quot;:&quot;text&quot;}]">#}
<div style="display:none">
    <div id="mostrar" style="width:100%"></div>
</div>
<div id="confirmChangeTemplateDialog" class="popup" style="display: none;">
    <span>Cambiando la plantilla, se borrar&#225; todo el contenido. &#191;Est&#225; seguro de que desea continuar?</span>
</div>

<input id="editorBlurHelper" style="margin-left: -9999px;" type="text"/>

<table id="search-table" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <div class="form-inline">
                <label for="Subject">Asunto</label>
                <input data-val="true" id="Subject" name="Subject" class="form-control" required autocomplete="off"/>
                <div class="validation-summary-valid" data-valmsg-summary="true" style="margin-left: -41px;">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
            </div>
        </td>
        <td>
            <div class="widget-content padding">
                <div class="form-group pull-right">
                    <a id="message-preview" class="btn btn-success">Vista previa</a>
                    <a class="btn btn-success message-save-exit">Guardar y salir</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div name="message-builder-wrapper">
                <div id="message-builder-sidebar">
                    <div id="message-builder-tabs">
                        <h3><a href="#">Bloques de contenido</a></h3>
                        <div id="fields-pane">
                            <div class="add-field-pane">
                                <p>Simple</p>
                                <div data-element="add-text" data-type="text" id="add-text"
                                     class="btn field-shortname imgtxt">
                                    Texto
                                </div>
                                <div data-element="add-image" data-type="image" id="add-image"
                                     class="btn field-shortname img_img">
                                    Imagen
                                </div>
                                <div data-element="add-separator" data-type="separator" id="add-separator"
                                     class="btn field-shortname ui-draggable img_separator" data-type="textarea">
                                    Separador
                                </div>
                                <div data-element="add-empty-separator" data-type="emptySeparator"
                                     id="add-empty-separator" class="btn field-shortname ui-draggable img_empty"
                                     data-type="textarea">
                                    Espacio
                                </div>
                                <div data-element="add-button" data-type="button" id="add-button"
                                     class="btn field-shortname ui-draggable img_button" data-type="checkbox">
                                    Bot&#243;n
                                </div>
                                <p>Combinaciones de imagenes de texto</p>
                                <div data-element="add-text-image" data-type="textImage" id="add-text-image"
                                     class="btn field-shortname ui-draggable img_txt_img">
                                    Texto-Imagen
                                </div>
                                <div data-element="add-image-text" data-type="imageText" id="add-image-text"
                                     class="btn field-shortname ui-draggable img_img_txt">
                                    Imagen-Texto
                                </div>
                                <div data-element="add-text-slash-image" data-type="textSlashImage"
                                     id="add-text-slash-image" class="btn field-shortname ui-draggable img_txt-img">
                                    Texto/Imagen
                                </div>
                                <div data-element="add-image-slash-text" data-type="imageSlashText"
                                     id="add-image-slash-text" class="btn field-shortname ui-draggable img_img-txt">
                                    Imagen/Texto
                                </div>
                                <div data-element="add-text-slash-button" data-type="textSlashButton"
                                     id="add-text-slash-button" class="btn field-shortname ui-draggable img_txt-button">
                                    Texto/Bot&#243;n
                                </div>
                                <div data-element="add-button-slash-text" data-type="buttonSlashText"
                                     id="add-button-slash-text" class="btn field-shortname ui-draggable img_button-txt">
                                    Bot&#243;n/Texto
                                </div>
                            </div>
                        </div>

                        <h3><a href="#">Colores</a></h3>
                        <div>
                            <div>
                                <h3 class="colorSetHeader">Mis Colores</h3>
                                <div class="themelist">
                                    <div class="themeitemlist generateitem">
                                        <span class="themeitembox" style="background-color: white;"
                                              title="El color de fondo"
                                              data-target-control-id="BackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: white;"
                                              title="Color del borde" data-target-control-id="BorderColorStyle"></span>
                                        <span class="themeitembox" style="background-color: white;"
                                              title="Color de fondo exterior"
                                              data-target-control-id="OuterBackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: white;"
                                              title="Color del texto" data-target-control-id="TextColorStyle"></span>
                                        <span class="themeitembox" style="background-color: white;"
                                              title="Color del v&#237;nculo"
                                              data-target-control-id="LinkColorStyle"></span>
                                        <span class="themeitembox" style="background-color: white;"
                                              title="Color Separador"
                                              data-target-control-id="HrBorderColorStyle"></span>
                                        <span class="themetitle"></span>
                                        <span class="themecustomize">
                                            <a id="generateColorSetBtn">Aleatorio</a>
                                                &nbsp;
                                            <a id="saveColorSetBtn">Guardar</a>
                                            </span>
                                    </div>
                                </div>
                                <br>
                                <h3 class="colorSetHeader">Predefinidas</h3>
                                <div class="themelist">
                                    <div class="themeitemlist">
                                        <span class="themeitembox" style="background-color: #C0F400"
                                              data-value="#C0F400" title="El color de fondo"
                                              data-target-control-id="BackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #9AB72E"
                                              data-value="#9AB72E" title="Color del borde"
                                              data-target-control-id="BorderColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #7D9F00"
                                              data-value="#7D9F00" title="Color de fondo exterior"
                                              data-target-control-id="OuterBackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #00AA72"
                                              data-value="#00AA72" title="Color del texto"
                                              data-target-control-id="TextColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #35D4A0"
                                              data-value="#35D4A0" title="Color del v&#237;nculo"
                                              data-target-control-id="LinkColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #369100"
                                              data-value="#369100" title="Color Separador"
                                              data-target-control-id="HrBorderColorStyle"></span>
                                        <span class="themetitle">Poner1</span>
                                        <span class="themecustomize"><a class="customizeSetBtn">Editar</a></span>
                                    </div>
                                    <div class="themeitemlist">
                                        <span class="themeitembox" style="background-color: #bbeeff"
                                              data-value="#bbeeff" title="El color de fondo"
                                              data-target-control-id="BackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #88dddd"
                                              data-value="#88dddd" title="Color del borde"
                                              data-target-control-id="BorderColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #44bbcc"
                                              data-value="#44bbcc" title="Color de fondo exterior"
                                              data-target-control-id="OuterBackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #0055bb"
                                              data-value="#0055bb" title="Color del texto"
                                              data-target-control-id="TextColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #6699aa"
                                              data-value="#6699aa" title="Color del v&#237;nculo"
                                              data-target-control-id="LinkColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #334433"
                                              data-value="#334433" title="Color Separador"
                                              data-target-control-id="HrBorderColorStyle"></span>
                                        <span class="themetitle">Poner2</span>
                                        <span class="themecustomize"><a class="customizeSetBtn">Editar</a></span>
                                    </div>
                                    <div class="themeitemlist">
                                        <span class="themeitembox" style="background-color: #FFB400"
                                              data-value="#FFB400" title="El color de fondo"
                                              data-target-control-id="BackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #BF9530"
                                              data-value="#BF9530" title="Color del borde"
                                              data-target-control-id="BorderColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #A67500"
                                              data-value="#A67500" title="Color de fondo exterior"
                                              data-target-control-id="OuterBackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #4512AE"
                                              data-value="#4512AE" title="Color del texto"
                                              data-target-control-id="TextColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #4512AE"
                                              data-value="#4512AE" title="Color del v&#237;nculo"
                                              data-target-control-id="LinkColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #BF9530"
                                              data-value="#BF9530" title="Color Separador"
                                              data-target-control-id="HrBorderColorStyle"></span>
                                        <span class="themetitle">Poner3</span>
                                        <span class="themecustomize"><a class="customizeSetBtn">Editar</a></span>
                                    </div>
                                    <div class="themeitemlist">
                                        <span class="themeitembox" style="background-color: #0F4DA8"
                                              data-value="#0F4DA8" title="El color de fondo"
                                              data-target-control-id="BackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #284B7E"
                                              data-value="#284B7E" title="Color del borde"
                                              data-target-control-id="BorderColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #2E16B1"
                                              data-value="#2E16B1" title="Color de fondo exterior"
                                              data-target-control-id="OuterBackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #5ED1BA"
                                              data-value="#5ED1BA" title="Color del texto"
                                              data-target-control-id="TextColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #00A383"
                                              data-value="#00A383" title="Color del v&#237;nculo"
                                              data-target-control-id="LinkColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #1F7A68"
                                              data-value="#1F7A68" title="Color Separador"
                                              data-target-control-id="HrBorderColorStyle"></span>
                                        <span class="themetitle">Poner4</span>
                                        <span class="themecustomize"><a class="customizeSetBtn">Editar</a></span>
                                    </div>
                                    <div class="themeitemlist">
                                        <span class="themeitembox" style="background-color: #FF6200"
                                              data-value="#FF6200" title="El color de fondo"
                                              data-target-control-id="BackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #BF6730"
                                              data-value="#BF6730" title="Color del borde"
                                              data-target-control-id="BorderColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #FFCA00"
                                              data-value="#FFCA00" title="Color de fondo exterior"
                                              data-target-control-id="OuterBackgroundColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #CEB122"
                                              data-value="#CEB122" title="Color del texto"
                                              data-target-control-id="TextColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #BF8930"
                                              data-value="#BF8930" title="Color del v&#237;nculo"
                                              data-target-control-id="LinkColorStyle"></span>
                                        <span class="themeitembox" style="background-color: #FF9F00"
                                              data-value="#FF9F00" title="Color Separador"
                                              data-target-control-id="HrBorderColorStyle"></span>
                                        <span class="themetitle">Poner5</span>
                                        <span class="themecustomize"><a class="customizeSetBtn">Editar</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3><a href="#">Estilos</a></h3>
                        <div id="field-settings-pane">
                            <div class="form-stacked">
                                <p>
                                    <label>Propiedades:</label>
                                    <select id="propertiesSelector">
                                        <option value="Backgrounds" selected="selected">Fondo</option>
                                        <option value="Typography">Tipograf&#237;a</option>
                                        <option value="Borders">Fronteras</option>
                                    </select>
                                </p>
                                <div id="propertytemplate">
                                    <p data-group="Backgrounds">
                                        <label>El color de fondo:</label>
                                        <input class="itext miniColors colorpicker-ui" default="#ffffff"
                                               id="BackgroundColorStyle" name="BackgroundColorStyle"
                                               property="background-color" selector="#message-builder-container"
                                               value="#ffffff"/>
                                    </p>
                                    <p data-group="Backgrounds">
                                        <label>Color de fondo exterior:</label>
                                        <input class="itext miniColors colorpicker-ui" default="#ffffff"
                                               id="OuterBackgroundColorStyle" name="OuterBackgroundColorStyle"
                                               property="background-color" selector="#message-builder-outer-container"
                                               value="#347ddb"/>
                                    </p>
                                    <p data-group="Typography">
                                        <label>Familia de fuentes:</label>
                                        <select class="iselect fontpicker-ui" default="arial" id="FontFamilyStyle"
                                                name="FontFamilyStyle" property="font-family"
                                                selector="#message-builder-container td">
                                            <option selected="selected" value="arial">Arial</option>
                                            <option value="arial black">Arial Black</option>
                                            <option value="comic sans ms">Comic Sans MS</option>
                                            <option value="courier new">Courier New</option>
                                            <option value="impact">Impact</option>
                                            <option value="tahoma">Tahoma</option>
                                            <option value="times new roman">Times New Roman</option>
                                            <option value="trebuchet ms">Trebuchet MS</option>
                                            <option value="verdana">Verdana</option>
                                        </select>
                                    </p>
                                    <p data-group="Typography">
                                        <label>Tama&#241;o de letra:</label>
                                        <select class="iselect fontpicker-ui" default="12px" id="FontSizeStyle"
                                                name="FontSizeStyle" property="font-size"
                                                selector="#message-builder-container td">
                                            <option value="8px">8</option>
                                            <option value="9px">9</option>
                                            <option value="10px">10</option>
                                            <option value="11px">11</option>
                                            <option selected="selected" value="12px">12</option>
                                            <option value="13px">13</option>
                                            <option value="14px">14</option>
                                            <option value="15px">15</option>
                                            <option value="16px">16</option>
                                            <option value="17px">17</option>
                                            <option value="18px">18</option>
                                            <option value="19px">19</option>
                                            <option value="20px">20</option>
                                            <option value="21px">21</option>
                                            <option value="22px">22</option>
                                            <option value="23px">23</option>
                                            <option value="24px">24</option>
                                            <option value="25px">25</option>
                                            <option value="26px">26</option>
                                            <option value="27px">27</option>
                                            <option value="28px">28</option>
                                            <option value="29px">29</option>
                                            <option value="30px">30</option>
                                        </select>
                                    </p>
                                    <p data-group="Typography">
                                        <label>Color del texto:</label>
                                        <input class="itext miniColors colorpicker-ui" default="#000000"
                                               id="TextColorStyle" name="TextColorStyle" property="color"
                                               selector="#message-builder-container td" value="#000000"/>
                                    </p>
                                    <p data-group="Typography">
                                        <label>Color del v&#237;nculo:</label>
                                        <input class="itext miniColors colorpicker-ui" default="#0033cc"
                                               id="LinkColorStyle" name="LinkColorStyle" property="color"
                                               selector="#message-builder-container a:not(.link-button)"
                                               value="#2754cf"/>
                                    </p>
                                    <p data-group="Borders">
                                        <label>Color del borde:</label>
                                        <input class="itext miniColors colorpicker-ui" default="#ffffff"
                                               id="BorderColorStyle" name="BorderColorStyle" property="border-color"
                                               selector="#message-builder-container" value="#ffffff"/>
                                    </p>
                                    <p data-group="Borders">
                                        <label>Color Separador:</label>
                                        <input class="itext miniColors colorpicker-ui" default="#000000"
                                               id="HrBorderColorStyle" name="HrBorderColorStyle" property="border-color"
                                               selector="#message-builder-container hr" value="#2754cf"/>
                                    </p>
                                    <p data-group="Borders">
                                        <label>Cellpadding:</label>
                                        <select class="iselect itable" default="10px" id="CellPaddingStyle"
                                                name="CellPaddingStyle" property="padding" selector=".block-box"
                                                tableproperty="cellpadding">
                                            <option value="2px">ni</option>
                                            <option selected="selected" value="5px">Peque&#241;o</option>
                                            <option value="10px">Medio</option>
                                            <option value="20px">Magn&#237;fico</option>
                                        </select>
                                    </p>
                                    <p data-group="Borders">
                                        <label>Cellspacing:</label>
                                        <select class="iselect itable" default="10px" id="CellSpacingStyle"
                                                name="CellSpacingStyle" property="margin" selector=".block-box"
                                                tableproperty="cellspacing">
                                            <option value="0px">ni</option>
                                            <option selected="selected" value="2px">Peque&#241;o</option>
                                            <option value="4px">Medio</option>
                                            <option value="8px">Magn&#237;fico</option>
                                        </select>
                                    </p>
                                </div>
                                <p>
                                    <button class="removeAllFormat">Retire todos los formatos</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="message-builder-outer-container">
                    <div id="message-builder-container" style="border: 1px solid;">
                        <div id="message-builder-content">
                            <div id="message-builder-pane">
                                <div id="message-header-preview" class="field-wrapper">
                                    {# Aquí es donde el carga el comunicado. #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message-builder-clear">&nbsp;</div>
            </div>
        </td>
    </tr>
    {#<tr>
        <td>
            <div class="widget-content padding">
                <div>
                    <a id="message-preview" class="btn btn-success">Vista previa</a>
                    <a class="btn btn-success message-save-exit">Guardar y salir</a>
                </div>
            </div>
        </td>
    </tr>#}
</table>

<div id="background-dialog-form" title="Backgrounds" style="display: none">
    Haga clic en la celda para seleccionar el color de fondo:
    <br><br>
    <table id="backgroundTable"></table>
</div>

<div id="button-dialog-form" class="button-dialog-form" title="Bot&#242;n Editar" style="display: none;">
    <table>
        <tr>
            <td>
                <label for="text">Texto del bot&#243;n</label>
            </td>
            <td colspan="3">
                <input type="text" name="text" class="text ui-widget-content ui-corner-all"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Alinear</label>
            </td>
            <td>
                <input type="radio" name="align" value="left"/>
                Izquierda
            </td>
            <td>
                <input type="radio" name="align" value="center"/>
                Centro
            </td>
            <td>
                <input type="radio" name="align" value="right"/>
                Derecha
            </td>
        </tr>
        <tr>
            <td>
                <label for="link">Enlace en el bot&#243;n</label>
            </td>
            <td colspan="3">
                <input type="text" name="link" value="http://" class="text ui-widget-content ui-corner-all"
                       id="js-button-link-input"/>
                <button id="browseServerForButtonLink">Buscar</button>
            </td>
        </tr>
        <tr>
            <td>
                <label for="text">Forma del bot&#243;n</label>
            </td>
            <td colspan="3">
                <select name="shape">
                    <option value="Rectangle" selected="selected">Rectangle</option>
                    <option value="Rounded">Rounded</option>
                    <option value="Circle">Circle</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="text">Bot&#243;n Fuente</label>
            </td>
            <td colspan="3">
                <select name="font">
                    <option value="Arial">Arial</option>
                    <option value="Helvetica">Helvetica</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Impact">Impact</option>
                    <option selected="selected" value="Trebuchet">Trebuchet</option>
                    <option value="ComicSans">Comic Sans</option>
                    <option value="Verdana">Verdana</option>
                    <option value="TimesNewRoman">Times New Roman</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="text">El color de fondo</label>
            </td>
            <td colspan="3">
                <input name="fillColor" class="colorpicker-ui"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="text">Color del borde</label>
            </td>
            <td colspan="3">
                <input name="borderColor" class="colorpicker-ui"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="text">Color de fuente</label>
            </td>
            <td colspan="3">
                <input name="fontColor" class="colorpicker-ui"/>
            </td>
        </tr>
        <tr>
            <td>Vista previa</td>
            <td colspan="3">
                <img class="buttonPreview"/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>