{% extends '::frontend.html.twig' %}

{% block body %}
    <h1>Paginación de registros ( {{total_count}} )</h1>
    <table class="table table-bordered">
        <tbody>
          
            <th>
            Producto
            </th>
            <th>Precio</th>
           <th>Precio</th>
        </tbody>
        
        	{% for dato in datos %}
                <tr>
                    <td>{{dato.tipoProducto}}</td>
                    <td>{{dato.capacidadProducto}}</td>
                    <td>{{dato.porcentajeActividadEmpresa}}</td>
                </tr>
            {% endfor %}

        <tr>
            <td colspan="3" style="text-align: right;"> 
                 <ul class="pagination">
                        {%for i in 1.. totalPaginas %}
                            {%if loop.first %}
                            <li {%if page==1%} class="disabled" {%endif%}>
                              <a href="{{path('prueba_paginacion')}}?page={{page-1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            {%endif%}
                        
                        <li {% if page==loop.index %}  class="active" {%endif%}>
                            <a href="{{path('prueba_paginacion')}}?page={{loop.index}}">{{loop.index}}</a>
                        </li>
                          {%if loop.last %}                                                   
                            <li {%if page==totalPaginas%} class="disabled" {%endif%}>
                              <a href="{{path('prueba_paginacion')}}?page={{page+1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                           {%endif%}
                        {%endfor%}
                 </ul>
            </td>
        </tr>
        
    </table>
    
    
{% endblock %}
