{% extends '::template.html.twig' %}

{% block body %}
  <div class="content-page">
			<!-- ============================================================== -->
			<!-- Start Content here -->
			<!-- ============================================================== -->
            <div class="content">
								<!-- Page Heading Start -->
				<div class="page-heading">
            		<h1><i class='fa fa-magic'></i> Form Wizard</h1>
            		<h3>Super Awesome Form Wizard</h3>            	</div>
            	<!-- Page Heading End-->				
				<div class="row">
					<div class="col-md-12 portlets">
						<!-- Your awesome content goes here -->
						<div class="widget animated fadeInDown">
							<form id="myWizard">
								<section class="step" data-step-title="First step">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label for="inputEmail">Email</label>
												<input type="text" id="inputEmail" placeholder="Email" class="form-control">
											</div>
											<div class="form-group">
												<label for="inputPassword">Password</label>
												<input type="password" id="inputPassword" placeholder="Password" class="form-control">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="notes">
												<h4><strong>Example</strong> note</h4>
												<p style="text-align: justify">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
												<ol>
													<li>Duis autem vel eum iriure dolor in hendrerit in vulputate</li>
													<li>Lorem ipsum dolor sit amet</li>
													<li>Sed diam nonummy nibh euismod tincidunt</li>
													<li>Sonsectetuer adipiscing elit</li>
													<li>Tincidunt ut laoreet dolore magna aliquam erat volutpat</li>
												</ol>
												<p style="text-align: justify">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
											</div>
										</div>
									</div>
								</section>
								<section class="step" data-step-title="Second step">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label for="inputUsername">Username</label>
												<input type="text" id="inputUsername" placeholder="Username" class="form-control">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="notes">
												<h4><strong>Example</strong> note</h4>
												<p style="text-align: justify">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
												<ol>
													<li>Duis autem vel eum iriure dolor in hendrerit in vulputate</li>
													<li>Lorem ipsum dolor sit amet</li>
													<li>Sed diam nonummy nibh euismod tincidunt</li>
													<li>Sonsectetuer adipiscing elit</li>
													<li>Tincidunt ut laoreet dolore magna aliquam erat volutpat</li>
												</ol>
												<p style="text-align: justify">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
											</div>
										</div>
									</div>
								</section>
								<section class="step" data-step-title="Third step">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label for="inputFirstname">Firstname</label>
												<input type="text" id="inputFirstname" placeholder="Firstname" class="form-control">
											</div>
											<div class="form-group">
												<label for="inputCity">City</label>
												<input type="text" id="inputCity" placeholder="City" class="form-control">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="notes">
												<h4><strong>Example</strong> note</h4>
												<p style="text-align: justify">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
												<ol>
													<li>Duis autem vel eum iriure dolor in hendrerit in vulputate</li>
													<li>Lorem ipsum dolor sit amet</li>
													<li>Sed diam nonummy nibh euismod tincidunt</li>
													<li>Sonsectetuer adipiscing elit</li>
													<li>Tincidunt ut laoreet dolore magna aliquam erat volutpat</li>
												</ol>
												<p style="text-align: justify">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</p>
											</div>
										</div>
									</div>
								</section>
							</form>
						</div>
					</div>
				</div>
		</div>
{% endblock %}