{% extends '::template.html.twig' %}
{% block body %}
<div class="content-page">
    <div class="content">
        <div class="col-sm-12">
            <div class="page-heading">
                <h1>Agregar Caso</h1>
            </div>

            <div class="row">
                <div class="widget">
                    <div class="widget-header transparent">
                        <div class="additional-btn">
                            <a href="{{asset('crear')}}" class="hidden reload"><i class="icon-ccw-1"></i></a>
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                        </div>
                    </div>

                    <div class="widget-content padding">
                        <form id="casoform" name="fcontacto" onsubmit="return valforms(this)" action="{{path('prueba_caso',{'id':id}) }}" {{form_enctype(docuform)}}  method="POST" class="add_form" >
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Nombre del Caso: </label>
                                            <input type="text" name="nombrec" id="nombrec" required onChange="return valforms(this.form,this)" editcheck="type=alphanum;req=Y=Indique el Nombre del Caso;cvt=UTC" class="form-control">
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Código de Caso: </label>
                                                <input type="text" name="codigo" id="codigo" required onChange="return valforms(this.form,this)" editcheck="req=Y=Indique el Codigo del Caso;cvt=UTC" class="form-control">
                                            </div>
                                        </div><br>
                                    </div><br>
                                    <div style="background-color:#B8FFD1" class="page-heading">
                                        <strong>Principal Actividad del Caso</strong>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label> Nombre de la Actividad:</label>
                                                <input type="text" id="nombreact"  class="form-control" name="nombreact" onChange="return valforms(this.form,this)" editcheck="type=alphanum;req=Y=Indique el Nombre de la Actividad;cvt=UTC" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Fecha Estimada de Cierre:</label>
                                                <input type="text" name="fechaact" id='fechaact' class="form-control date-picker" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div>Desea Ingresar algun Documento Asociado al Caso
                                    </div><br>

                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input type="text" name='id' value="" hidden="hidden">
                                            <input type="radio" name="autorizacion" value="SI" id="autorizacion_0" onclick="autorizacions();" required/> Si
                                            <input type="radio" name="autorizacion" value="No" id="autorizacion_1" onclick="autorizacions();" required /> No, en este momento
                                            <div id="desdeauto" style="display:none;">
                                                <p style="display:none;">{{form_widget(docuform.pathdocumentos,{'attr':{'value':'Sin registro'}})}}</p>
                                            </div>
                                            <div id="autoex" style="display:none;">
                                                <div class="custom-input-file">
                                                    {{form_widget(docuform.filedocumentos, {'attr': {'class':"input-file" }})}}Examinar
                                                    <div class="archivo">....</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><br><br><br>
                                <p style="padding: 20px 0px 0px 0px;"> {{form_widget(docuform.Guardar,{'attr': {'class': 'btn btn-success'}}) }}</p>
                            </div>
                            {{ form_rest(docuform) }}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Fecha Estimada de Cierre Caso:  </label>
                                            <input type="text" name="fechacaso" id='fechacaso' class="form-control date-picker" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Encargado del Caso:</label>
                                            <input type="text" id="personalaso"  class="form-control" name="personalaso" onChange="return valforms(this.form,this)" editcheck="type=alphanum;req=Y=Por favor indica el Encargado del Caso ;cvt=UTC" required>
                                        </div>
                                    </div>
                                </div>
                            </div><br><br><br><br><br><br><br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Responsable de la Actividad: </label>
                                        <input type="text" id="responsable"  class="form-control" name="responsable" onChange="return valforms(this.form,this)" editcheck="type=alphanum;req=Y=Indique el Nombre de la Actividad;cvt=UTC" required>
                                    </div>
                                    <div class="col-sm-6"><br><br>
                                        <label>Involucrados de la Actividad :</label><br>
                                        <select style="width: 50%;" id="empresas" class="form-control">
                                            <option value="">Seleccione</option>
                                            {% for dato in afiliados %}
                                                <option value="{{dato.nombreempresa}}">{{dato.nombreempresa}}</option>
                                            {% endfor %}
                                        </select><br><br>
                                        <textarea type="text" id="involucrado" class="form-control"  name="involucrado" onChange="return valforms(this.form,this)" editcheck="req=Y=Indique el Involucrado de la Actividad;cvt=UTC" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".date-picker").datepicker({ minDate: 0});

    $("#empresas").change(function(){
        var valor = $(this).val();
        var template= $('#involucrado').val();
        if(template=='') {
            $('#involucrado').val(valor);
        }else {
            $('#involucrado').val(template+','+ valor);

        }
    });
</script>
{%endblock%}