{% extends '::template.html.twig' %}

{% block body %}

<div class="content-page">
    <div class="content">   
        <div class="row">
            <div class="col-sm-12">

				<div class="page-heading">
					<h1>Cuestionario Industrial - Inscripcion de la Empresa</h1>
				</div>    

		<div class="row">				
			<div class="widget">
					<div class="widget-header transparent">
							<h2><strong>Formulario de Registro</strong></h2>
						<div class="additional-btn">
							<a href="{{asset('crear')}}" class="hidden reload"><i class="icon-ccw-1"></i></a>
							<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
							<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
						</div>
					</div>
	<div class="widget-content padding">

			{{form_start(form)}}

			<div class="form-group">
			   <div class="row">
					<div class="col-sm-6">
			           <label> Nombre de la Empresa: </label>
			          <p class="form_input">{{form_widget(form.nombreEmpresa)}}</p>
			        </div>
					<div class="col-sm-6">
				       <label>Tipo de Empresa</label>
				       <p class="form_error">{{ form_errors(form.tipoEmpresa) }}</p>
				       <p class="form_input"> {{form_widget(form.tipoEmpresa)}}</p>
			        </div>
			    </div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
					 <label>Fundacion de la Empresa:</label>
					  <span class="form_input">{{form_widget(form.fundacionEmpresa)}}</span>
					</div>
					 <div class="col-sm-6">
					   <label>Principal Actividad de la empresa:</label>
					   <span>{{form_widget(form.actividadEmpresa)}}</span>
					 </div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
			       <div class="col-sm-6">
				    <label> Direccion Fiscal de la Empresa: </label>
				     <p class="form_input">{{form_widget(form.direccionFiscalEmpresa)}}</p>
			        </div>
				     <div class="col-sm-6">
					  <label>Rif de la Empresa: </label>
					  <p class="form_input">  {{form_widget(form.rifEmpresa)}}</p>
				   </div>
			    </div>
			</div>

			 <div class="form-group">
			   	<div class="row">
			       <div class="col-sm-6">
					    <label>Registro de la Empresa:  </label>
					    <p class="form_input"> {{form_widget(form.registroEmpresa)}}</p>
			        </div>
			        <div class="col-sm-6">
					    <label>Direccion de oficina de la Empresa: </label>
					    <p class="form_error">{{ form_errors(form.direccionOficinaEmpresa) }}</p>
				        <p class="form_input">  {{form_widget(form.direccionOficinaEmpresa)}}</p>
			    	 </div>
			   	</div>
			</div>

			 <div class="form-group">
			    <div class="row">
			       <div class="col-sm-6">
					     <label>Telefono de oficina de la Empresa: </label>
					      <p class="form_error">{{ form_errors(form.telefonoOficina) }}</p>
					     <p class="form_input"> {{form_widget(form.telefonoOficina)}}</p>
			        </div>
				    <div class="col-sm-6">
					   <label>Fax de Oficina de la Empresa:</label>
					   <p class="form_error">{{ form_errors(form.faxOficinaEmpresa) }}</p>
					   <p class="form_input">  {{form_widget(form.faxOficinaEmpresa)}}</p>
				    </div>
			    </div>
			 </div>

				<div class="form-group">
				  <div class="row">
				       <div class="col-sm-6">
					     <label> Direccion de Planta de la Empresa: </label>
					     <p class="form_error">{{ form_errors(form.direccionPlantaEmpresa) }}</p>
					      <p class="form_input"> {{form_widget(form.direccionPlantaEmpresa)}}</p>
				        </div>
				     <div class="col-sm-6">
					   <label>Telefono de Planta de la Empresa:</label>
					   <p class="form_error">{{ form_errors(form.telefonoPlantaEmpresa) }}</p>
					   <p class="form_input">  {{form_widget(form.telefonoPlantaEmpresa)}}</p>
				     </div>
				  </div>
				</div>

				<div class="form-group">
				   <div class="row">
				       <div class="col-sm-6">
					    <label>Fax de la Planta de la Empresa: </label>
					    <p class="form_error">{{ form_errors(form.faxPlantaEmpresa) }}</p>
					    <p class="form_input">  {{form_widget(form.faxPlantaEmpresa)}}</p>
				        </div>
					    <div class="col-sm-6">
						  <label> Email de la Empresa: </label>
						  <p class="form_error">{{ form_errors(form.emailEmpresa) }}</p>
						   <p class="form_input"> {{form_widget(form.emailEmpresa)}}</p>
					    </div>
				    </div>
				</div>


				<div class="form-group">
				    <div class="row">
				       <div class="col-sm-6">
					    <label> Pàgina de la Empresa: </label>
					    <p class="form_error">{{ form_errors(form.paginaEmpresa) }}</p>
					    <p class="form_input"> {{form_widget(form.paginaEmpresa)}}</p>
				       </div>
					     <div class="col-sm-6">
						   <label>Marca comercial de los Productos: </label>
						    <p class="form_error">{{ form_errors(form.marcasProductoEmpresa) }}</p>
						    <p class="form_input">  {{form_widget(form.marcasProductoEmpresa)}}</p>
					     </div>
				    </div>
				</div>

				 <div class="form-group">
				    <label> Ventas Brutas(MILLONES (MM) DE DÓLARES POR AÑO):</label>
					<p> {{form_widget(form.ventasBrutasEmpresa)}}</p>
				 </div>


				<div class="page-heading">
				<strong>Asistencia Tenica</strong>
				</div>

				<div class="form-group">
				   <div class="row">
				       <div class="col-sm-6">
					    <label> Pais de origen de la Tecnologia:</label>
					    <p class="form_error">{{ form_errors(form.paisOrigenAsistencia) }}</p>
					    <p class="form_input">  {{form_widget(form.paisOrigenAsistencia)}}</p>
				       </div>
					   <div class="col-sm-6">
						<label>Empresa de origen de la Tecnologia:</label>
						<p class="form_error">{{ form_errors(form.empresaOrigenAsistencia) }}</p>
						<p class="form_input">  {{form_widget(form.empresaOrigenAsistencia)}}</p>
					  </div>
				 	</div>
				</div>

			 <div class="form-group">
			    <div class="row">
			       <div class="col-sm-6">
				     <label>Principales materias primas utilizadas en la produccion: </label>
				     <p class="form_error">{{ form_errors(form.materiaPrimaEmpresa) }}</p>
				     <p class="form_input"> {{form_widget(form.materiaPrimaEmpresa)}}</p>
			        </div>
			         <div class="col-sm-6">
				     <label> Productos que comercializa: </label>
						<p class="form_error">{{ form_errors(form.productoComercializa) }}</p>
						<p class="form_input">{{form_widget(form.productoComercializa)}}</p>
			  		</div>
			  	</div>
			</div>

				<div class="form-group">
				    <div class="row">
				       <div class="col-sm-6">
						<label> Servicio que presta la Empresa:</label>
						<p class="form_error">{{ form_errors(form.servicioEmpresa) }}</p>
						<p class="form_input">{{form_widget(form.servicioEmpresa)}}</p>
				  		</div>
				  		<div class="col-sm-6">
						<label> Responsable de a informacion:</label>
						<p class="form_error">{{ form_errors(form.responsableInformacionEmpresa) }}</p>
						<p class="form_input">{{form_widget(form.responsableInformacionEmpresa)}}</p>
					  	</div>
					 </div>
				 </div>

				<div class="form-group">
					<label> Nit de la empresa:</label>
					<p class="form_error">{{ form_errors(form.nitEmpresa) }}</p>
					<p class="form_input">{{form_widget(form.nitEmpresa)}}</p>
				</div>
				<p> {{ form_widget(form.Guardar) }}</p>

									</div>	
							 </div>
                        </div>
                 </div>
       </div>
</div>
</div>
		
{{ form_end(form) }}  
{% endblock %}
