{% extends '::menu.html.twig' %}
{% block title %}Creación de comunicado paso 3{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="fa fa-briefcase"></i> Crear Comunicado - Último paso
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="container">
                            <div class="row">
                                <div class="form-group">
                                    <label for="asunto">Asunto:</label>
                                    <input id="asunto" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Destino:</label>
                                    <div class="radio">
                                        <label><input type="radio" class="send_now" id="listacorreoSi">
                                            Listas de correos</label>
                                        <label><input type="radio"  class="send_schedule" id="contactosSi">
                                            Contactos</label>
                                    </div>
                                </div>
                                <div class="form-group disappeared" id="listascorreos">
                                    <label for="listascorreos">Listas de correos:</label>
                                    <select class="form-control">
                                        <option>- Seleccione -</option>
                                        <option>- Crear nueva lista -</option>
                                        <option>Lista 1</option>
                                        <option>Lista 2</option>
                                        <option>Lista 3</option>
                                    </select>
                                </div>
                                <div class="form-group disappeared" id="listacontactos">
                                    <label for="listacontactos">Lista de contactos:</label>
                                    <select  class="form-control">
                                        <option>- Seleccione -</option>
                                        <option>Contacto 1</option>
                                        <option>Contacto 2</option>
                                        <option>Contacto 3</option>
                                        <option>Contacto 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="">
                                    <button class="btn btn-success pull-left">Volver</button>
                                    <button class="btn btn-success pull-right">Vista previa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="container">
                            <div class="form-group">
                                <label>¿Cuando se realizará el envío?</label>
                                <div class="radio2">
                                    <label><input type="radio" class="send_now" id="send_now">
                                        Enviar Ahora</label>
                                    <br>
                                    <br>
                                    <label><input type="radio" class="send_schedule" id="send_schedule">
                                        Programar</label>
                                </div>
                            </div>
                            <div class="form-group disappeared" id="grupofecha">
                                <label for="fecha">Fecha de envío:</label>
                                <input id="fecha" class="form-control">
                            </div>
                            <button class="btn btn-success pull-right">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}