{% extends '::menu.html.twig' %}
{% block title %}Comunicados{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        Comunicados
                    </h1>
                    <h3>En este panel se muestran los datos referente a una Campaña en especifico.</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2>Aprobacion:</h2>
                            </div>
                            <div class="widget-content padding">
                                <h1>
                                    <div id="estadisticas_comunicado" style="height: 250px;"></div>
                                </h1>
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="estadisticas_reporte" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th colspan="3">Estadisticas del comunicado {{ comunicado.idComunicado }}:</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr role="row" class="odd">
                                        <td class="text-center">
                                            <strong>Asunto:</strong> {{ detalles.Campaign.SubjectLine }}</td>
                                        <td class="text-center"><strong>Nombre:</strong> {{ comunicado.getNombre }}</td>
                                        <td class="text-center"><strong>Fecha de
                                                envio:</strong> {{ comunicado.getFechaEnvio|date('d/m/y') }}</td>
                                        <td class="text-center"><strong>Estatus:</strong> <label
                                                    class="label label-{{ (comunicado.status == 1) ? 'success' : (comunicado.status == 2) ? 'warning' : 'danger' }}">{{ (comunicado.status == 1) ? 'Enviado' : (comunicado.status == 2) ? 'Pendiente' : 'Cancelado' }}</label>
                                        </td>

                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="text-center">
                                            <strong>Destinatarios: </strong> {{ estadisticas.destinatary }}</td>
                                        <td class="text-center"><strong>Veces
                                                abierto: </strong>{% if estadisticas.open > 0 %}<a
                                            class="page-scroll btn btn-success btn-xs" href="#tabla_detalles"
                                            onclick="mail_opens({{ comunicado.idComunicado }})">
                                            {{ estadisticas.open }} </a>{% else %} {{ estadisticas.open }} {% endif %}
                                        </td>
                                        <td class="text-center"><strong>Clicks:</strong> {{ estadisticas.clicks }}</td>
                                        <td class="text-center">
                                            <strong>Desubscripciones:</strong> {{ estadisticas.unsubscribes }}</td>
                                    </tr>
                                    <tr role="row" class="odd">

                                        <td class="text-center">
                                            <strong>Rebotado:</strong>{% if estadisticas.bounces > 0 %}
                                            <a class="page-scroll btn btn-success btn-xs" href="#tabla_detalles"
                                               onclick="mail_bounces({{ comunicado.idComunicado }})">
                                            {{ estadisticas.bounces }} </a>{% else %} {{ estadisticas.bounces }} {% endif %}
                                        </td>
                                        <td class="text-center"><strong>Reenvios:</strong> {{ estadisticas.forwards }}
                                        </td>
                                        <td class="text-center"><strong>Respuestas:</strong> {{ estadisticas.replies }}
                                        </td>
                                        <td class="text-center"><strong>Vistas:</strong> {{ estadisticas.views }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div id="detalles_consulta" style="min-height: 350px;"
                                 class="widget-content padding hidden">
                                <h1>
                                    <div id="titulo_data" style="font-size: 20px;"></div>
                                </h1>
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="tabla_detalles" cellspacing="0" width="100%">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        // Función para scroll automático onClick header.
        !function (o) {
            "use strict";
            o(".page-scroll a").bind("click", function (t) {
                var l = o(this);
                o("html, body").stop().animate({scrollTop: o(l.attr("href")).offset().top - 50}, 1250, "easeInOutExpo"), t.preventDefault()
            }), o("body").scrollspy({
                target: ".navbar-fixed-top",
                offset: 51
            }), o(".navbar-collapse ul li a").click(function () {
                o(".navbar-toggle:visible").click()
            }), o("#mainNav").affix({offset: {top: 100}}), o(function () {
                o("body").on("input propertychange", ".floating-label-form-group", function (t) {
                    o(this).toggleClass("floating-label-form-group-with-value", !!o(t.target).val())
                }).on("focus", ".floating-label-form-group", function () {
                    o(this).addClass("floating-label-form-group-with-focus")
                }).on("blur", ".floating-label-form-group", function () {
                    o(this).removeClass("floating-label-form-group-with-focus")
                })
            })
        }(jQuery);

        Morris.Bar({
            element: 'estadisticas_comunicado',
            data: [{y: 'Destinatarios', a: {{ estadisticas.destinatary }}}, {
                y: 'Abierto',
                a: {{ estadisticas.open }}}, {y: 'Clicks', a:{{ estadisticas.clicks }}}, {
                y: 'Desuscripcion',
                a: {{ estadisticas.unsubscribes }}}, {
                y: 'Rebotados',
                a: {{ estadisticas.bounces }}
            }, {y: 'Reenviado', a: {{ estadisticas.forwards }}}, {
                y: 'Respuestas',
                a:{{ estadisticas.replies }}}, {y: 'Visto', a: {{ estadisticas.views }}}],
            xkey: ['y'],
            ykeys: ['a'],
            labels: ['Cantidad']
        });
        function mail_bounces(id) {
            $.ajax({
                url: '../email_bounces',
                type: "POST",
                data: {
                    id: id,
                },
                dataType: "JSON",
                error: function () {
                    $('#detalles_consulta').addClass('hidden');
                },
                beforeSend: function () {
                    $('#detalles_consulta').removeClass('hidden');
                    $('#titulo_data').html('<strong>Lista de correos que rebotaron</strong>');
                    $('#tabla_detalles tbody').html('');
                },
                success: function (resp) {
                    if (resp.rebotes && resp.rebotes.Bounces) {
                        $('#tabla_detalles thead').html('<tr> <th class="text-center">Correo</th> <th class="text-center">Hora</th></tr>');
                        $.each(resp.rebotes.Bounces, function (key, bounce) {
                            var fecha = bounce.BounceDateTime.substr(11, 2) > 13 ? bounce.BounceDateTime.substr(11, 2) - 12 + bounce.BounceDateTime.substr(13, 3) + 'PM' : bounce.BounceDateTime.substr(11, 2) + bounce.BounceDateTime.substr(13, 3) + 'AM';
                            fecha += ' ' + bounce.BounceDateTime.substr(8, 2) + '/' + bounce.BounceDateTime.substr(5, 2) + '/' + bounce.BounceDateTime.substr(0, 4);
                            $('#tabla_detalles tbody').append('<tr role="row" class="odd"><td class="text-center">' + bounce.EmailAddress + '</td><td class="text-center">' + fecha + '</td><tr>');
                        });

                    }
                    else {
                        console.log('vacio');
                        $('#detalles_consulta').addClass('hidden');
                    }
                }

            });
        }

        function mail_opens(id) {
            String.prototype.replaceAll = function (search, replacement) {
                var target = this;
                return target.replace(new RegExp(search, 'g'), replacement);
            };
            $.ajax({
                url: '../email_opens',
                type: "POST",
                data: {
                    id: id,
                },
                dataType: "JSON",
                error: function () {
                    $('#detalles_consulta').addClass('hidden');
                },
                beforeSend: function () {
                    $('#detalles_consulta').removeClass('hidden');
                    $('#titulo_data').html('<strong>Lista de personas que han abierto el comunicado.</strong>');
                    $('#tabla_detalles tbody').html('');
                },
                success: function (resp) {
                    if (resp.opens[0] && resp.opens[0] != '') {
                        $('#tabla_detalles thead').html('<tr> <th class="text-center">Correo</th> <th class="text-center">Cantidad Vistas</th> <th class="text-center">Hora</th></tr>');
                        var opens = resp.opens[0].split('\n');
                        $.each(opens, function (key, open) {

                            var open = open.replaceAll('\"', '');
                            var eopen = open.split(',');
                            console.log(eopen[0] + ' ' + eopen[1] + ' ' + eopen[2]);
                            var fecha = eopen[2].substr(11, 2) > 13 ? eopen[2].substr(11, 2) - 12 + eopen[2].substr(13, 3) + 'PM' : eopen[2].substr(11, 2) + eopen[2].substr(13, 3) + 'AM';
                            fecha += ' ' + eopen[2].substr(8, 2) + '/' + eopen[2].substr(5, 2) + '/' + eopen[2].substr(0, 4);
                            $('#tabla_detalles tbody').append('<tr role="row" class="odd"><td class="text-center">' + eopen[0] + '</td><td class="text-center"> ' + eopen[1] + ' </td><td class="text-center">' + fecha + '</td><tr>');
                        });
                    }
                    else {
                        $('#detalles_consulta').addClass('hidden');
                    }
                }

            });
        }

    </script>
{% endblock %}