{% extends '::menu.html.twig' %}
{% block title %}Comunicados{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="glyphicon glyphicon-bullhorn"></i> Comunicado
                    </h1>
                    <h3>Comunicado <strong>"{{ nombre.nombre }}"</strong></h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                {#<div class="row">#}
                    {#<div class="col-md-12 text-right">#}
                        {#<a href="{{ path('lista_comunicados') }}" class="btn btn-default btn-md">Regresar</a>#}
                        {#<a href="" class="btn btn-success" id="getCode">Guardar cambios</a>#}
                    {#</div>#}
                {#</div>#}
                {#<br/>#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-content padding">
                                <div id="verComunicado">
                                    {{ comunicado.comunicado }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        var editor = grapesjs.init({
            container: "#verComunicado",
            plugins: ["gjs-preset-newsletter"],
            fromElement: true
        });
//        var btn = $("#getCode");
//        btn.on("click", function (e) {
//            e.preventDefault();
//            var url = window.location.href;
//            var segments = url.split( '/' );
//            var id = segments[4];
//            var html = editor.runCommand("gjs-get-inlined-html");
//            $.ajax({
//                url: "../editando_comunicado",
//                type: "POST",
//                dataType: "JSON",
//                data: {
//                    id: id,
//                    html: html
//                },
//                success: function (rsp) {
//                    if (rsp.success === true) {
//                        window.location.reload();
//                    }
//                },
//                error: function (rsp) {
//                    console.log(rsp);
//                }
//            });
//        });
    </script>
{% endblock %}
