{% extends '::template.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <style type="text/css">
         td {
             padding: 10px;
         }
     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}

    <link href='{{ asset('assets/js/shadowbox.css') }}' rel='stylesheet' type='text/css'/>
    <script src='{{ asset('assets/js/shadowbox.js') }}' type='text/javascript'></script>

    <link href="{{ asset('assets/js/pages/bootstrap-wizard/components.min.css') }}" rel="stylesheet"
          id="style_components" type="text/css"/>
    <link href="{{ asset('assets/js/pages/bootstrap-wizard/plugins.css') }}" rel="stylesheet" type="text/css"/>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.1/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.1/jquery-ui.min.js"></script>
    <script src="{{ asset('assets/js/pages/bootstrap-wizard/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/pages/bootstrap-wizard/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/pages/bootstrap-wizard/jquery.validate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/pages/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('assets/js/pages/bootstrap-wizard/form-wizard.js') }}"></script>

    <script src="http://www.anieto2k.com/demo/jscron/jscron.js"></script>

    <script type='text/javascript'>
        Shadowbox.init({
            overlayColor: "#000",
            overlayOpacity: "0.6"
        });
    </script>


{% endblock %}
{% block body %}
    <div class="content-page">
        <div class="content">
            <div class="col-sm-12">
                <div class="page-heading">
                    <h1>Comunicados</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light " id="form_wizard_1">
                            <div class="portlet-body form">
                                <div id="loading" class="cargando"
                                     style="position: absolute;top: 262px;left:524px;display:none">
                                    <img src="{{ asset('assets/images/loader.gif') }}" width="32px" height="32px"/>
                                </div>
                                <form class="form-horizontal" action="#" id="submit_form" method="POST">
                                    <div class="form-wizard">
                                        <div class="form-body">
                                            {#<input type="file" name="file-5" id="file-5" class="inputfile inputfile-5" data-multiple-caption="{count} archivos seleccionados" multiple />#}
                                            {#<label for="file-5">#}
                                            {#<figure>#}
                                            {#<svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>#}
                                            {#</figure>#}
                                            {#<span class="iborrainputfile">Seleccionar archivo</span>#}
                                            {#</label>#}
                                            <ul class="nav nav-pills nav-justified steps">
                                                <li>
                                                    <a href="#tab1" data-toggle="tab" class="step">
                                                        <span class="number"> 1 </span>
                                                        <span class="desc">
                                                            <i class="fa fa-check"></i>Selección de plantilla
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#tab2" data-toggle="tab" class="step">
                                                        <span class="number"> 2 </span>
                                                        <span class="desc">
                                                            <i class="fa fa-check"></i>Edición de plantilla
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#tab3" data-toggle="tab" class="step active">
                                                        <span class="number"> 3 </span>
                                                        <span class="desc">
                                                            <i class="fa fa-check"></i> Envío de Comunicado
                                                        </span>
                                                    </a>
                                                </li>
                                                {#<li>#}
                                                {#<a href="#tab4" data-toggle="tab" class="step">#}
                                                {#<span class="number"> 4 </span>#}
                                                {#<span class="desc">#}
                                                {#<i class="fa fa-check"></i> Confirm </span>#}
                                                {#</a>#}
                                                {#</li>#}
                                            </ul>
                                            <div id="bar" class="progress progress-striped" role="progressbar">
                                                <div class="progress-bar progress-bar-success"></div>
                                            </div>
                                            <div class="tab-content">
                                                {#<div class="alert alert-danger display-none">#}
                                                {#<button class="close" data-dismiss="alert"></button> Debe completar todos los campos#}
                                                {#</div>#}
                                                <!-- <div class="alert alert-success display-none">
                                                    <button class="close" data-dismiss="alert"></button> Your form validation is successful! 
                                                </div> -->

                                                <!-- PRIMER PASO -->
                                                <div class="tab-pane active" id="tab1">
                                                    <div class="widget-content padding">
                                                        <table id="search-table" width="100%" border="0" cellspacing="0"
                                                               cellpadding="0">
                                                            <tbody>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <div id="message-builder-wrapper"
                                                                         style="margin-left: 56px;">
                                                                        <div>
                                                                            <div>
                                                                                <label>Categorías:</label>
                                                                                <select id="combito">
                                                                                    <option value="1">Ventas(Soldes)
                                                                                    </option>
                                                                                    <option value="2">Encuesta</option>
                                                                                    <option value="3">Viajes</option>
                                                                                    <option value="4">Asociaciones
                                                                                    </option>
                                                                                    <option value="5">Vacaciones
                                                                                    </option>
                                                                                    <option value="6">Estandar</option>
                                                                                    <option value="7">Belleza</option>
                                                                                    <option value="8">Dentista</option>
                                                                                    <option value="9">Ciencias</option>
                                                                                    <option value="10">Hotel</option>
                                                                                </select><br><br>
                                                                                <div id="div_1" class="mostrar">
                                                                                        <span class="template-btn"
                                                                                              id="boton_cargar"
                                                                                              data-templateid="1322">
                                                                                            <!--<a  href="{{ path('prueba_comunicado1') }}"> </a>--> <img
                                                                                                    class="imagenes"
                                                                                                    src="{{ asset('assets/comunicado/83.01.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1323">
                                                                                           <img class="imagenes"
                                                                                                src="{{ asset('assets/comunicado/83.02.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1324">
                                                                                           <img class="imagenes"
                                                                                                src="{{ asset('assets/comunicado/83.03.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1325">
                                                                                             <img class="imagenes"
                                                                                                  src="{{ asset('assets/comunicado/83.04.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1326">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/83.05.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1327">
                                                                                           <img class="imagenes"
                                                                                                src="{{ asset('assets/comunicado/83.06.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1328">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/83.07.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1329">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/83.08.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1330">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/83.09.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1331">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/83.10.2.jpg') }}">
                                                                                        </span>
                                                                                </div>
                                                                                <div id="div_2" class="contenido">
                                                                                        <span class="template-btn"
                                                                                              data-templateid="1267">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.01.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1268">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.02.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1269">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.03.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1270">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.04.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1271">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.05.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1272">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.06.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1273">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.07.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1274">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.08.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1275">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.09.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1276">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/85.10.1.jpg') }}">
                                                                                        </span>
                                                                                </div>
                                                                                <div id="div_3" class="contenido">
                                                                                        <span class="template-btn"
                                                                                              data-templateid="1267">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.1.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1268">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.2.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1269">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.3.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1270">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.4.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1271">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.5.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1272">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.6.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1273">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.7.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1274">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.8.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1275">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.9.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1276">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.59.10.1.jpg') }}">
                                                                                        </span>
                                                                                </div>

                                                                                <div id="div_4" class="contenido">
                                                                                        <span class="template-btn"
                                                                                              data-templateid="1267">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.1.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1268">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.2.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1269">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.3.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1270">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.4.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1271">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.5.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1272">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.6.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1273">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.7.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1274">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.8.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1275">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.9.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1276">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.56.10.1.jpg') }}">
                                                                                        </span>
                                                                                </div>
                                                                                <div id="div_5" class="contenido">
                                                                                        <span class="template-btn"
                                                                                              data-templateid="1267">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.01.2.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1268">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.02.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1269">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.03.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1270">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.04.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1271">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.05.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1272">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.06.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1273">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.07.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1274">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.08.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1275">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.09.2.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1276">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/84.10.2.jpg') }}">
                                                                                        </span>
                                                                                </div>
                                                                                <div id="div_6" class="contenido">
                                                                                        <span class="template-btn"
                                                                                              data-templateid="1267">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.1.1.jpg') }}">
                                                                                        </span>

                                                                                    <span class="template-btn"
                                                                                          data-templateid="1268">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.2.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1269">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.3.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1270">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.4.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1271">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.5.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1272">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.6.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1273">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.7.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1274">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.8.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1275">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.9.1.jpg') }}">
                                                                                        </span>
                                                                                    <span class="template-btn"
                                                                                          data-templateid="1276">
                                                                                            <img class="imagenes"
                                                                                                 src="{{ asset('assets/comunicado/mini.36.10.1.jpg') }}">
                                                                                        </span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="alert alert-danger oculto display-none">
                                                                                <button class="close"
                                                                                        data-dismiss="alert"></button>
                                                                                Debe seleccionar una plantilla
                                                                            </div>
                                                                            {#<p class="oculto" style="display: none;font-style: italic;color: #FF0506;padding: 14px 0px 0px 7px;">Debe seleccionar una plantilla</p>#}
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <input type="hidden" id="template" name="template" value="">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- FIN PRIMER PASO -->

                                                <!-- SEGUNDO PASO -->
                                                <div class="tab-pane" id="tab2">
                                                </div>
                                                <!-- FIN SEGUNDO PASO -->

                                                <!-- TERCER PASO -->
                                                <div class="tab-pane" id="tab3">
                                                    <div class="form-group">
                                                        <div class="row" style="padding-left: 10%;">
                                                            <div class="col-sm-6">
                                                                <label>Asunto del comunicado: </label><br><br>
                                                                <input type="text" id="asunto" style="width: 50%;"
                                                                       class="form-control" value="">

                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label> Seleccione a quienes se le enviara el
                                                                    comunicado:</label><br><br>
                                                                <select style="width: 50%;" id="involucrado"
                                                                        class="form-control"
                                                                        onchange="mostrar_seleccion(this.value)">
                                                                    <option value="">Seleccione</option>
                                                                    <option value="1">Un solo afiliado</option>
                                                                    <option value="2">Una lista de afiliados</option>
                                                                    <option value="3">Una lista de contactos</option>
                                                                    <option value="4">Guardar Comunicado Programado
                                                                    </option>
                                                                </select>
                                                                <p class="seleccionalert"
                                                                   style="display:none;color: red;font-size: 12px;font-style: italic;">
                                                                    Seleccione una opción</p>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <label style="top:200px"></label><br><br>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <label style="top:200px"> Desea Programar
                                                                    Comunicado:</label><br><br>
                                                                <select style="width: 50%; right:400px;"
                                                                        id="programados" class="form-control"
                                                                        onchange="mostrar_comunicados(this.value)">
                                                                    <option value="">Seleccione</option>
                                                                    <option value="1">SI</option>
                                                                    <option value="2">NO</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="row" style="padding-left: 10%;">
                                                            <div class="col-sm-6" id="mostrar_listas">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="unico" style="display: none">
                                                        <div class="row" style="padding-left: 10%;">
                                                            <div class="col-sm-6">
                                                                <label>Indique el correo del afiliado:</label><br><br>
                                                                <input type="text" style="width: 50%"
                                                                       class="form-control" id="afiliado" value=""
                                                                       name="afiliado">
                                                                <p class="afiliadoalert"
                                                                   style="display:none;color: red;font-size: 12px;font-style: italic;">
                                                                    Campo requerido</p>
                                                                <p class="correo"
                                                                   style="display:none;color: red;font-size: 12px;font-style: italic;">
                                                                    Dirección de correo invalido</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="grupo" style="display: none">
                                                        <div class="row" style="padding-left: 10%;">
                                                            <div class="col-sm-6">
                                                                <label for="grupo">Seleccion por Grupos de
                                                                    afiliados: </label><br><br>
                                                                <select style="width: 50%;" id="grupoa" name="grupoa"
                                                                        class="form-control">
                                                                    <option value="">Seleccione</option>
                                                                    {% for dato in grupos %}
                                                                        <option value="{{ dato.g_id }}">{{ dato.g_nombregrupo }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <p class="grupoalert"
                                                                   style="display:none;color: red;font-size: 12px;font-style: italic;">
                                                                    Seleccione una opción</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="lista" style="display: none">
                                                        <div class="row" style="padding-left: 10%;">
                                                            <div class="col-sm-6">
                                                                <label for="lista">Seleccion por Listas de
                                                                    contactos: </label><br><br>
                                                                <select style="width: 50%;" id="listasa" name="listasa"
                                                                        class="form-control">
                                                                    <option value="">Seleccione</option>
                                                                    {% for dato in afiliado %}
                                                                        <option value="{{ dato.p_id }}">{{ dato.p_nombrelista }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <p class="listaalert"
                                                                   style="display:none;color: red;font-size: 12px;font-style: italic;">
                                                                    Seleccione una opción</p>
                                                                <br><br>
                                                                <label>Indique el correo del afiliado:</label><br><br>
                                                                <a rel="shadowbox;height=620;width=980"
                                                                   href="{{ path('prueba_listacontacto') }}"
                                                                   id="addlista" title="Crear Lista Contacto"><img
                                                                            src="{{ asset('assets/images/edit.png') }}"></a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <!-- <div class="form-group" id="comunicado" style="display: none">
                                                         <div class="row"  style="padding-left: 10%;">
                                                             <div class="col-sm-6">
                                                                 <label>Indique el correo del afiliado:</label><br><br>
                                                                 <input type="text" style="width: 50%" class="form-control" id="comunicado1" value="" name="comunicado1">
                                                                 <p class="comunicadoalert" style="display:none;color: red;font-size: 12px;font-style: italic;">Campo requerido</p>
                                                                 <p class="correo" style="display:none;color: red;font-size: 12px;font-style: italic;">Dirección de correo invalido</p>
                                                             </div>

                                                         </div>
                                                         <div></div>
                                                         <div></div>

                                                         <div class="row">
                                                            <!--<label class="col-sm-1 control-label">Prueba</label>-->
                                                    <!--<div class="col-xs-4">
                                                    <input type="text" style="width: 151px;"  id="desde2" name="desde2" class="form-control datepicker" value="">
                                                    </div>
                                                    <div style="left:60%; top:-80px; text-align:center;">
                                                    <label>Fecha de Envio</label></div>
                                                   <div class="input-group date" style="left:60%; top:-50px;">
                                                   <input id="fecha" class="datepicker">
                                                    </div>

                                                </div>


                                                </div>-->


                                                    <div class="form-group" id="comunicado" style="display: none">
                                                        <div class="row" style="padding-left: 10%;">
                                                            <div class="col-sm-6">


                                                            </div>
                                                            <div class="col-sm-6" style="top:-95px;">
                                                                <label>Fecha de envio</label><br><br>
                                                                <input id="fecha" class="datepicker">
                                                                <p class="seleccionalert"
                                                                   style="display:none;color: red;font-size: 12px;font-style: italic;">
                                                                    Seleccione una opción</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" id="mensaje" name="mensaje" value="">
                                                    {#<script>#}
                                                    {#$(function()#}
                                                    {#{#}
                                                    {#enviar_plantilla();#}
                                                    {#});#}
                                                    {#</script>#}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="alert alert-danger display-none">
                                                    <button class="close" data-dismiss="alert"></button>
                                                    Debe completar todos los campos
                                                </div>
                                                <p class="asunto"
                                                   style="display: none;font-style: italic;color: #FF0506;padding: 14px 0px 0px 7px;">
                                                    Debe indicar el asunto del correo</p>
                                                <div style="text-align: center">
                                                    <a href="javascript:;" class="btn btn-primary button-previous">
                                                        <i class="fa fa-angle-left"></i> Volver</a>
                                                    <a href="javascript:;" class="btn btn-success button-next"
                                                       id="continuar"> Continuar
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                    <button type="submit" id="Email" name="Email"
                                                            class="btn btn-success button-submit">Enviar
                                                    </button>
                                                    {#<a href="javascript:;" class="btn btn-success button-submit"> Enviar Comunicado#}
                                                    {#<i class="fa fa-check"></i>#}
                                                    {#</a>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function bloquear() {
            var temp = $('#template').val();
            if (!temp) {
                $('.oculto').show();
                return false;
            } else {
                $('.oculto').hide();
                return true;
            }
        }
        function busquedaTemplate() {
            var temp = $('#template').val();
            $.ajax({
                type: "POST",
                async: true,
                url: '{{ path('prueba_template') }}',
                data: {template: temp}
            })
                .done(function (res) {
                    $('#tab2').html(res);
                });
        }
        function enviar() {
            var personas = $('#involucrado').val();
            if (!personas) {
                $('.seleccionalert').show();
                return false;

            } else if (personas == 1) {
                $('#grupoa').val('');
                $('#comunicado1').val('');
                $('#listasa').val('');
                $('.seleccionalert').hide();
                var eleccion = $('#afiliado').val();
                if (!eleccion) {
                    $('.afiliadoalert').show();
                    return false;
                } else {
                    var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
                    if (regex.test($('#afiliado').val().trim())) {
                        $('.afiliadoalert').hide();
                        enviar_plantilla();
                        return true;
                    } else {
                        $('.correo').show();
                        return false;
                    }
                }
            } else if (personas == 2) {
                $('#listasa').val('');
                $('#afiliado').val('')
                $('#comunicado1').val('');
                $('.seleccionalert').hide();
                var eleccion = $('#grupoa').val();
                if (!eleccion) {
                    $('.grupoalert').show();
                    return false;
                } else {
                    $('.grupoalert').hide();
                    enviar_plantilla();
                    return true;
                }
            } else if (personas == 3) {
                $('#afiliado').val('');
                $('#grupoa').val('');
                $('#comunicado1');
                $('.seleccionalert').hide();
                var eleccion = $('#listasa').val();
                if (!eleccion) {
                    $('.listaalert').show();
                    return false;
                } else {
                    $('.listaalert').hide();
                    enviar_plantilla();
                    return true;
                }
            } else if (personas == 4) {
                $('#afiliado').val('');
                $('#grupoa').val('');
                $('#listasa').val('');
                $('.seleccionalert').hide();
                var eleccion = $('#comunicado1').val();
                console.log(eleccion);
                if (!eleccion) {
                    $('.comunicado').show();
                    return false;
                } else {
                    $('.comunicado').hide();
                    enviar_plantilla();
                    return true;
                }
            }
        }

        function enviar_plantilla() {
            var asunto = $('#asunto').val();
            var mensaje = $('#mensaje').val();
            var lista = $('#listasa').val();
            console.log(lista);
            var fecha = $('#fecha').val();
            var afiliado = $('#afiliado').val();
            var comunicado = $('#comunicado1').val();
            console.log(comunicado);
            //var lista=$('#listasa').val();console.log(lista);
            var grupo = $('#grupoa').val();
            console.log(grupo);
            if (lista) {
                var tipo = 1;
                console.log(tipo);
            }
            if (grupo) {
                var tipo = 2;
                console.log(tipo);
            }
            $.ajax({
                type: "POST",
                async: true,
                url: '{{ path('prueba_enviado3') }}',
                data: {
                    Subject: asunto,
                    BodyHTML: mensaje,
                    listas: lista,
                    fechas: fecha,
                    afiliado: afiliado,
                    comunicado: comunicado,
                    grupos: grupo,
                    tipos: tipo
                }
            })
                .done(function (res) {
                    $('.asunto').hide();
                    $('#tab3').html(res);
                });
        }


        function enviar_plantilla2() {
            var asunto = $('#asunto').val();
            console.log(asunto);
            var mensaje = $('#mensaje').val();
            console.log(mensaje);
            var lista = $('#listasa').val();
            console.log(lista);
            var grupo = $('#grupoa').val();
            console.log(grupo);
            var afiliado = $('#afiliado').val();
            console.log(afiliado);
            var programar = $('#encargado').val();
            console.log(programar);
            $.ajax({
                type: "POST",
                async: true,
                url: '{{ path('prueba_enviado2') }}',
                data: {Subject: asunto, BodyHTML: mensaje}
            })
                .done(function (res) {
                    $('.asunto').hide();
                    $('#tab3').html(res);
                });
            alert("ola");
        }


        /*var our=10;
         jsCron.set("30 10 * * *", enviar_plantilla2);
         jsCron.set("31 11 * * *", enviar_plantilla2);
         jsCron.set("32 10 * * *", enviar_plantilla2);*/


        function mostrar_seleccion(opcion) {
            if (opcion == 1) {
                $('#unico').show();
                $('#grupo').hide();
                $('#lista').hide();
                $('#comunicado').hide();
            }
            if (opcion == 2) {
                $('#grupo').show();
                $('#unico').hide();
                $('#lista').hide();
                $('#comunicado').hide();
            }
            if (opcion == 3) {
                $('#lista').show();
                $('#unico').hide();
                $('#grupo').hide();
                $('#comunicado').hide();
            }
        }

        function mostrar_comunicados(opcion) {
            if (opcion == 1) {
                $('#comunicado').show();
            }
            if (opcion == 2) {
                $('#comunicado').hide();
            }
        }

    </script>
    <script type="text/javascript">
        $('#fecha').datepicker({
            dateFormat: 'dd-mm-yy'
        });
    </script>
{% endblock %}