{% extends '::template.html.twig' %}
{% block title %}Comunicados{% endblock %}
{% block class 'fixed-left login-page' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('bundles/comunicade/js/pages/bootstrap-wizard/components.min.css') }}" rel="stylesheet"
          id="style_components" type="text/css"/>
    <link href="{{ asset('bundles/comunicade/js/pages/bootstrap-wizard/plugins.css') }}" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript" language="javascript"
            src="{{ asset('bundles/comunicade/libs/jquery/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/comunicade/js/pages/bootstrap-wizard/bootstrap.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/comunicade/js/pages/bootstrap-wizard/select2.full.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/comunicade/js/pages/bootstrap-wizard/jquery.validate.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/comunicade/js/pages/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/comunicade/js/pages/bootstrap-wizard/form-wizard.js') }}"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    {% block content %}
        <div class="content-page">
            <div class="content">
                <div class="col-sm-12">
                    <div class="page-heading">
                        <h1 class="text-left">Comunicados</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light " id="form_wizard_1">
                                <div class="portlet-body form">
                                    <div id="loading" class="cargando"
                                         style="position: absolute;top: 262px;left:524px;display:none">
                                    </div>
                                    <form class="form-horizontal" action="#" id="submit_form" method="POST">
                                        <div class="form-wizard">
                                            <div class="form-body">
                                                <ul class="nav nav-pills nav-justified steps">
                                                    <li>
                                                        <a href="#tab1" data-toggle="tab" class="step">
                                                            <span class="number"> 1 </span>
                                                            <span class="desc">
                                                            <i class="fa fa-check"></i>Selección de plantilla
                                                        </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab2" data-toggle="tab" class="step">
                                                            <span class="number"> 2 </span>
                                                            <span class="desc">
                                                            <i class="fa fa-check"></i>Edición de plantilla
                                                        </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab3" data-toggle="tab" class="step active">
                                                            <span class="number"> 3 </span>
                                                            <span class="desc">
                                                            <i class="fa fa-check"></i> Envío de Comunicado
                                                        </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div id="bar" class="progress progress-striped" role="progressbar">
                                                    <div class="progress-bar progress-bar-success"></div>
                                                </div>
                                                <div class="tab-content">
                                                    <!-- PRIMER PASO -->
                                                    <div class="tab-pane active" id="tab1">
                                                        <div class="widget-content padding">
                                                            <table id="search-table" width="100%" border="0"
                                                                   cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                <tr>
                                                                    <td colspan="3">
                                                                        <div id="message-builder-wrapper"
                                                                             style="margin-left: 56px;">
                                                                            <div>
                                                                                <div>
                                                                                    <label>Categorías:</label>
                                                                                    <select id="combito">
                                                                                        <option value="1">
                                                                                            Ventas(Soldes)
                                                                                        </option>
                                                                                        <option value="2">Encuesta
                                                                                        </option>
                                                                                        <option value="3">Viajes
                                                                                        </option>
                                                                                        <option value="4">Asociaciones
                                                                                        </option>
                                                                                        <option value="5">Vacaciones
                                                                                        </option>
                                                                                        <option value="6">Estandar
                                                                                        </option>
                                                                                        <option value="7">Belleza
                                                                                        </option>
                                                                                        <option value="8">Dentista
                                                                                        </option>
                                                                                        <option value="9">Ciencias
                                                                                        </option>
                                                                                        <option value="10">Hotel
                                                                                        </option>
                                                                                    </select><br><br>
                                                                                    <div id="div_1" class="mostrar">
                                                                                        {% for t in template %}
                                                                                            <span class="template-btn" data-templateid="{{ t.idTemplate }}">
                                                                                                <img class="imagenes"
                                                                                                    src="{{ asset('assets/comunicado/' ~ t.thumbnail) }}">
                                                                                            </span>
                                                                                        {% endfor %}
                                                                                        {#<span class="template-btn"#}
                                                                                              {#data-templateid="1324">#}
                                                                                           {#<img class="imagenes"#}
                                                                                                {#src="{{ asset('assets/comunicado/83.03.2.jpg') }}">#}
                                                                                        {#</span>#}

                                                                                        {#<span class="template-btn"#}
                                                                                              {#data-templateid="1325">#}
                                                                                             {#<img class="imagenes"#}
                                                                                                  {#src="{{ asset('assets/comunicado/83.04.2.jpg') }}">#}
                                                                                        {#</span>#}

                                                                                        {#<span class="template-btn"#}
                                                                                              {#data-templateid="1326">#}
                                                                                            {#<img class="imagenes"#}
                                                                                                 {#src="{{ asset('assets/comunicado/83.05.2.jpg') }}">#}
                                                                                        {#</span>#}

                                                                                        {#<span class="template-btn"#}
                                                                                              {#data-templateid="1327">#}
                                                                                           {#<img class="imagenes"#}
                                                                                                {#src="{{ asset('assets/comunicado/83.06.2.jpg') }}">#}
                                                                                        {#</span>#}

                                                                                        {#<span class="template-btn"#}
                                                                                              {#data-templateid="1328">#}
                                                                                            {#<img class="imagenes"#}
                                                                                                 {#src="{{ asset('assets/comunicado/83.07.2.jpg') }}">#}
                                                                                        {#</span>#}

                                                                                        {#<span class="template-btn"#}
                                                                                              {#data-templateid="1329">#}
                                                                                            {#<img class="imagenes"#}
                                                                                                 {#src="{{ asset('assets/comunicado/83.08.2.jpg') }}">#}
                                                                                        {#</span>#}

                                                                                        {#<span class="template-btn"#}
                                                                                              {#data-templateid="1330">#}
                                                                                            {#<img class="imagenes"#}
                                                                                                 {#src="{{ asset('assets/comunicado/83.09.2.jpg') }}">#}
                                                                                        {#</span>#}

                                                                                        {#<span class="template-btn"#}
                                                                                              {#data-templateid="1331">#}
                                                                                            {#<img class="imagenes"#}
                                                                                                 {#src="{{ asset('assets/comunicado/83.10.2.jpg') }}">#}
                                                                                        {#</span>#}
                                                                                    </div><!---->
                                                                                </div>
                                                                                <div class="alert alert-danger oculto display-none">
                                                                                    <button class="close"
                                                                                            data-dismiss="alert"></button>
                                                                                    Debe seleccionar una plantilla
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <input type="hidden" id="template" name="template"
                                                                       value="">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- FIN PRIMER PASO -->

                                                    <!-- SEGUNDO PASO -->
                                                    <div class="tab-pane" id="tab2">
                                                        {# Aquí se carga la edición del comunicado
                                                         (En la vista otromas.html.twig) #}
                                                    </div>
                                                    <!-- FIN SEGUNDO PASO -->

                                                    <!-- TERCER PASO -->
                                                    <div class="tab-pane" id="tab3">
                                                        <div class="form-group">
                                                            <div class="row" style="padding-left: 5%;padding-right: 5%">
                                                                <div class="col-md-9">
                                                                    <div class="container">
                                                                        <div class="form-group">
                                                                            <label for="asunto">Asunto:</label>
                                                                            <input id="asunto" class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Destino:</label>
                                                                            <div class="radio">
                                                                                <label><input type="radio"
                                                                                              class="send_now"
                                                                                              id="listacorreoSi">
                                                                                    Listas de correos</label>
                                                                                <label><input type="radio"
                                                                                              class="send_schedule"
                                                                                              id="contactosSi">
                                                                                    Contactos</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group disappeared"
                                                                             id="listascorreos">
                                                                            <label for="listascorreos">Listas de
                                                                                correos:</label>
                                                                            <select class="form-control">
                                                                                <option>- Seleccione -</option>
                                                                                <option>- Crear nueva lista -
                                                                                </option>
                                                                                <option>Lista 1</option>
                                                                                <option>Lista 2</option>
                                                                                <option>Lista 3</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group disappeared"
                                                                             id="listacontactos">
                                                                            <label for="listacontactos">Lista de
                                                                                contactos:</label>
                                                                            <select class="form-control">
                                                                                <option>- Seleccione -</option>
                                                                                <option>Contacto 1</option>
                                                                                <option>Contacto 2</option>
                                                                                <option>Contacto 3</option>
                                                                                <option>Contacto 4</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="container">
                                                                        <div class="form-group">
                                                                            <label>¿Cuando se realizará el
                                                                                envío?</label>
                                                                            <div class="radio2">
                                                                                <label><input type="radio"
                                                                                              class="send_now"
                                                                                              id="send_now">
                                                                                    Enviar Ahora</label>
                                                                                <br>
                                                                                <br>
                                                                                <label><input type="radio"
                                                                                              class="send_schedule"
                                                                                              id="send_schedule">
                                                                                    Programar</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group disappeared"
                                                                             id="grupofecha">
                                                                            <label for="fecha">Fecha de envío:</label>
                                                                            <input type="text" id="fecha"
                                                                                   class="form-control datepicker">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- FIN TERCER PASO -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="alert alert-danger display-none">
                                                    <button class="close" data-dismiss="alert"></button>
                                                    Debe completar todos los campos
                                                </div>
                                                <p class="asunto"
                                                   style="display: none;font-style: italic;color: #FF0506;padding: 14px 0px 0px 7px;">
                                                    Debe indicar el asunto del correo</p>
                                                <div style="text-align: center">
                                                    <a href="javascript:;" class="btn btn-primary button-previous">
                                                        <i class="fa fa-angle-left"></i> Volver</a>
                                                    {#<a id="message-preview" class="btn btn-success">Vista previa</a>
                                                    <a class="btn btn-success message-save-exit">Guardar y salir</a>#}
                                                    <a href="javascript:;"
                                                       class="btn btn-success button-next"
                                                       id="continuar"> Continuar
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                    <button type="submit" id="Email" name="Email"
                                                            class="btn btn-success button-submit">Enviar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <script>
        function bloquear() {
            var temp = $('#template').val();
            if (!temp) {
                $('.oculto').show();
                return false;
            } else {
                $('.oculto').hide();
                return true;
            }
        }

        function busquedaTemplate() {
            var temp = $('#template').val();
            console.log(temp);
            $.ajax({
                type: "POST",
                async: true,
                url: '{{ path('comunicade_edicion2') }}',
                data: {template: temp}
            })
                .done(function (res) {
                    $('#tab2').html(res);
                });
        }

        function enviar() {
            var personas = $('#involucrado').val();
            if (!personas) {
                $('.seleccionalert').show();
                return false;

            } else if (personas === 1) {
                $('#grupoa').val('');
                $('#listasa').val('');
                $('.seleccionalert').hide();
                var eleccion = $('#afiliado').val();
                if (!eleccion) {
                    $('.afiliadoalert').show();
                    return false;
                } else {
                    var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
                    if (regex.test($('#afiliado').val().trim())) {
                        $('.afiliadoalert').hide();
                        enviar_plantilla();
                        return true;
                    } else {
                        $('.correo').show();
                        return false;
                    }
                }
            } else if (personas === 2) {
                $('#listasa').val('');
                $('#afiliado').val('')
                $('.seleccionalert').hide();
                var eleccion = $('#grupoa').val();
                if (!eleccion) {
                    $('.grupoalert').show();
                    return false;
                } else {
                    $('.grupoalert').hide();
                    enviar_plantilla();
                    return true;
                }
            } else if (personas === 3) {
                $('#afiliado').val('');
                $('#grupoa').val('');
                $('.seleccionalert').hide();
                var eleccion = $('#listasa').val();
                if (!eleccion) {
                    $('.listaalert').show();
                    return false;
                } else {
                    $('.listaalert').hide();
                    enviar_plantilla();
                    return true;
                }
            }
        }

        function mostrar_seleccion(opcion) {
            if (opcion === 1) {
                $('#unico').show();
                $('#grupo').hide();
                $('#lista').hide();
            }
            if (opcion === 2) {
                $('#grupo').show();
                $('#unico').hide();
                $('#lista').hide();
            }
            if (opcion === 3) {
                $('#lista').show();
                $('#unico').hide();
                $('#grupo').hide();
            }
        }

        function enviar_plantilla() {
            var asunto = $('#asunto').val();
            var mensaje = $('#mensaje').val();
            var lista = $('#listasa').val();
            var grupo = $('#grupoa').val();
            var afiliado = $('#afiliado').val();
            $.ajax({
                type: "POST",
                async: true,
                url: '{{ path('comunicade_enviado3') }}',
                data: {Subject: asunto, BodyHTML: mensaje, listas: lista, grupos: grupo, afiliado: afiliado}
            })
                .done(function (res) {
                    $('.asunto').hide();
                    $('#tab3').html(res);
                });
        }

    </script>
{% endblock %}