{% extends '::menu.html.twig' %}
{% block title %}Actividades{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevaActividad.html.twig' %}
        {% include 'editarActividad.html.twig' %}
        {% include 'eliminarActividad.html.twig' %}
        <div class="content-page">
            <!-- ============================================================== -->
            <!-- Start Content here -->
            <!-- ============================================================== -->
            <div class="content">
                <!-- Page Heading Start -->
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="fa fa-briefcase"></i> Actividades
                    </h1>
                    <h3>Lista de actividades</h3>
                </div>
                <!-- Page Heading End-->
                <!-- Your awesome content goes here -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2 data-toggle="tooltip" data-placement="top" title="{{ nombre }}">
                                    <strong>Actividades</strong> del caso
                                    "{{ nombre | length > 45 ? nombre | slice(0, 45) ~ '...' : nombre }}"</h2>
                                <div class="additional-btn">
                                    {#{% if nivel == 8 %}#}
                                    <button class="btn btn-xs btn-success" data-toggle="modal"
                                            data-target="#nuevaActividad" onclick="crearActividad()"><i
                                                class="fa fa-plus-circle"></i> Agregar
                                    </button>
                                    {#{% endif %}#}
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listaactividades" cellspacing="0" width="100%">
                                    <thead>
                                    <tr role="row" id="fechaCaso"
                                        data-fecha-inicio="{{ caso.fechaCreacion | date("d-m-Y") }}"
                                        data-fecha-fin="{{ caso.fechaCierre | date("d-m-Y") }}">
                                        <th>Creado por</th>
                                        <th>Descripción</th>
                                        <th>Status</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for a in actividad %}
                                        <tr>
                                            <td id="iduser{{ a.idActividad }}"
                                                data-iduser="{{ a.idUsuario }}">{{ a.idUsuario }}</td>
                                            <td id="desc{{ a.idActividad }}" data-desc="{{ a.descripcion }}"
                                                data-toggle="tooltip" data-placement="top"
                                                title="{{ a.descripcion }}">{{ a.descripcion | length > 45 ? a.descripcion | slice(0, 45) ~ '...' : a.descripcion }}</td>
                                            <td class="text-center" id="status{{ a.idActividad }}"
                                                data-status="{{ a.status }}">
                                                {% if a.status == 1 %}
                                                    <label class="label label-success">Abierta</label>
                                                {% elseif (a.status == 2) %}
                                                    <label class="label label-primary">En progreso</label>
                                                {% elseif (a.status == 3) %}
                                                    <label class="label label-warning">Detenida</label>
                                                {% elseif (a.status == 4) %}
                                                    <label class="label label-success">Completada</label>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group btn-group-xs">
                                                    <a href="#" class="btn btn-xs btn-danger" data-toggle="modal"
                                                       data-target="#eliminarActividad"
                                                       data-codigo="{{ app.request.get('id') }}"
                                                       id="botonEliminarActividad"
                                                       data-id="{{ a.idActividad }}">
                                                        <i class="fa fa-minus"></i>
                                                    </a>
                                                    <a class="btn btn-xs btn-default" data-toggle="modal"
                                                       data-target="#editarActividad"
                                                       onclick="editarActividad('{{ a.idActividad }}')">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a class="btn btn-default" href="{{ path('casos_listadoCasos') }}">Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End content here -->
            <!-- ============================================================== -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#listaactividades').DataTable({
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ Registros por página",
                        "sZeroRecords": "No se han encontrado registros asociados",
                        "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                        "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                        "sInfoFiltered": "(buscado en _MAX_ Registros)",
                        "sSearch": "Buscar:",
                        "oPaginate": {
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "fnInfoCallback": null
                    }
                });
            });
        });
        var fecha = $("#fechaCaso");
        $('input.editfechainicioa').datepicker('option', 'minDate', fecha.data("fecha-inicio"));
        $('input.editfechafina').datepicker('option', 'maxDate', fecha.data("fecha-fin"));
    </script>
{% endblock %}