{% extends '::menu.html.twig' %}
{% block title %}Casos{% endblock %}
{% block class 'fixed-left login-page' %}
{% block body %}
    {{ parent() }}
    {% block content %}
        {% include 'nuevoCaso.html.twig' %}
        {% include 'editarCaso.html.twig' %}
        {% include 'ActividadesCasos.html.twig' %}
        <div class="content-page">
            <div class="content">
                <div class="page-heading">
                    <h1 class="text-left">
                        <i class="fa fa-book"></i>
                        Casos
                    </h1>
                    <h3>Lista de casos</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-header">
                                <h2><strong>Casos</strong> de empresas</h2>
                                <div class="additional-btn">
                                    <button class="btn btn-xs btn-success pull-right" data-toggle="modal"
                                            data-target="#nuevoCaso">
                                        <i class="fa fa-plus-circle"></i> Agregar
                                    </button>
                                </div>
                            </div>
                            <div class="widget-content padding">
                                <table class="table table-striped table-bordered dt-responsive nowrap dataTable"
                                       id="listacaso" cellspacing="0" width="100%">
                                    <thead>
                                    <tr role="row">
                                        <th>Nombre</th>
                                        <th>Código</th>
                                        <th>F. Apertura</th>
                                        <th>F. Cierre</th>
                                        <th>Persona encargada</th>
                                        <th>Status</th>
                                        <th>Descripción</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dato in datos %}
                                        {% set status = dato.status %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_1" id="nombreCaso{{ dato.codigo }}"
                                                data-nombre="{{ dato.nombre }}" data-toggle="tooltip"
                                                data-placement="top"
                                                title="{{ dato.nombre }}">{{ dato.nombre | length > 45 ? dato.nombre | slice(0, 45) ~ '...' : dato.nombre }}</td>
                                            {#<td id="" data-documento="{{ dato.documento }}">{{ dato.codigo }}</td>#}
                                            <td>{{ dato.codigo }}</td>
                                            <td id="fechaInicio{{ dato.codigo }}"
                                                data-fecha-inicio="{{ dato.fechaCreacion | date('d-m-Y') }}">{{ dato.fechaCreacion|date('d-m-Y') }}</td>
                                            <td id="fechaCierre{{ dato.codigo }}"
                                                data-fecha-cierre="{{ dato.fechaCierre | date('d-m-Y') }}">{{ dato.fechaCierre|date('d-m-Y') }}</td>
                                            <td id="encargado{{ dato.codigo }}"
                                                data-encargado="{{ dato.username | capitalize }}">{{ dato.username }}</td>
                                            <td class="text-center" id="status{{ dato.codigo }}"
                                                data-status="{{ status }}">
                                                {% if status is not null and status == 1 %}
                                                    {% if date("now") > date(dato.fechaCierre) %}
                                                        <label class="label label-warning">Expirado</label>
                                                    {% else %}
                                                        <label class="label label-success">Abierto</label>
                                                    {% endif %}
                                                {% elseif status is not null and status == 2 %}
                                                    <label class="label label-danger">Cerrado</label>
                                                {% endif %}
                                            </td>
                                            <td id="descripcionCaso{{ dato.codigo }}"
                                                data-descripcion="{{ dato.descripcion }}">{{ dato.descripcion }}</td>
                                            <td class="text-center">
                                                <div class="btn-group btn-xs">
                                                    {% if dato.username == app.user.getUsername() %}
                                                        <button class="btn btn-xs btn-default btn-tooltip"
                                                                id="editarCaso"
                                                                onclick="editarCaso('{{ dato.codigo }}')"
                                                                data-caso="{{ dato.codigo }}"
                                                                data-toggle="modal" data-placement="top"
                                                                title="Editar caso"
                                                                data-target="#editarCaso">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    {% endif %}
                                                    <a href="{{ path('actividades', {'id': dato.codigo}) }}"
                                                       class="btn btn-xs btn-default btn-tooltip"
                                                       data-actividad="{{ dato.codigo }}" data-placement="top"
                                                       title="Ver actividades">
                                                        {#{{ (dato.status == 2) ? 'disabled' : '' }}#}
                                                        <i class="fa fa-laptop"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-modal md-super-scaled md-hide" id="md-eliminarcaso">
            <div class="md-content">
                <h3>¿Está seguro de que desea <strong>Eliminar</strong> este Caso?</h3>
                <input type="hidden" id="codigo_eliminar" value=""/>
                <div>
                    <p class="text-center">
                        <button class="btn btn-danger md-close">Cerrar</button>
                        <button class="btn btn-success md-close" onclick="eliminarcaso()">Sí, seguro</button>
                    </p>
                </div>
            </div><!-- End div .md-content -->
        </div>
    {% endblock %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/ImageSelect.jquery.js') }}"></script>
    <script>
        $(function () {
            $('#listacaso').DataTable({
                "oLanguage": {
                    "sLengthMenu": "_MENU_ Registros por página",
                    "sZeroRecords": "No he encontrado registros asociados",
                    "sInfo": "Mostrando _START_-_END_ de _TOTAL_ Registros",
                    "sInfoEmpty": "Mostrando 0 to 0 de 0 Registros",
                    "sInfoFiltered": "(buscado en _MAX_ Registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "fnInfoCallback": null
                }
            });
        });
    </script>
{% endblock %}